[2018-05-31 06:09] jmgasper opened #1 "Remove header and sidebar on group add message"
When a member is added to a Gitlab or Github group, we don't want to give them access to TC-X.  So, this screen shouldn't have the sidebar or header, and the user shouldn't be logged into TC-X afterwards.  We just want to show the success message, but a normal user won't have access to any TC-X functionality.

<img width="1514" alt="screen shot 2018-05-31 at 4 07 53 pm" src="https://user-images.gi

[2018-05-31 06:11] jmgasper opened #2 "Make archived projects a separate tab"
On the "Project Management" view, let's remove the "Toggle Archived Projects" button and replace it with the same sort of tab mechanism we added to "Git access control".

There will be two tabs:

* "Current Projects"
* "Archived Projects"

We won't load the archived projects until the user actually clicks the tab, to ensure proper performance when loading this page, since archived projects will be

[2018-05-31 06:18] jmgasper opened #3 "Move "+" button on Project Management"
On the Project Management page, to clean this up a bit, let's make the following changes:

1.  Change the text of the add button from "+" to "+ Add Project"
2.  Move the button so that it's right aligned not center aligned.

<img width="1514" alt="screen shot 2018-05-31 at 4 10 11 pm" src="https://user-images.githubusercontent.com/21790/40764968-315f9cd6-64ee-11e8-82c7-5b9dda32d678.png">

[2018-05-31 06:20] jmgasper opened #4 "Remove unused fields and links"
As we prepare for a trial, let's remove a few things that aren't implemented yet:

1.  On Add / Edit project pages, let's hide the "Rocket.chat Webhook URL" and "Rocket.chat Channel Name" fields.

2.  In the sidebar, let's remove "My Challenges" and "Changelog"

![screen_shot_2018-05-31_at_4_19_11_pm](https://user-images.githubusercontent.com/21790/40765026-73d70d9c-64ee-11e8-9b38-f44d798d404b.jpg

[2018-05-31 06:25] jmgasper opened #5 "Git access control "Get Link" button"
When "Get Link" is clicked, we are going to change the behaviour a little bit:

1.  Change the "Get Link" text to an indicator spinner and disable the button
2.  Generate the link
3.  Copy the link to the clipboard
4.  After generated and copied, show a success message to the user that reads "Link has been copied to the clipboard"
5.  Re-enable the button

![screen_shot_2018-05-31_at_4_24_37_pm](h

[2018-05-31 06:28] jmgasper opened #6 "Stacked errors"
Across the site, we don't want errors to "stack" as they pile up.  I can see this on the Github page for access control because I don't have owner rights to most of the repos shown.

Too many error messages causes the app to draw incorrectly.  If an error is showing and another one comes in, we should fade out the original error and fade in the new error.

<img width="1514" alt="screen shot 2018-0

[2018-05-31 07:01] jmgasper opened #7 "Move buttons on edit project page"
On the edit project page, similar to the "+" on the project management page, let's move the two buttons to be right aligned instead of centered.

![screen_shot_2018-05-31_at_4_41_05_pm](https://user-images.githubusercontent.com/21790/40766850-2d64be08-64f4-11e8-859b-32fac4596ec2.jpg)

[2018-05-31 07:12] jmgasper opened #8 "Webhook configuration"
When I added a webhook automatically through x.topcoder-dev.com, the webhook is added successfully, but https://x.topcoder-dev.com/webhooks/github isn't the correct path.

I think I messed this up - the receiver is always going to be separate from the main web UI.  We had at one time discussed integrating the receiver into the website but eventually decided to separate them.

Because of this, we n

[2018-05-31 07:44] jmgasper opened #9 "Assigning a Gitlab user not working"
When a challenge is created, or an assignee is added to a ticket that didn't have one previously, we need to add the assignee to the challenge on the Topcoder side.

There needs to be two steps here:

1.  Get the Topcoder username for the Gitlab assignee via the usermappings MongoDB table
2.  Apply the assignee to the challenge when it's created, or if the assignee is added after the challenge is

[2018-05-31 07:52] jmgasper opened #10 "Close issue on Gitlab not processing correctly"
In testing the events on Gitlab, I found that closing a ticket isn't processed correctly.  The "unknown event detected" is raised.

[code]

[2018-05-31 07:56] jmgasper opened #11 "Close issue on Github not processing correctly"
As with the Gitlab issue, this one's throwing "unknown event detected"

[code]

[2018-05-31 08:00] jmgasper commented on #11
What *should* happen:

1.  When closed, the ticket is paid on the Topcoder site to the current assignee
2.  If there's no assignee, it will just be closed on the Topcoder site
3.  After the ticket is processed successfully and paid, the labels of the ticket should be changed to "Paid" and "Fix Accepted"
4.  A comment should be added that says "Payment task has been updated : <url to TC ticket>"

[2018-05-31 08:01] jmgasper commented on #10
What *should* happen:

1.  When closed, the ticket is paid on the Topcoder site to the current assignee
2.  If there's no assignee, it will just be closed on the Topcoder site
3.  After the ticket is processed successfully and paid, the labels of the ticket should be changed to "Paid" and "Fix Accepted"
4.  A comment should be added that says "Payment task has been updated : <url to TC ticket>"

[2018-06-01 06:41] #8 closed

[2018-06-05 01:14] jmgasper opened #12 "Dependency security problem"
Github has flagged a security problem with one of our dependencies in the receiver and processor.  We need to update the appropriate package version(s) to eliminate this warning.

<img width="758" alt="screen shot 2018-06-05 at 11 13 37 am" src="https://user-images.githubusercontent.com/21790/40949478-98950046-68b1-11e8-8236-9b1ef4c203dd.png">

[2018-06-06 21:36] jmgasper commented on #12
Further details:

https://nvd.nist.gov/vuln/detail/CVE-2018-3728

<img width="760" alt="screen shot 2018-06-07 at 7 36 08 am" src="https://user-images.githubusercontent.com/21790/41066545-7f99172e-6a25-11e8-9707-ec7058935248.png">

[2018-06-13 06:15] #6 closed

[2018-06-13 06:15] #5 closed

[2018-06-13 06:15] #4 closed

[2018-06-13 06:16] #1 closed

[2018-06-13 06:16] #2 closed

[2018-06-13 06:16] #3 closed

[2018-06-13 06:16] #7 closed

[2018-06-13 06:28] jmgasper commented on #12
<img width="758" alt="screen shot 2018-06-13 at 4 28 05 pm" src="https://user-images.githubusercontent.com/21790/41333901-d62eb322-6f26-11e8-9053-fdeff15262a5.png">
<img width="757" alt="screen shot 2018-06-13 at 4 28 00 pm" src="https://user-images.githubusercontent.com/21790/41333903-d65f5e50-6f26-11e8-9213-ab93b6b047d8.png">

[2018-06-14 04:27] jmgasper opened #13 "Failure when creating challenge"
This was what I saw in testing:

1. Create a ticket in Gitlab
2. Processor attempts to create the challenge, but failed due to an issue in the TC API
3. Any further update failed to the ticket - assignee, prize, etc... because there was no backing challenge

We need to do the following:

1.  On an error in creating or updating a challenge (basically any TC API error) - write a message back as a co

[2018-06-14 04:45] jmgasper opened #14 "Better logging"
In the processor, I'd like to see better logging, especially for the messages to / from the different services.

I want to see what data is being sent to:

* Topcoder API
* Gitlab API
* Github API

I also want to see clear responses to requests to the 3 items above, including the JSON response and the HTTP error code.

Right now it's pretty tough.  Here's an example of what I'm seeing on Heroku:

[2018-06-14 22:08] jmgasper opened #15 "Users should only see their own projects"
In the list of projects, users should only see their own, with "username" field == current logged on user.

See this when I login with "lazybaer":

<img width="1776" alt="screen shot 2018-06-15 at 8 06 31 am" src="https://user-images.githubusercontent.com/21790/41440726-1c88e4b2-7073-11e8-886f-2174491b5ffd.png">

The two "Topcoder X ... Test" projects are owned by user "TonyJ" and "Submission API"

[2018-06-14 22:31] jmgasper opened #16 "Bad repo assumption"
This chunk of code is causing some problems:

[code]

We can't assume that the "repoOwner" username is in the middle of the URL.  For instance, consider the case of this actual project URL:

https://github.com/topcoder-platform/topcoder-x-ui

I would never be able to use TC-X to set up labels or webhooks here because it will try to use "topcoder-platform" as the owner username.

We need to do bett

[2018-06-15 02:32] jmgasper opened #17 "Loading projects flashes and then shows correct list"
See this video - can we eliminate showing the list, and then flashing it with updated values?  It's kind of confusing to look at.

https://www.dropbox.com/s/0xunrel5951yv8s/FlashingBug.mov?dl=1

[2018-06-15 04:43] jmgasper opened #18 "Close challenge failure"
When we close a ticket in Gitlab or Github, the flow should be:

* When closed, the ticket is paid on the Topcoder site to the current assignee
* If there's no assignee, it will just be closed on the Topcoder site
* After the ticket is processed successfully and paid, the labels of the ticket should be changed to "Paid" and "Fix Accepted"
* A comment should be added that says "Payment task has bee

[2018-06-15 05:24] jmgasper opened #19 "Assignee handle"
In this message, when a challenge is assigned:

[code]

We want to maintain the case sensitivity of the handle - "TonyJ" instead of "tonyj".

[2018-06-15 05:29] jmgasper commented on #19
Note - this only seems to affect Gitlab.  Github's message is fine.

[2018-06-15 05:29] #19 closed

[2018-06-15 05:30] #9 closed

[2018-06-18 22:16] jmgasper opened #21 "Update processor and receiver to use different Kafka library"
The processor is crashing on a regular basis and losing it's connection to the Kafka endpoint.  Other node apps that Topcoder develops use this library in their package.json instead.  Let's try to move over to this one to see if it helps with stability.

[code]

[2018-06-18 22:19] jmgasper commented on #11
Still seeing trouble with this one.  We tracked down an issue with the activation service and fixed it, and I'm able to manually do this, but it's failing in the processor:

[code]

[2018-06-19 13:57] veshu commented on #13
@jmgasper how exactly the processedSuccessfully flag should work. I see no use of this unless we are again sending the message back to kafka when successfull operation.

Do we need to send the event detail to kafka even after processed succesffully? if not we can simply increase the retryCount and sent to kafka, which will be tried again.

[2018-06-19 14:39] jmgasper commented on #13
Ok - setting the retryCount and posting back to Kafka makes sense - let's do that.

[2018-06-20 08:15] veshu commented on #18
@jmgasper For reshceduling the event for certain interval, I see following ways:
1. we use some background jobs to reschedule the event
2. save in our db and reschedule at certain interval from db

As there is no option to schedule in kafka. And relying on timeOut looks problematic as it will break if service is restarted.

[2018-06-20 13:00] jmgasper commented on #18
@cwdcwd - Any thoughts on this?

[2018-06-20 19:41] #17 closed

[2018-06-20 19:43] #15 closed

[2018-06-20 19:47] jmgasper commented on #16
@veshu - I'm still not seeing this one working:

[code]

<img width="1392" alt="screen shot 2018-06-20 at 2 47 11 pm" src="https://user-images.githubusercontent.com/21790/41680988-e21f5f84-7498-11e8-9a41-08513abb813d.png">

[2018-06-20 23:37] veshu commented on #16
That must be due of extra url segments after url name. Can you please try remove issues/16 and add valid url. Or we need to handle such validation as well?

[2018-06-21 04:51] veshu commented on #11
@jmgasper I verified this in local it is working
https://www.topcoder-dev.com/direct/contest/detail.action?projectId=30052080

![image](https://user-images.githubusercontent.com/2202045/41698578-df589882-753e-11e8-8227-931c6e63ace8.png)

[2018-06-21 13:45] jmgasper commented on #16
Why would auth fail?  It works as expected on other repos, under my "jmgasper" group, but not ones I've created elsewhere.

What does that error mean about ". Not Found"?  Is that coming from our code or Github?

[2018-06-21 13:45] jmgasper commented on #11
Odd - is there any way to debug why this isn't working in our deployments?  Maybe we need to focus on the logging ticket here?

https://github.com/topcoder-platform/topcoder-x-ui/issues/14

[2018-06-21 13:48] veshu commented on #16
@jmgasper auth means permission here.
that error is comming from Github, I have checked full response from github, they only it is returning not found error.

[2018-06-21 13:51] jmgasper commented on #16
Can you add a sample request please?  I'll look at that and see if I can run it outside TC-X

[2018-06-21 14:15] veshu commented on #16
You can try this one check your token.
[code]

[2018-06-22 13:36] jmgasper commented on #16
@veshu - Tested this again after the fix to the permissions and it looks to be working, thanks!

[2018-06-22 13:36] #16 closed

[2018-06-22 13:46] veshu commented on #11
@jmgasper Can you please provide the log detail from updated processor code? detail logging is implemented, not sure how detail it will log for topcoder api failure, i have intentionally removed the api key from tc api call to check logger info which was printing missing auth error, so we should be getting error message from tc now by processor logger.

[2018-06-22 13:47] jmgasper opened #22 "Copilot payments"
There are two types of payments in topcoder - one that is normal payment for submission and the other of type co-pilot for work that copilots do outside of running challenges.

We need to handle these copilot payments through Topcoder-X.

### General flow

A copilot will log specific items during the week with payment amounts discussed with the PM.  These items will be grouped per Topcoder-X proje

[2018-06-22 16:40] jmgasper commented on #14
@veshu - I am still not seeing this work entirely for the TC API.  Here's an example of authorization failing, but I don't see the request / response from TC:

[code]

[2018-06-22 16:43] jmgasper commented on #11
Here's a big chunk of log:

[code]

[2018-06-22 16:45] jmgasper commented on #18
@veshu - This is looking pretty good.

A couple things:

1.  On a second failure, let's ignore sending the comment to the Github / Gitlab issue that the payment failed.  I don't want to spam tickets with a bunch of messages.

2.  I'm seeing the ticket be re-assigned, which is redundant - see attached:

<img width="820" alt="screen shot 2018-06-22 at 11 37 20 am" src="https://user-images.githubuser

[2018-06-30 18:45] jmgasper opened #24 "[$80] Processing order"
If a user creates a ticket with an assignee, it seems like now we handle two separate events - one for the created event and one for assigning the user.

This caused a problem in my testing because the assignee event was processed first, before there was a challenge to assign to, and then the assignee was processed twice.

If we can handle this case and do the creation with the assignee as part of

[2018-06-30 18:51] jmgasper opened #25 "[$50] Allow user to change TC Direct ID"
Topcoder Direct IDs change as contracts are renewed.  We need to change this to allow the user to edit the TC Direct ID.

![screen shot 2018-06-30 at 1 50 13 pm](https://user-images.githubusercontent.com/21790/42128247-a6294c2a-7c6c-11e8-84bf-66f960403cf2.png)

[2018-06-30 18:53] #14 closed

[2018-06-30 18:54] #21 closed

[2018-06-30 19:08] #10 closed

[2018-06-30 19:08] #11 closed

[2018-06-30 19:31] #13 closed

[2018-06-30 19:31] #18 closed

[2018-06-30 19:32] #12 closed

[2018-07-02 07:48] veshu commented on #24
@jmgasper I think its not possible. as github send separate webhook for assignement.
Now we have handling assignment during create as well. but I don't see a way to find if current issue is being creating challenge or not before trying to assingn.

One thing we can do is remove the challenge assignment during issue create and only handle during assignement event, and we could push assignement even

[2018-07-05 15:38] jmgasper commented on #24
Ok - let's remove the challenge assignment during issue create.  That will better match the Github flow - we just have to make sure it also works for Gitlab.

[2018-07-05 15:39] jmgasper commented on #24
Bumped the payment for the extra work.

[2018-07-06 16:07] veshu commented on #24
@jmgasper fixed

[2018-07-06 23:13] #25 closed

[2018-07-10 00:20] #24 closed

[2018-07-11 04:45] jmgasper opened #28 "Handling issues where challenge creation fails"
We have a problem when challenge creation fails, which can happen for various reasons.

If challenge creation fails for a git ticket, then future updates to that ticket also fail because there is no Topcoder challenge associated with the ticket.

### Expected functionality

To get around this, we should do the following:

1.  On future updates to the ticket (assignee changed, ticket updated, etc..

[2018-07-11 05:18] jmgasper opened #29 "Dashboard page in the UI"
In the UI, we are going to fill in the Dashboard page in the UI.

The Dashboard will provide an overview of all tickets for all projects associated with the logged in user.  This will allow the copilot easy access to see the status of all tickets across all of their managed projects in both Gitlab and Github in one spot.

Similar to the "Project Management" page, we will have the same "+ Add Proje

[2018-07-19 00:03] jmgasper commented on #28
@veshu  - In testing this, I see it handled for label editing and unassignment, but I don't see it working for a case where I edit the payment.

For instance, I had an existing ticket and I moved the payment from $75 to $80 and the backing challenge wasn't created.

[2018-07-19 00:31] jmgasper opened #31 "[$75] Existing user handling"
@veshu  - When using the links in "Git access control", we need to handle projects that are already set up in Gitlab / Github, but are being added to Topcoder-X.

What this means is that the users may already have access in Gitlab / Github, but aren't mapped properly in Topcoder-X.

Right now, this is causing problems because the flow errors out at `{“message”:“Failed to add group member. Conflict

[2018-07-19 00:38] jmgasper opened #32 "[$30] TC redirect"
@veshu - In testing the Git access links, we ran into this one

* Test link: https://x.topcoder.com/api/v1/gitlab/groups/registration/f06bbb9e-21bb-4b23-bea4-3114b313f2d7-1531958646835

### Current Result:

![unnamed](https://user-images.githubusercontent.com/21790/42914796-aa9f55ce-8b3f-11e8-9529-a49c3d70656b.png)

### Expected Result:

The member should be redirected to the Gitlab / Github autho

[2018-07-19 06:32] #29 closed

[2018-07-19 23:29] jmgasper opened #33 "Assigned ticket check"
The "Assigned" label isn't getting updated or handled properly when a ticket is closed:

### Expected

When a ticket is closed, we add "Fix Accepted" and "Paid" labels to the ticket after the payment has been processed.

The ticket should be moved from the "Assigned" tab in the dashboard to "Paid"

### Currently

The ticket isn't moving.  I have a ticket I used for testing, and it is closed with l

[2018-07-20 18:05] veshu commented on #28
@jmgasper I couldn't replicate this issue

![image](https://user-images.githubusercontent.com/2202045/43017905-8df375a2-8c77-11e8-9c3e-01838160c9c7.png)

The challenge is created only after 4 minutes for current default configurations.

[2018-07-20 20:05] veshu commented on #33
couldnt replicate. is this producable on dev as well?

[2018-07-21 01:20] #28 closed

[2018-07-22 06:18] jmgasper opened #35 "Unassignment not working"
Unassigning a user from a ticket isn't reflected in the Topcoder challenge that backs the Gitlab or Github ticket.

### Expected

If a ticket is currently assigned to a member and the assignee is removed / cleared, the assignee should also be *removed* from the challenge in the Topcoder API.

### Current

Right now, the assignee is added properly, but when it's removed in Gitlab / Github the backi

[2018-07-24 00:52] #32 closed

[2018-07-24 00:52] #31 closed

[2018-07-24 02:42] jmgasper commented on #33
@veshu - I'm testing in dev but am running into API issues.  I'll let you know. I've seen this multiple times in prod.

[2018-07-24 23:06] jmgasper opened #36 "[$30] Github comment adding not working in prod"
@veshu - I'm seeing a problem with adding comments.

My configuration is as follows:

<img width="1482" alt="screen shot 2018-07-25 at 9 05 35 am" src="https://user-images.githubusercontent.com/21790/43170730-eba2504a-8fe9-11e8-9e5f-8f6b06edc167.png">

And this is what I see in the logs - the challenge is created successfully, but the comments aren't added properly.

This path appears incorrect, b

[2018-07-24 23:09] jmgasper opened #37 "[$10] Project updating not working"
I'm seeing JS errors when trying to save a project update.  This was working previously, so I'm thinking a recent fix broke something:

<img width="1482" alt="screen shot 2018-07-25 at 9 09 07 am" src="https://user-images.githubusercontent.com/21790/43170817-668c9b08-8fea-11e8-86e9-dd8feeba48cf.png">

[2018-07-25 07:16] veshu commented on #36
@jmgasper ready for review

[2018-07-26 01:39] jmgasper opened #39 "Topcoder-X signup link in comments"
When a user that's not registered with Topcoder-X assigns a ticket, we display a message like this:

[code]

What I'd like to have is the link to register with Topcoder-X as part of the comment, generated the same way we do in the `Git access control` section of the Topcoder-X UI

The updated comment should look like this:

[code]

[2018-07-30 22:25] jmgasper opened #40 "Git access link not working for Github"
I created this link, but it's not working as expected:

https://x.topcoder.com/api/v1/github/teams/registration/48c2ed06-ab53-4dee-a98b-eebcde50f17b-1532985120810

The error the member is seeing:

[code]

[2018-07-31 20:27] cwdcwd commented on #40
FWIW I've seen that on the Ragnar links too when the originating link creator does not have rights to add a member to the Github Organization. While they might be able to add them to teams I don't think they can add them to the org.
At least that's what my suspicion is for this particular error based on my fuzzy memory and poor research. =)

[2018-08-04 12:36] narekcat commented on #35
@jmgasper Is this issue still actual ? I set up all three projects in my local machine, follow all instructions on REAMDME.md files and test this issue for gitlab and github. In both cases it works correctly.

[2018-08-04 13:08] jmgasper commented on #35
Ok - please make a clear note of how you tested in your README and the reviewers will validate.

[2018-08-04 13:08] narekcat commented on #35
Ok, thank you.

[2018-08-08 00:42] #37 closed

[2018-08-08 00:42] #36 closed

[2018-08-10 20:11] cwdcwd commented on #22
@jmgasper this one isn't in play yet, right?

[2018-08-10 20:16] cwdcwd opened #41 ""Open for pick up" ticket not showing in Dashboard"
Competitors - note the steps below, especially the distinction that this was an existing ticket.

STR:
- set up the TCX project for the [repo](https://github.com/topcoder-platform/community-app) including webhooks and labels
- took an [existing ticket](https://github.com/topcoder-platform/community-app/issues/1156) and set its prize money and labeled "Open for Pickup"
- Challenge eventually create

[2018-08-10 20:17] cwdcwd opened #42 "Admin View/Filter"
Administrative users should be able to see all TCX projects. A filter or toggle of some kind to show owned projects or all projects would be ideal.

### Implementation
We can do this keyed off of the following roles:

* `admin`
* `administrator`

As with the `COPILOT_ROLE` configuration, please ensure that this is configurable.  We want to be able to configure multiple roles here, as an env variab

[2018-08-10 20:19] cwdcwd opened #43 "Ownership transfer"
It would be convenient for an Admin to set up a project and then transfer project ownership to another user, such as a copilot.

### UI

In the UI, for an admin, we will show a new option on the `Edit` screen for a project.  This button will be `Transfer ownership` and will be in the header of the screen.

When `Transfer ownership` is clicked, we will show a popup with this information:

* Title:

[2018-08-10 22:01] jmgasper commented on #22
@cwdcwd - Correct.  A challenge has been pending for awhile here.  I've been having issues getting members involved.  Lots of setup, which is why I added that long setup document to try to condense that a bit.

[2018-08-10 22:02] jmgasper commented on #41
Hmmm.... I wonder if this was because it was an existing ticket vs. new.  I'll add this to a bug bash challenge to investigate

[2018-08-11 22:11] jmgasper opened #44 "Display how many hours a ticket has been assigned"
Since members only have 24 hours to complete a ticket, we'd like the ability to show how long a ticket has been assigned in the UI.

### UI

On the dashboard, we will add a new column to the `Assigned` and `Ready for review` tables called `Hours Assigned`.  This will be the number of hours since the ticket was marked as `Assigned`.  Please use a bold font for the value.

* For tickets that are <18

[2018-08-12 15:27] narekcat commented on #22
@jmgasper It says "The title of the challenge should be Copilot payment for <project name> <current date>, like Copilot payment for Sparkdown July 12th, 2018". There are two type of challenges, one for topcoder challenge, like this one, and other for PM's like challenge for copilot payment. Am I right ?

[2018-08-12 15:36] narekcat commented on #22
@jmgasper One more question:
"When + Add Payment is clicked, we will go to a page with a form with these form elements:

Project, which is a drop down of existing projects configured for the user in Topcoder-X
Amount, which is a numerical entry for a payment amount
Description, which is a text field allowing for a short description of the item.
Challenge, the Topcoder challenge ID associated with

[2018-08-12 21:31] jmgasper commented on #22
@narekcat - Please post these questions in the forum for the challenge.

[2018-08-13 08:47] narekcat commented on #22
@jmgasper Ok, I'll delete these questions from here.

[2018-08-13 16:21] ThomasKranitsas opened #45 "Automatically Create a help page"
Create a `Help` page that will list the required labels we have to use.

For example, in many of my projects, I’m using the following structure http://take.ms/6USYQ which is slightly different.

### Functionality

In `Edit` for a Project, we currently have two buttons:

* Add Labels
* Add Webhook

This ticket will track adding a 3rd option - `Add wiki rules`.

When this button is clicked, we will

[2018-08-13 18:45] cwdcwd commented on #45
we could probably post the TC rules to the wiki for a repo when we do the set up in the Admin UI.

[2018-08-13 18:46] cwdcwd commented on #44
I wonder if we could run some sort of a Cron-like job and then post labels or comments?

[2018-08-13 18:46] cwdcwd commented on #43
@jmgasper any thoughts on this one?

[2018-08-13 18:48] cwdcwd commented on #41
thanks. it __did__ seem to pick up eventually which maybe there was a challenge API issue but would be good to know definitively what's going on there.

[2018-08-14 04:49] jmgasper commented on #40
@cwdcwd - That description makes sense, but how do we work around that for things like the topcoder-platform group?

[2018-08-14 15:21] cwdcwd opened #46 "User Terms Agreement"
A user assignment will be blocked if the user hasn't previously agreed to the terms.
We should probably check the terms for the user when executing the member add link for a member.
I believe this can be fetched from the member profile endpoint

[2018-08-14 21:10] jmgasper opened #47 "Prefix labels with `tcx_`"
To be able to differentiate the default labels from other labels that may exist on a project, we are going to update to use this list, both when creating the labels from TCX for a repo and when monitoring for the TCX dashboard:

* `tcx_Assigned`
* `tcx_ReadyForReview`
* `tcx_Paid`
* `tcx_Feedback`
* `tcx_FixAccepted`
* `tcx_OpenForPickup`

[2018-08-14 21:35] jmgasper opened #48 "Check existing projects for 1-1 mapping project to copilot"
We haven't designed the app to support multiple copilots for a single repo / project, so we need to double check that this is a rare occurence and handle it properly if it isn't.

[2018-08-14 22:00] cwdcwd opened #49 "Documentation"
We should write a set up guide for how to get running

[2018-08-15 00:53] rootelement commented on #41
FYI - I created a new issue on my repo and added the label and it wasn't picked up either. The label was added on create of a new issue.

My Assigned issue showed up when I added the label to an already existing, and already assigned issue. So it's something with this label specifically.

[2018-08-15 00:59] rootelement opened #50 "Topcoder X Shouldn't Pose as User (Gitlab)"
Not sure if this is possible, but I'd rather add Topcoder X as a member of the repo group than have it act as me.

**Steps to Reproduce**
1. Had an existing issue, with a member assigned, but wanted to try out Topcoder X
2. Added project in Topcoder X, clicked the buttons to add labels and add webhook
3. Went into Gitlab, removed the old labels I was using for BUG BASH, and added the Assigned labe

[2018-08-15 00:59] rootelement commented on #50
@cwdcwd Can you add the Enhancement label? I can't add labels.

[2018-08-15 01:02] jmgasper commented on #49
@cwdcwd - Running in general for copilots, or actually deployed?

I have deployment documented:  https://github.com/topcoder-platform/topcoder-x-ui/blob/develop/TopcoderXDeploy.md

[2018-08-15 01:05] rootelement commented on #49
Couple of notes for my first time setting up a project with no prior knowledge of the steps required:

1. On the Dashboard page, if there are no Projects, show a "getting started" box
2. Getting Started Box should say
  1. Authorize GitHub / GitLab
  2. Add a Project
  3. Add Labels and Webhooks to Project (show a screenshot - this was unclear that I had to go back into the project to add them, or

[2018-08-15 01:14] jmgasper commented on #49
This is great, thanks!  I'll look through this and log some UI changes.

[2018-08-15 02:02] cwdcwd commented on #49
@jmgasper docs for end user to get setup like clients/CPs

[2018-08-15 02:05] cwdcwd commented on #50
operating a dedicated TC user would be a security concern as that means 1 exploitable user could gain access to all client repos instead of the client user explicitly granting revokable access to the repo.
It would also be a permissioning nightmare to manage I think.

[2018-08-15 02:06] rootelement commented on #50
I concede.. I just wonder if then we should add a "This is an automated message for `rootelement` via Topcoder X" at the bottom of the comment or something... Like a signature that it's Topcoder X on behalf of the user.

[2018-08-15 02:30] jmgasper commented on #50
Makes sense

[2018-08-15 04:21] jmgasper opened #51 "Add automated text to end of comments to avoid confusion"
Comments are added by the user / copilot that manages a given project.  This can be confusing because there's nothing to indicate that  the message is automated vs. from the actual user.

This ticket will track adding a new footer to each automated comment that Topcoder-X creates:

``` This is an automated message for <topcoder handle> via Topcoder X ```

[2018-08-15 05:07] jmgasper opened #52 "Help link"
For basic help, we'll use the Topcoder-X UI wiki.  Please add a `Help` button to the bottom of the side bar that opens a new window with a configurable URL.  The URL should be configurable through the environmental variables so that we can use the Heroku settings (`heroku config:set ...`) to change the URL when necessary.

Use the `question-circle` font-awesome icon.

* Default: https://github.com

[2018-08-15 19:34] cwdcwd commented on #39
this one we might have to think about how we handle in the event that there's terms the user has to agree to before getting repo access... technically they shouldn't be in there and working if they haven't a terms agreement in place but perhaps we can fix that with #46

[2018-08-15 22:35] cwdcwd commented on #52
we could also get crazy go nuts and do [github pages](https://help.github.com/categories/github-pages-basics/)

[2018-08-16 02:14] cwdcwd commented on #40
no entirely sure. need to think on it some more. part of it depends on the user accepting the invite too which makes things wonky

[2018-08-16 02:17] cwdcwd commented on #43
well to be robust we'd check our db of user mappings and block if the user wasn't in there I suppose

[2018-08-16 03:29] jmgasper opened #53 "Migrate user mappings from Ragnar to Topcoder-X"
The Ragnar database currently contains a lot of user mappings that we could re-use in Topcoder-X

Ragnar contains the following table setup that we want to move.  You can find the model here:

https://github.com/topcoder-platform/ragnar/tree/master/models

* usermappings
  * topcoderUsername
  * gitlabUsername
  * githubUsername

* users
  * username
  * role
  * type
  * accessToken
  * accessTok

[2018-08-16 04:07] jmgasper opened #54 "Slack integration"
In addition to posting comments to a Github or Gitlab issue, Topcoder-X can also post to Slack when updating and creating.

### Configuration

For each project, we will add a new button to the top of the `Edit a Projects` screen to the left of `Add Labels`

The button will be called `Add Slack Integration`.  This button will authorise a Slack OAuth2 app with Topcoder-X, capturing the Slack credent

[2018-08-20 05:53] jmgasper opened #55 "Copilot payments: Fix the schema"
From the recent review:

[code]

You also need to persist challenge id as part of the model as per spec.  `challenge` should be renamed `challengeId`

[2018-08-20 05:55] jmgasper opened #56 "Copilot payments: Fix amount"
From the most recent review:

Spec mentions  `If a prize is required, we can set it to $1 and decrease the value of the copilot payment by $1`. This case is not handled correctly, I don't see the copilot payment being reduced by $1

[2018-08-20 05:56] jmgasper opened #57 "Copilot payments: No refresh required"
From the recent review:

[2018-08-20 05:58] jmgasper opened #58 "Copilot payments: Code quality"
A few issues to clean up:

This flag should be a boolean:
`closed: { type: String, required: true, default: "false" }`

Should check here for invalid challenge ids:
[code]

[code]

Everywhere in file names, you use the term 'Payment' - This should be 'CopilotPayment' so it's fully clear that this is not referring to member payment

[2018-08-20 05:58] jmgasper opened #59 "Copilot payments: Process tickets"
updateAll is taking a lot of time even for a repository which has < 20 open issues, this needs to be improved. It's very slow with repos having 100+ issues and my Chrome browser goes unresponsive in this case

[2018-08-20 06:04] jmgasper opened #60 "Copilot payments: Remove `Challenge` field on `Add a payment`"
The copilot payment tracking should keep track of the challenge ID and apply it automatically.  The user shouldn't be expected to do this.

### No open challenge

If the user selects a project from the drop down and there is not currently a copilot payment challenge created, the topcoder-x processor should be expected to created one.

### Existing challenge

If a copilot payment challenge already

[2018-08-21 03:54] jmgasper opened #61 "Timing of events"
### Current problem
We have a few cases in the topcoder-x-processor where multiple events can come in quickly, before the initial challenge has been created.  Challenge creation through the TC Challenge API can take awhile, so if the processor tries to process an assignment event before the challenge has been created, it will attempt to create *another* challenge in the mean time.

What happens is

[2018-08-21 06:05] #22 closed

[2018-08-21 18:18] kevinkid commented on #56
For people looking into this here is the spec. https://github.com/topcoder-platform/topcoder-x-ui/issues/22

[2018-08-27 04:12] jmgasper opened #62 "Closing tickets for payment."
From a user:

### Description:
Shouldn’t a ticket get paid only if there’s a `Fix Accepted` label? I closed this https://github.com/topcoder-platform/community-app/issues/1229 and tcx processed the payment even if the ticket was invalid and I just wanted to close the ticket

This could also happen if a PR has the keyword `Fixes #<ticket>`. TCX will pay the ticket but sometimes we may accept a PR b

[2018-08-28 14:22] rootelement opened #63 "Search Git Groups"
I belong to fewer groups than most, and still have 4 pages. Add a simple search bar at the top to narrow down the groups.
![screen shot 2018-08-28 at 10 21 59 am](https://user-images.githubusercontent.com/5400156/44729208-4b58ae80-aaac-11e8-9bef-bb9a3c001188.png)

[2018-08-28 14:25] rootelement opened #64 "Label > Trigger/Phase Configuration"
I know for Consensys, we came in to a living, breathing git repo. I could see labels getting very muddy, and possibly be a barrier to entry for us ramping up on a project.

Just a suggestion, either:
1. Prefix labels for this with something (ie: TCX-Assigned)
   1. Allow the prefix to be configured when the repo/project is set up
2. Allow a Label > Action mapping configuration for the user when th

[2018-08-28 14:30] rootelement opened #65 "Repository Announcement Thread"
Just a basic suggestion, not sure how this would work, but much like you initialize a repo with the labels, it could be a good idea to init a repo with an Announcement Thread Issue, or automatically add a Wiki Page to the repo about how the TCX process works and the rules. It can be a high-level overview with links to documentation, but you could then also cross-reference that in the automated mes

[2018-08-28 16:19] cwdcwd commented on #65
Since there's no central spot for posting a "thread" it'd have to be on the wiki. That was actually mentioned [here on this ticket](https://github.com/topcoder-platform/topcoder-x-ui/issues/45#issuecomment-412623017)

[2018-08-28 21:48] rootelement commented on #64
1. 👍
2. Use case being:
https://github.com/ConsenSys/mythril/issues

We came into this living project with open issues. I'm thinking if they already have a format for the stages, that we could tweak our labels to fit their nomenclature. For example, if someone had an "Assigned" tag already. But If you're implementing the tcx_ prefix, I think that'll be fine.

This can be closed.

[2018-08-28 21:48] #64 closed

[2018-08-29 20:52] jmgasper opened #66 "Closing ticket without payment"
If a ticket is closed without payment, either due to the payment being removed (`[]`) or the ticket not having the `Fix Accepted` label, we need to delete the Topcoder challenge that was initially created for the ticket so we don't leave a bunch of draft challenges floating around in Topcoder Direct.

We should do this 24 hours *after* the ticket has been closed, to ensure that if the user closed

[2018-08-30 00:31] #60 closed

[2018-08-30 00:32] #59 closed

[2018-08-30 00:33] #47 closed

[2018-08-30 00:33] #58 closed

[2018-08-30 00:34] #56 closed

[2018-08-30 00:34] #55 closed

[2018-08-30 00:35] #51 closed

[2018-08-30 04:13] #57 closed

[2018-08-30 04:15] jmgasper opened #67 "Change `Update All` to `Refresh`"
On the copilot payments page, we need to make a couple changes to the `+ Update All` button:

1.  Add more space between `+ Add Payment` and `+ Update All`.  On thin browser windows, the buttons touch.  This should be more like the button spacing on editing a project.

2.  Change the button colour to a different shade of blue to differentiate it from `+ Add Payment`

3.  Change the `+` icon to the

[2018-08-30 04:17] jmgasper opened #68 "Copilot Payments table changes"
A few tweaks are needed to make the copilots page a bit more usable:

1.  The amount should have `$` before the number, so instead of `75`, it would display `$75`

2.  Above the table we should have text that sums the amounts pending, in bold.  Something like `$250 total pending payments`.

[2018-08-30 04:41] jmgasper opened #69 "Update copilot link to be to TC direct"
Right now, the link on the copilot payments table goes to something like: `http://www.topcoder-dev.com/challenges/30052876`

We would like that to go to TC Direct instead:

`https://www.topcoder-dev.com/direct/contest/detail?projectId=30052876`

[2018-08-30 04:54] jmgasper opened #70 "Change status to `Assigned` automatically"
If a user assigns a ticket to themselves, let's automatically:

1.  Remove the `tcx_OpenForPickup` label
2.  Add the `tcx_Assigned` label

If there are other labels assigned to the ticket as well, those should remain untouched - we will only change the TC-X labels.

Note that this should also move the ticket from `Open for Pick Up` to `Assigned` on the TC-X UI Dashboard as well.

[2018-08-30 04:56] #33 closed

[2018-08-30 05:26] jmgasper commented on #35
Note - I tested this again and it's still a valid issue.  Not sure how others are testing, but I've seen this in dev as well (x.topcoder-dev.com).

You can validate by:

1.  Create a ticket in a linked Github project
2.  Assign the ticket to yourself
3.  Validate that the project is shown with `Assign Member(s):` value in www.topcoder-dev.com/direct
4.  Remove the assignee in Github
5.  Observe th

[2018-08-30 05:35] jmgasper commented on #41
Recent review feedback:

I can reproduce the issue, this is not fixed.

Screencast: https://drive.google.com/file/d/1O6-vD99MsUK98uv21o9mSEJkDWia18cX/view?usp=sharing

Steps:

1. Create a repo and add an issue without prize in the title.
2. Create a project in TCX that points to the repo you just created.
3. Update the issue name to include a prize and add "tcx_OpenForPickup" label.
4. The TCX Rec

[2018-08-30 05:48] jmgasper opened #71 "Update the add and edit project screen"
The current form for `Add a Project` works, but it's a little confusing to a user.  We will update the HTML to add some description text.  The descriptive text should be normal font face, not bold like the form field names now.

* Underneath `Project Name:`:  "The project name can be anything you'd like.  This should be a simple descriptor of the project".

* Underneath `Direct ID:`:  The Topcoder

[2018-08-30 05:49] #49 closed

[2018-08-30 05:49] jmgasper opened #72 "Getting started"
On the Dashboard page, if there are no Projects, show a "getting started" box
Getting Started Box should say

Title: "Getting Started with Topcoder-X"

"Welcome to Topcoder-X!  You can find full documentation here:  https://github.com/topcoder-platform/topcoder-x-ui/wiki

Next steps include:

* Authorize GitHub / GitLab  <Should be a link to the `Settings`>
* Add a Project <Should be a link to the

[2018-08-31 13:14] dustinTopcoder opened #73 "Prefix automated github comments"
For the automated messages that get posted to github, can we put a prefix or message in there so people know it's an automated message and not actually myself creating them?

This way user's aren't replying to them and expecting a response.

[2018-08-31 20:50] jmgasper commented on #73
This is actually done already:  https://github.com/topcoder-platform/topcoder-x-ui/issues/51

It is deployed in dev, but not to prod yet.  Expect this to be deployed to prod soon.

[2018-08-31 20:50] #73 closed

[2018-09-03 07:33] veshu commented on #68
@jmgasper for points 2 this means all project's payments right?

[2018-09-03 08:02] veshu opened #74 "Copilot payments tab performance improvement"
Current implementation loads closed payments as well during the page load.

1. By default, only active payments should be loaded.
2. when clicked on the closed tab, closed payments should be loaded
3. Pagination should be moved to the server side as well

[2018-09-03 10:47] jmgasper commented on #68
@veshu - That's correct - this will be a sum of *all* pending payments across all projects.

[2018-09-06 05:46] jmgasper opened #75 "Failing member login"
In production, we ran into an issue with this Gitlab Git access link:

https://x.topcoder.com/api/v1/gitlab/groups/registration/7647e95e-7ac5-4a85-a294-7108c9657c2e-1536209459717

The member using it couldn't get past the TC login.

From the logs:

[code]

Screenshot:

<img width="572" alt="screen shot 2018-09-05 at 3 45 54 pm" src="https://user-images.githubusercontent.com/21790/45137429-f3c4ec00

[2018-09-06 17:29] dustinTopcoder opened #76 "Preventing issue assignment"
On one of our projects, a member assigned themselves to some issues before they had a bounty.  As such, before we could put the "Open for pickup" label, we had to manually unassign the issues.

Would be nice if the following workflow happened:

1. When an issue has been edited with a bounty but missing the "Open for pickup" label, prevent anyone from being assigned the issue and clear any previous

[2018-09-06 21:12] jmgasper commented on #76
👍

[2018-09-07 04:55] jmgasper opened #77 "Copilot configuration for project"
We ran into a recent situation where a TC admin had set up a project in TC Direct, but that same project also had a copilot that wasn't using TC Direct.

This caused problems because all tickets processed used the TC admin's handle as the `copilot` value on the tickets instead of the correct copilot.

### UI change

To fix this, we can add a new field to the project form (both add and edit) to all

[2018-09-07 13:54] dustinTopcoder commented on #76
Another thought I had on this.  Add a new label called "Not ready".  This would be used to tag any issues you wish to have as part of the bounty system, but not ready for pickup yet.  So any issue with this label would follow the workflow I put above.

My reasoning is that there are some issues you may have being worked externally and my original idea would not allow that.

[2018-09-11 02:33] jmgasper opened #78 "Processing error"
Seen with the latest code, in the logs for the topcoder-x-processor installation.  Note that the challenge is not created or registered properly with the Github ticket:

[code]

[2018-09-11 02:45] jmgasper commented on #78
Figured out the issue - new bug to fix.

[2018-09-11 02:45] #78 closed

[2018-09-11 02:47] jmgasper opened #79 "Pending tickets"
If there are multiple pending tickets at the same time, while we wait for them to have challenges created, they go into the mongoDB with a null challengeID.  The problem is that the challengeID is an index, so that causes a collision / duplicate key error:

[code]

We should fix the index so that the challengeID isn't required.

[2018-09-11 02:51] #41 closed

[2018-09-11 02:55] jmgasper commented on #45
New we have a `Add Wiki Rules` button that will add a `Gitlab ticket rules` wiki page to Gitlab repos and a similar issue to Github projects (Github doesn't have a proper wiki-editing API)

[2018-09-11 02:55] #45 closed

[2018-09-11 03:00] #52 closed

[2018-09-11 03:01] #68 closed

[2018-09-11 03:06] #62 closed

[2018-09-11 03:07] #67 closed

[2018-09-11 03:14] #70 closed

[2018-09-11 03:14] #69 closed

[2018-09-11 10:00] jmgasper opened #80 "Unable to access copilot payments"
@veshu - What would cause this error when accessing copilot payments page?

http://take.ms/WJHn3

http://take.ms/Su6Ll

[2018-09-12 01:03] jmgasper opened #81 "Dockerize in preparation for prod deployment"
We need to create a dockerization setup for the app to closely match other Topcoder sites and services.  An example of a "good" one can be found here:

https://github.com/topcoder-platform/submissions-api/tree/develop/docker

[2018-09-12 01:50] #65 closed

[2018-09-12 22:48] jmgasper opened #82 "Copilot payment should use the copilot fee field"
When creating a copilot payment, we are using the normal payment field for the amount - $1, and the copilot fee is set to $1.  We need to reverse that so the copilot fee is the amount - $1 and the payment field is $1.  This will ensure that the payment is processed correctly as a copilot fee for TCO reporting.

[2018-09-13 06:24] jmgasper opened #83 "Review style for copilot payments"
When creating a copilot payment ticket, the `Review style` field should be `Internal Review`, *not* `TopCoder Community Review Board`.

You can test this by looking at the challenge in direct:

### Correct

<img width="577" alt="screen shot 2018-09-13 at 4 24 13 pm" src="https://user-images.githubusercontent.com/21790/45470541-7bbd6f80-b771-11e8-9ac0-d32f73515798.png">

### Incorrect

<img width="

[2018-09-16 01:15] jmgasper opened #84 "Watch repo suggestion"
From a Slack discussion:

[2018-09-17 03:14] jmgasper opened #85 "Log all requests and responses to Topcoder APIs"
We need a separate error file that logs all requests and responses to the Topcoder APIs (member API, challenge API, etc...)

Right now it's very, very difficult to use the Papertrail log in Heroku to narrow down specific errors that are happening.

The Topcoder APIs are very flaky and prone to random errors, so we need a way to accurately log the requests and *EXACT* response from the server.

We

[2018-09-20 21:52] jmgasper opened #86 "Closing a ticket before challenge is created"
Reported by a copilot:

From investigation:

@jmgasper I was looking at the processor code and the issue is quite clear..
You first create the `Issue` then you `try` to `createChallenge` and if something goes wrong you reschedule the event. Sounds good so far but it’s actually not. Inside the `ensureChallengeExists` method, you check if there’s already an `Issue` with `status === "challenge_creati

[2018-09-21 00:43] jmgasper opened #87 "Challenge failure handling"
Due to instability in the challenge API, we get the case where challenges just refuse to be created.  This spams the challenge with lots of comments like this:

[code]

We need to change the functionality to:

1.   Stop reporting the failure
2.  Only retry to create a challenge twice
3.  After the second retry, we will show a message like:
[code]
4.  Clear out the kafka queue of any queued message

[2018-09-21 05:06] jmgasper opened #88 "Better null checking"
From the October challenge 1 review:

#77 Bug mentions for backend

In addition to tracking the copilot in the UI and DB, we also need to ensure that the configured value is used when creating tickets. Please ensure that when the copilot is set, it is using the configured copilot handle from the DB, not the owner of the project.

You change
[code]
to
[code]
You should be first checking if copilot

[2018-09-21 05:06] jmgasper opened #89 "Review issue cleanup"
From the October challenge 1 review:

#####  1
 #66 - Default value should be 24 hours.

See where bug mentions "We should do this 24 hours after the ticket has been closed, to ensure that if the user closed the ticket by accident without setting the appropriate label, they can come back, reopen the ticket, add the label and close it again to process payment. 24 hours should be enough time to catc

[2018-09-21 06:17] jmgasper opened #90 "Migrate existing database schema to new schema"
We've changed the schema recently:

https://github.com/topcoder-platform/topcoder-x-ui/issues/43
https://github.com/topcoder-platform/topcoder-x-ui/issues/77

We've added owner and copilot files, and deprecated the `username` field.

The problem is that we have existing prod data with the old schema and we can't lose those old projects.

We need to ensure that projects on the old schema are proper

[2018-09-21 06:27] #77 closed

[2018-09-21 06:30] jmgasper commented on #90
This seems to also affect ownership transfer of an old challenge without the new schema:

<img width="1475" alt="screen shot 2018-09-21 at 4 30 09 pm" src="https://user-images.githubusercontent.com/21790/45863961-a768d700-bdbb-11e8-9b1d-0aa38ac27b22.png">

[2018-09-21 06:32] jmgasper opened #91 "Confirmation after ownership transfer"
When transferring ownership, as an admin, there's no confirmation that the operation was successful.  The user should be redirected back to the `Project Management` with a confirmation message like `The ownership transfer was successful`.

[2018-09-21 06:32] #43 closed

[2018-09-21 06:34] #61 closed

[2018-09-21 06:34] #42 closed

[2018-09-22 20:43] jmgasper opened #92 "Don't remove labels when closing a ticket"
When marking a ticket as `tcx_Paid`, we should just add that label, not removing all others.  Users are seeing their custom labels (not TC-X related) getting removed as well.

![generate_image_preview](https://user-images.githubusercontent.com/21790/45921588-f158d680-befb-11e8-9aff-064e91576d2a.png)

[2018-09-25 20:37] jmgasper opened #93 "Retry not working on challenge creation"
The challenge API call to create a challenge fails quite regularly, and what we are seeing is that the retries don't seem to be working either, leading to a loop over and over again.

We need to investigate *why* the retries are failing:

<img width="698" alt="100 redirect option in contentful - urgent issue 1544 topcoder-platform_community-app 2018-09-25 21-41-59" src="https://user-images.githubu

[2018-09-26 04:29] jmgasper opened #94 "Ticket unassigned by member"
When a ticket is unassigned by a member or copilot, we want to:

1.   Automatically remove the `tcx_Assigned` label
2.  Apply the `tcx_OpenForPickup` label
3.  Reset the hours counter on the issue
4.  Ensure that there is no assignee on the Topcoder challenge

3 and 4 should already be done, but we want to ensure that 1 and 2 are added.

[2018-09-26 21:48] jmgasper commented on #93
Additional details added:

so I’m looking at a retry failure and this line: https://github.com/topcoder-platform/topcoder-x-processor/blob/develop/services/IssueService.js#L120
seems to be popping out the error

`if (dbIssue && dbIssue.status === 'challenge_creation_pending')`
when we call `ensureChallengeExists()`

lazybaer [1:56 AM]
this seems bad https://github.com/topcoder-platform/topcoder-x-

[2018-09-27 00:01] jmgasper opened #95 "Ticket closed, but payment failed"
We had a recent ticket in production that caused all sorts of problems.  The full printout of the ticket comments is attached below:

What we think happened:

1.  The ticket was created and assigned appropriately
2.  The ticket was closed (without `tcx_FixAccepted`)
3.  `tcx_FixAccepted` was applied, the ticket was reopened and then closed (this is expected behaviour)
4.  The ticket was marked as

[2018-09-28 13:54] ThomasKranitsas opened #96 "Introduce a new label to prepare a ticket"
When adding the `tcx_OpenForPickup` label, members will try to grab the ticket as soon as they can but the challenge for this ticket may not have been created yet which will cause upcoming actions to fail.

We can add a `tcx_Prepare` (or similar) ticket that will tell the processor to setup the challenge for the ticket and once ready, it'll add the `tcx_OpenForPickup` ticket so people can start wo

[2018-09-29 07:49] jmgasper commented on #96
@ThomasKranitsas - I'll try to fix the processor so that the events wait for challenge creation and then complete successfully.  That *should* be happening now, but it sounds like it's not - do you have an example or two you can share?

Alternatively, I think you should be able to apply a prize, but no label and the challenge should still get created, at which point you can apply the label.

[2018-09-29 08:52] ThomasKranitsas commented on #96
Yeah, applying the prize and waiting for the challenge to be created before adding the `tcx_OpenForPickup` label works but I still have to keep an eye to see when the challenge is ready to be opened for pickup.

The pseudo code for my suggestion would be something like this:

[code]

This should do what you suggested (add prize > wait for the challenge > open for pickup) automatically, no?

[2018-09-29 14:41] ThomasKranitsas opened #97 "Bypass Github invitation process"
A very common issue is that if a member is not in the Github organization, we can't add the member to a team thus the member can't work on any ticket.

Maybe we can use this https://developer.github.com/v3/repos/invitations/#accept-a-repository-invitation and then grab an oAuth token so we can auto accept the invitation.

cc @jmgasper

[2018-10-02 01:18] jmgasper opened #98 "Parsing the prize"
The handling for parsing a prize from a ticket title isn't as explicit as I'd like.  Here's the problem:

### Problem:

1.  In IssueService.js, we throw an exception if we can't parse the prize:

[code]

2.  In `process`, we just call parsePrizes, but we don't explicitly handle the error, so it's confusing to understand what the actual functionality is:

[code]

This lack of clarity around what ha

[2018-10-02 01:40] jmgasper opened #99 "Abstract out repository type checks"
There's a lot of redundant code in the `services/IssueService.js` code to check for Github or Gitlab.

See this as an example:

[code]

We should add a helper class that can be used to abstract out the check for either Gitlab or Github, allowing the code to just do things like:

* Create comments
* Remove / add assignees
* Add / remove labels
* Update issues
* Mark issues as paid

All without havi

[2018-10-02 01:47] #79 closed

[2018-10-02 01:52] jmgasper opened #100 "Challenge creation retry failure"
Challenge creation can fail quite often in the Topcoder challenge API.  In the IssueService.js class, we have the `handleEventGracefully` method that *should* retry the operation, but this never works for challenge creation, and the issue gets "stuck" in the `challenge_creation_pending` status, without a challenge ever getting created.

# Suspected issue

I *suspect* the issue has to do with this

[2018-10-02 04:48] #89 closed

[2018-10-02 04:48] #88 closed

[2018-10-02 04:50] #71 closed

[2018-10-02 05:22] jmgasper opened #101 "Encapsulate retry logic"
The `handleEventGracefully` logic needs to be moved out of the IssueService and into it's own class.  For instance, we want the same retry logic to apply to creating the Topcoder challenge for a copilot payment, but that would currently require redundant code, so we need to get the retry logic better encapsulated to make it more useful to all the individual services, both current and future.

[2018-10-02 05:28] #100 closed

[2018-10-02 05:28] #93 closed

[2018-10-02 05:29] #87 closed

[2018-10-02 05:30] #81 closed

[2018-10-03 00:00] jmgasper commented on #95
We are also seeing this error in the logs sometimes as well:

[code]

[2018-10-03 00:03] jmgasper opened #102 "Activation fails on ticket payment"
One thing we are seeing somewhat regularly is that activation fails on the payment processing.  The event gets properly rescheduled for a retry, but the retries all fail because although the activation reports a failure, it actually seems to succeed properly.

We need to ensure that the retry process can properly handle this case by querying the challenge to ensure it's set up properly:

1.  Prize

[2018-10-04 05:37] #86 closed

[2018-10-04 05:39] #83 closed

[2018-10-04 05:39] #82 closed

[2018-10-04 05:40] #74 closed

[2018-10-04 05:41] jmgasper opened #103 "Copilot payment challenge retry"
As with normal challenge creation for Git tickets, the copilot payment challenge creation is a process that's prone to failure due to issues with the challenge API.  We should retry this process similar to what we do with Git tickets.

The refactored retry logic from https://github.com/topcoder-platform/topcoder-x-ui/issues/101 should be used here.

[2018-10-04 05:42] #98 closed

[2018-10-04 05:42] #99 closed

[2018-10-04 05:53] #76 closed

[2018-10-04 05:56] jmgasper opened #104 "Maintain label consistency for "Not Ready""
The "Not Ready" label should be replaced with one named `tcx_NotReady` to maintain consistency with the other Topcoder-X labels.  The `tcx_NotReady` label should also be added automatically when `Add Labels` is clicked in the Topcoder-X UI.

[2018-10-04 05:57] jmgasper opened #105 "Bug with creating a ticket with assignment"
We recently added changes here:

https://github.com/topcoder-platform/topcoder-x-ui/issues/76

The problem is that if an issue is created with an assignee, the assignee isn't processed correctly.  The challenge is left unassigned and the Git ticket remains assigned.

We need to ensure that if the ticket isn't created with label `tcx_OpenForPickup`, the assignee is removed on both the challenge *an

[2018-10-04 05:57] #35 closed

[2018-10-04 05:58] jmgasper commented on #96
We've added `tcx_NotReady` as a placeholder.  This is just in dev, not prod yet.

[2018-10-04 05:58] #96 closed

[2018-10-04 05:58] #80 closed

[2018-10-04 06:04] #44 closed

[2018-10-04 06:05] #66 closed

[2018-10-04 06:07] #90 closed

[2018-10-04 06:08] #95 closed

[2018-10-06 03:29] jmgasper opened #106 "Fix https issue"
We recently found a bug where the `Copilot Payments` option will not show on the left menu if the http://x.topcoder.com site is loaded over https://

The error is:

`The page at 'https://x.topcoder.com/#/app/main' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://api.topcoder.com/v2/user/profile'. This request has been blocked; the content must be served over HTTPS.`

[2018-10-06 03:32] jmgasper commented on #106
Fixed at commit 343b6782a91581c9f9a2fb51da18f846ce528940

[2018-10-06 03:54] jmgasper opened #107 "Fix configuration to be in a single spot"
## Problem

In attempting to fix a recent HTTPS issue, I had to make changes all over the place because we aren't consistent at all in our configuration.

The item I had to update was TC_USER_PROFILE_URL.  I reconfigured it on Heroku and the bug persisted.  I then fixed the same URL in `src/common/constants.js` and bug persisted.  I then fixed the same URL in `src/front/src/app/helper.js` and the

[2018-10-06 03:56] #106 closed

[2018-10-06 04:29] jmgasper opened #108 "Error seen when adding `tcx_Paid` label"
When a ticket is paid, I tend to see this error in the logs.  We need to clean this up so that no error occurs.

[code]

[2018-10-07 21:16] jmgasper opened #110 "Double challenges for a git issue"
Reported by a copilot:

### Fix

Note that this has been happening sporadically for the last few weeks in production.  We need to:

1.  Investigate the retry logic for challenge creation to ensure that duplicates can't get created
2.  Fix any potential duplication causing bugs that are found in the investigation
3.  Document the cases where a duplicate could be created so we can properly track thi

[2018-10-10 06:06] jmgasper opened #111 "Github groups - Automatically accept invite"
When adding a user to Github via the Git Access Links, we use `organizations` in Github to manage access.  The user has to be invited and then accepted to the organization to be able to use it.

To streamline this process, we'd like to add a member to the organization *and* accept the invite on their behalf automatically when they go through the Git access flow.

It appears this can be done throug

[2018-10-19 09:53] jmgasper opened #112 "Retry while challenge creating"
I had a challenge take a few tries to create in the Topcoder API, and there was also an assignment event that was rescheduled a few times while the challenge creation was pending.  Once the challenge finally created, the assignment event was processed multiple times.  We should look for duplicate events like that and ensure that only one of the rescheduled events is processed.

<img width="1002" a

[2018-10-23 05:41] jmgasper commented on #105
Still doesn't seem to be fixed.

[2018-10-23 05:41] jmgasper commented on #105
nvm - just took a minute.

[2018-10-23 05:54] #103 closed

[2018-10-23 05:54] #101 closed

[2018-10-23 05:58] #94 closed

[2018-10-23 06:01] #91 closed

[2018-10-23 06:12] #85 closed

[2018-10-23 22:12] jmgasper opened #113 "Migrate to DynamoDB"
Topcoder has asked that we migrate the app data store from MongoDB to DynamoDB, which more matches other apps in the Topcoder ecosystem.  This will make it easier for the system operations folks to deploy and manage Topcoder-X.

A few articles and links that may help:

* https://www.codementor.io/mantle0/handling-date-and-datetime-in-dynamodb-du107mpin
* https://docs.aws.amazon.com/amazondynamodb/

[2018-10-24 00:42] jmgasper opened #114 "Unit test cleanup"
We currently have unit tests to test Github and Gitlab through the processor:

- https://github.com/topcoder-platform/topcoder-x-processor/issues/9
- https://github.com/topcoder-platform/topcoder-x-processor/issues/8

We haven't been keeping these up to date with recent bug fixes and changes, so we want to make sure:

1. Failing tests due to test bugs are fixed
2. Failing tests due to code bugs ar

[2018-10-24 20:53] jmgasper opened #115 "Add Github / Gitlab group URL to confirmation screen on Git access link"
When using a Git access link, the user goes through the flow and sees the screen attached below.  It would be useful on this screen if we included the URL to the group they had access to, to make direct navigation quicker.

<img width="1056" alt="screen shot 2018-10-25 at 7 52 28 am" src="https://user-images.githubusercontent.com/21790/47460831-0db59f00-d82b-11e8-8a4f-f944b540849b.png">

[2018-10-31 03:58] jmgasper opened #116 "Archiving project failing"
Attempted to check "Archived" for a project and save it.

<img width="1443" alt="screen shot 2018-10-31 at 2 57 42 pm" src="https://user-images.githubusercontent.com/21790/47765297-6ef2dc00-dd1d-11e8-86a7-7475cddbe200.png">

[2018-11-24 03:46] jmgasper opened #117 "Closing a challenge retry bug"
This bug has caused multiple payments to be applied for copilots on a few tickets:

I was checking the logs of the tcx processor and I noticed that when it retries to close a challenge, it also retries the add the same member to the challenge and the API is throwing an error `ProcessorError: Failed to add resource to the challenge. Detail: com.topcoder.project.service.ProjectServicesException: Res

[2018-11-25 06:33] jmgasper opened #118 "Make copilot optional"
Some projects may run without an attached copilot.  We need to make the copilot optional.  If no copilot is set on a project, we won't add the copilot or associated payments during the activation process.

[2018-11-25 20:37] jmgasper commented on #117
if you check the logs you’ll see that the same messages from `logger.debug()` appear 3 times each. Which means that the same method is being called multiple times. http://take.ms/iNoAa I’m not sure why as I didn’t check the code but I’m sure there will be a way to prevent that

[2018-11-26 21:16] jmgasper opened #119 "Add `tcx_Canceled` tag"
This ticket will add handling for a new `tcx_Canceled` tag.  This tag will be used when we want to close a ticket that has a challenge created for it but that is no longer needed for whatever reason.

This could happen in situations where:

* A payment has been processed manually
* We don't need the task done anymore

etc...

Please ensure to also add the tag to the process that adds tags to a new

[2018-11-26 21:18] jmgasper opened #120 "Payment handling"
We're still having a lot of trouble with payments, due to failings in the Challenge API:

### Issue 1

We're seeing issues now where the challenge API reports a failure when doing things like assigning a ticket or adding a copilot.  We need to pull the challenge metadata before we process it to ensure:

1.  Only one member is assigned to the ticket
2.  The copilot is only added once

Under no circ

[2018-12-03 23:51] jmgasper opened #121 "Limit the number of update messages"
In an effort to make Topcoder-X less "chatty", lets remove the update messages that pop up every time the challenge payment, title, or description are changed.

<img width="934" alt="screen shot 2018-12-04 at 10 50 09 am" src="https://user-images.githubusercontent.com/21790/49408894-7ab93e80-f7b2-11e8-9a59-deae69dcb090.png">

[2018-12-05 05:15] jmgasper opened #122 "Fix broken config"
```IS_LOCAL: process.env.IS_LOCAL```

This value doesn't work on Heroku because Heroku only sends string config options.  We need to change this to support string `false` or `true`, not a boolean value.

[2018-12-05 06:05] #112 closed

[2018-12-05 06:05] #113 closed

[2018-12-05 06:05] #114 closed

[2018-12-05 06:05] #102 closed

[2018-12-06 03:07] jmgasper opened #123 "Merge develop with master"
The `develop` branch of the processor, receiver, and UI are likely a bit out of sync with `master`, especially the processor and UI.  We have hot-fixed a few things in master that may not have been back-ported to `develop`, and there are a number of fixes and enhancements that haven't made it to `master` yet.  We need to get these better in sync, so please ensure that we get everything in `master`

[2018-12-06 03:14] jmgasper commented on #111
The goal here is to have the Github git access links work as well as they do for Gitlab, working around the quirks of the Github authorization process.  If you have questions or want to inquire about individual use cases, please ask in the forum.

[2018-12-06 03:15] #117 closed

[2018-12-06 03:15] #120 closed

[2018-12-06 03:16] jmgasper commented on #97
Dupes #111

[2018-12-06 03:16] #97 closed

[2018-12-09 01:57] mishacucicea commented on #40
@jmgasper if #111 is fixed, than this would be ok as well, right?
I mean whoever creates the github link needs to have access to add members to the Org and Team.

[2018-12-09 03:47] jmgasper commented on #40
@mishacucicea - Yeah, that's pretty much the idea, yes.

[2018-12-17 22:33] #40 closed

[2018-12-17 22:33] #111 closed

[2018-12-17 22:33] #121 closed

[2018-12-17 22:33] #122 closed

[2018-12-17 22:33] #123 closed

[2018-12-17 22:34] jmgasper opened #124 "[$100] Generate way to create empty DynamoDB tables for migration"
For our prod migration, we need a way to create an empty set of tables for Topcoder-X on a configured AWS account.  This can either be a simple Node script or a set of CLI script / files for DynamoDB:

https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Tools.CLI.html

[2018-12-18 01:49] nauhil commented on #124
I made a mirgration-tools at **Topcoder-X - Migrate to DynamoDB** challenge.
Can I use this as codebase to implement this function?

[2018-12-18 02:03] jmgasper commented on #124
Sure

[2018-12-18 03:40] nauhil commented on #124
- [x] Fixed IS_LOCAL: process.env.IS_LOCAL,  support string
- [x] Add create empty tables function

repo: https://github.com/nauhil/migration-tools
latest code: commit 8383e287c7421f3ddd1cc229fed6e7f1ee4ed698

[2018-12-18 05:37] #124 closed

[2018-12-18 05:37] jmgasper commented on #124
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30077305<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-06 22:44] jmgasper opened #125 "Copilot payment page not working"
### To reproduce

In prod, try to add a copilot payment.  An `Invalid request parameters` error is shown in the UI:

<img width="1938" alt="screen shot 2019-01-07 at 9 43 28 am" src="https://user-images.githubusercontent.com/21790/50742548-cacb6b00-1260-11e9-98d1-95a150f2309a.png">

In the logs, I see:

[code]

[2019-01-08 06:19] #116 closed

[2019-01-08 06:19] #110 closed

[2019-01-08 21:20] jmgasper opened #126 "Failing webhook call"
When adding a webhook to a Git repo, we need to do a couple things to make sure the process makes sense for the user:

1.  Instead of always using the copilot creds, we should use the credentials of the logged in user that pressed the `Add Webhook` button in the UI.  We had a case recently where a TC PM was hitting the button and it was failing because the copilot didn't have rights to the repo, b

[2019-01-09 19:57] jmgasper opened #127 "Provide a way to clear out the challenge for a ticket"
As a last resort, if the backing challenge gets out of whack, we want to remove the Topcoder challenge for a ticket and start over.  This should be a new page in the app somewhere - maybe under a given project?

The user should be able to copy in the URL to the ticket and then we will:

* Remove the MongoDB entry for the Git issue
* ~~Move the current challenge to "cancelled"~~. This is not feasib

[2019-01-17 04:30] jmgasper opened #128 "Update to use M2M token for Topcoder-X"
### Current
Currently, when using the Challenge API, we have to:

* Login with a service account
* Upgrade the token to a v3 token

Only after that can we use the API.

### Problem
The problem with that flow is that Auth0, the login provider, rate limits us, so we've been having issues where things aren't getting handled in Topcoder-X because the login flow is failing.

### Solution
Topcoder APIs

[2019-01-22 02:34] jmgasper opened #130 "Dummy submission when creating task"
Right now, when we create a task for a Git issue on the Topcoder platform, no submission is created, so if a user goes into OR and views the page for a closed task, if they click the submission, the site will throw an error, which is confusing.

What we'd like to do is have TC-X post to the v5 submission API with the URL of the Git ticket.  The goal is that clicking the submission link will take t

[2019-01-23 03:21] jmgasper opened #131 "[$100] Merge latest changes with latest in develop"
The develop branch of topcoder-x-ui was changed for the December release challenge and we need to merge the changes from the January release challenge in.

[submission-275420-6c279a72-c003-4c91-811f-7995df0e6d29.zip](https://github.com/topcoder-platform/topcoder-x-ui/files/2785514/submission-275420-6c279a72-c003-4c91-811f-7995df0e6d29.zip)

[2019-01-23 03:21] jmgasper commented on #131
Contest https://www.topcoder.com/challenges/30080159 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-23 03:24] jmgasper opened #132 "[$100] Clean up review issues"
These review issues from the January release challenge need to be fixed:

### Issue 1
Add Github / Gitlab group URL to confirmation screen on Git access link #115

GitHub - buggy

*    Please see n115_01_github.png - n115_04_github.png
*   Notice that there are 2 teams (n115_01_github.png) but the URL is the same for both teams (n115_02_github.png and n115_03_github.png).
*  Also the URL https://g

[2019-01-23 23:36] jmgasper commented on #131
Contest https://www.topcoder.com/challenges/30080159 has been updated - it has been assigned to nauhil.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-23 23:37] jmgasper commented on #132
Contest https://www.topcoder.com/challenges/30080161 has been updated - it has been assigned to nauhil.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-24 00:31] #132 closed

[2019-01-24 00:32] jmgasper commented on #132
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30080161<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-24 00:33] #131 closed

[2019-01-24 00:34] jmgasper commented on #131
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30080159<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-02-19 05:26] jmgasper opened #133 "Prevent duplicate webhooks"
When creating the webhooks, we don't do anything to prevent a user from adding the webhooks from the UI to a repository more than once, but if a duplicate is added, it breaks a lot of things in TC-X.  We need to ensure that a user can't add the same webhook multiple times.  If the user clicks `Add Webhook`, and a webhook already exists, we should *replace* the existing webhook with a new one, not

[2019-04-12 05:06] jmgasper opened #134 "[$750] Migrate data from Mongo to DynamoDB"
@ThomasKranitsas - We need to migrate the production data from Heroku / MongoDB to the DynamoDB on Topcoder's instance.

### Migration tools

Attached are some migration tools that should help.  Note that DynamoDB likes to complain about throughput.  Hopefully Topcoder's installation is a bit better than my lowest-tier I've been using on AWS.

[migration-tools.zip](https://github.com/topcoder-plat

[2019-04-12 05:09] jmgasper commented on #134
Contest https://www.topcoder.com/challenges/30088469 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-04-12 05:11] jmgasper commented on #134
Contest https://www.topcoder.com/challenges/30088469 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-04-17 04:04] jmgasper commented on #134
@ThomasKranitsas - Can you give me an update here please?

[2019-04-22 05:39] jmgasper commented on #134
@ThomasKranitsas - How's this one coming?

[2019-04-22 06:03] ThomasKranitsas commented on #134
Will be done by EOD. Sorry for the delay

[2019-04-22 06:05] jmgasper commented on #134
No worries - just wanted to make sure it was being worked on, thanks!

[2019-04-27 18:25] jmgasper commented on #134
@ThomasKranitsas - Do I need to find someone else for this one?

[2019-04-27 18:35] ThomasKranitsas commented on #134
This is almost done. Got distracted with some copiloting work and with the CCSP work and didn't get a chance to complete it. It's a holiday here (Easter) and I'll be out of the office until Monday. If I don't complete it by Monday EOD, you can give it to someone else.

[2019-05-01 18:41] ThomasKranitsas opened #135 "Allow copilots to cancel a ticket"
We've all faced the issue when the challenge API just doesn't want to work properly and we end up paying the member manually while still having the tcx ticket open and kinda stuck.

It would be great to be able to just cancel a ticket either from x.topcoder.com or by setting a specific tcx ticket.

[2019-05-03 19:04] ThomasKranitsas commented on #134
Deployed here:

Receiver: https://tcx-migration-receiver-dev.herokuapp.com
UI: https://tcx-migration-ui-dev.herokuapp.com
Processor: https://tcx-migration-processor-dev.herokuapp.com

Though, I'm guessing something is missing or it's wrong with the configs.
I've added you as collaborator on the heroku instances so you can also take a look.

I'm not quite sure how we are supposed to test prod data

[2019-05-08 23:50] jmgasper opened #136 "[$250] Priority - Validate v3jwt token"
@ThomasKranitsas - In src/app.js, we use the given cookie for the tcv3jwt token:

[code]

The problem is we aren't *VALIDATING* the JWT.  This means that a user can login on x.topcoder-dev.com, change the domain for the token, and gain access to x.topcoder.com, which is obviously very, very bad.

I have taken down x.topcoder.com while we add JWT validation.

Let's do the following:

1.  Add a new

[2019-05-08 23:51] jmgasper commented on #136
Contest https://www.topcoder.com/challenges/30090376 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-05-09 01:01] mtwomey commented on #136
@jmgasper @ThomasKranitsas This is already fully implemented and standardized for all our node applications here: https://github.com/appirio-tech/tc-core-library-js

They should use this library and HS256 tokens (which is what you're using now) won't be support very much longer. By using this lib, this application will get a "free" update when we move to RS256.

See this app for an example on usin

[2019-05-09 01:20] jmgasper commented on #136
Contest https://www.topcoder.com/challenges/30090376 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-05-09 01:20] jmgasper commented on #136
Contest https://www.topcoder.com/challenges/30090376 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-05-09 06:54] jmgasper commented on #136
Contest https://www.topcoder.com/challenges/30090376 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-05-09 07:29] ThomasKranitsas commented on #136
https://github.com/topcoder-platform/topcoder-x-ui/pull/137

[2019-05-09 23:57] #134 closed

[2019-05-09 23:57] jmgasper commented on #136
@ThomasKranitsas - Seeing issues here with validation, but that probably means things are working.  Will close this out once we get the configuration corrected / figure out what's going on.

[2019-05-09 23:58] jmgasper commented on #134
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088469<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-05-12 09:58] jmgasper commented on #136
Contest https://www.topcoder.com/challenges/30090376 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-05-12 09:58] #136 closed

[2019-05-15 03:22] jmgasper opened #140 "[$600] Deploy to prod"
@ThomasKranitsas - Let's deploy the latest code to prod, migrating everything except the completed / cancelled issues, as discussed in Slack.

This should involve pushing:

* UI
* Processor
* Receiver

And ensuring they all point to DynamoDB

Please make sure to keep backups of anything needed.  I took a MongoDB backup just now, but just want to make sure we do that more than once, *just in case*

[2019-05-15 03:23] jmgasper commented on #140
Contest https://www.topcoder.com/challenges/30090719 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-05-15 03:24] jmgasper commented on #140
Contest https://www.topcoder.com/challenges/30090719 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-05-15 03:24] jmgasper commented on #140
Contest https://www.topcoder.com/challenges/30090719 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-05-20 19:14] ThomasKranitsas commented on #140
Can we get credentials to access the prod dynamo aws instance? I can modify the migration tool and provide it so devops perform the actual migration if that's safer

[2019-05-20 21:30] jmgasper commented on #140
@cwdcwd - I sent the key and secret, but do we have a way to get @ThomasKranitsas access to the data in Dynamo?  I'm guessing not, but just wanted to check.

[2019-05-22 23:33] jmgasper commented on #140
@ThomasKranitsas - What's the status here?

[2019-05-23 13:50] ThomasKranitsas commented on #140
Hey @jmgasper, I got a bit busy with some other work that was urgent. I may find some time to complete this over the weekend otherwise I'll be able to jump back into this on Monday

[2019-05-27 07:37] jmgasper commented on #140
@ThomasKranitsas - Ok, please make sure to keep me posted, thanks.

[2019-05-31 06:08] jmgasper commented on #140
@ThomasKranitsas - I need an update here.  This is dragging on too long.

[2019-05-31 10:39] ThomasKranitsas commented on #140
I have attached the updated migration tools.

It has support for saving existing data in JSON files. I have also kept backup files but I'm not going to attach them here as it may contain some sensitive information.

We need @cwdcwd to set the capacity to `on-demand` in dynamo otherwise we're stuck with the throughput errors.

The updated migration tools have support for waiting in between calls so

[2019-05-31 10:45] ThomasKranitsas commented on #140
if you run the script, you will have to create the `/backups` directory in the root (`/`) directory otherwise you'll get an error.

[2019-06-06 05:01] jmgasper opened #142 "Rename 'KAFKA_HOST'"
Topcoder has asked that we rename the config value `KAFKA_HOST` to be `KAFKA_URL`.  This will need to be applied to the receiver, processor, and UI for Topcoder-X.

[2019-06-06 05:02] jmgasper opened #143 "Add healthcheck to processor and receiver"
Topcoder has asked that we add in the topcoder healthcheck dropin for the receiver and processor:

https://www.npmjs.com/package/topcoder-healthcheck-dropin

[2019-06-07 10:15] ThomasKranitsas commented on #140
@jmgasper let me know if there's anything else pending from my side since the devops have to run the migration script

[2019-06-07 23:40] jmgasper commented on #140
@ThomasKranitsas - I think we're good, but unfortunately I seem to have lost rights in Github to be able to change labels and assignees 🤷‍♂   Going to ask TC what the deal is.

[2019-07-03 05:20] jmgasper commented on #140
@ThomasKranitsas - My bad for dropping the ball here.  Going to get this closed ASAP.

[2019-07-03 20:59] #140 closed

[2019-07-03 21:01] jmgasper commented on #140
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090719<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-07-05 05:37] #53 closed

[2019-07-07 00:09] afrisalyp commented on #133
Hi, please clarify my understanding of this issue.
If the user clicks `Add Webhook`, a webhook URL, for example,

http://x.topcoder-dev.com/webhooks/gitlab

will be put on Gitlab as the project's webhook.

If the user clicks it again, the same webhook URL should not be stored on Gitlab. Is it correct?

But what happens if the new webhook URL is different from the stored webhook URL on Gitlab/Githu

[2019-07-07 00:36] jmgasper commented on #133
Can we just delete the webhooks that reference topcoder-x-receiver?

[2019-07-07 02:30] afrisalyp commented on #133
Yes, I think it's possible and the best solution.

[2019-07-07 09:01] anonymousjaggu commented on #133
@jmgasper What do you mean here by this, since we don't have any other place than the `topcoder-x-receiver` to use webhook

[2019-07-07 23:03] afrisalyp commented on #128
Hi @jmgasper,

Can we find any document that helps us to get or generate the AUTH0_CLIENT_ID and AUTH0_CLIENT_SECRET?

I've learned how to use the M2M tokens and it needs AUTH0_CLIENT_ID and AUTH0_CLIENT_SECRET.

[2019-07-12 04:31] jmgasper opened #144 "[$100] Token handling failing on registration links"
@ThomasKranitsas - I think this is due to the fixes we did to better check the JWT stuff.  Can you have a look please?  The registration links will have to work anonymously.

* Sample URL:  https://x.topcoder.com/api/v1/gitlab/groups/registration/e1989b6a-702d-4034-9e84-0cc4b0aa5227-1562835609675

Result:

<img width="1342" alt="Screen Shot 2019-07-12 at 2 30 46 pm" src="https://user-images.github

[2019-07-12 04:34] jmgasper commented on #144
Contest https://www.topcoder.com/challenges/30095616 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-07-12 04:36] jmgasper commented on #144
Contest https://www.topcoder.com/challenges/30095616 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-07-12 06:28] ThomasKranitsas commented on #144
Checking...

[2019-07-12 07:20] ThomasKranitsas commented on #144
PR https://github.com/topcoder-platform/topcoder-x-ui/pull/145

[2019-07-12 07:23] #144 closed

[2019-07-12 07:24] jmgasper commented on #144
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095616<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-07-15 22:10] jmgasper opened #146 "[$50] Add in delays to the migration script"
@ThomasKranitsas - Can you update the migration script to have a configurable delay please?

We'll have two values for the delay:

* Delay duration
* Number of records after which we'll delay

For instance, I may want to have a 20sec delay after migrating 100 records, or something like that.

[2019-07-15 22:16] jmgasper commented on #146
[500]: Challenge for the updated issue 146 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-07-15 22:17] jmgasper commented on #146
Contest https://www.topcoder.com/challenges/30095773 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-07-15 22:18] jmgasper commented on #146
Contest https://www.topcoder.com/challenges/30095773 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-07-16 08:52] ThomasKranitsas commented on #146
Updated migration tool: [migration-tools.zip](https://github.com/topcoder-platform/topcoder-x-ui/files/3396158/migration-tools.zip)

Configs added in `/config/default.js`.

| Name                                   | Description                                | Default                          |
| :------------------------------------- | :----------------------------------------: | :---------------

[2019-07-17 00:09] #146 closed

[2019-07-17 00:10] jmgasper commented on #146
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095773<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-07-18 21:45] jmgasper opened #147 "Add page to allow for adding tickets to Gitlab / Github"
Topcoder has requested a new page in Topcoder-X that allows a user to add a ticket to Gitlab or Github.

The user should be able to:

1.  Open up the `Add Issue` form
2.  Select the project that the issue will be added to
3.  Enter a dollar amount
4.  Enter a title (minus the dollar amount)
5.  Enter the issue text

On clicking `Submit`, the UI will:

1.  Create a ticket in either Gitlab or Github

[2019-07-18 21:47] alamora commented on #147
Perfect

[2019-07-24 22:13] jmgasper opened #148 "Handle multiple assignees on a ticket"
Tickets should only have a single assignee in either Github or Gitlab for Topcoder-X to work properly.  Otherwise we won't know who the payment should go to.

Right now Topcoder-X just has unknown functionality with multiple assignees.  It *seems* to use the last assignee, but that's not exactly guaranteed.

Let's have Topcoder-X add a comment on the ticket without assigning in the challenge API i

[2019-07-30 03:35] jmgasper opened #149 "Better error logging"
I'm seeing cases where we don't properly log errors:

1.  DynamoDB errors are just rejected, without being logged
2.  In the IssueService, if challenge creation fails, we remove the issue (even if it hasn't been created), and then we silently ignore the error.

We need much better, wholistic error logging to know what is going on in the app when things fail.

[2019-07-30 05:31] callmekatootie opened #150 "Allow revoking / reloading github / gitlab tokens"
I find that I am unable to use any of the self sign up links for gitlab (and I think even github) because the token might be no longer applicable and needs a refresh or re-generated...

For example, accessing a self sign up link (that I created or from some other project) gives me this error:

![image](https://user-images.githubusercontent.com/2317133/62103173-418d8b80-b2b9-11e9-968c-ce412a8033b6.

[2019-07-30 05:33] callmekatootie opened #151 "Update the owner of Topcoder X to be Topcoder"
At the moment, when we give Topcoder X permission to our github account, it shows Topcoder X by JMGasper as the app requesting permission.

I would expect it to say Topcoder X by Topcoder instead of a user.

[2019-07-30 05:33] jmgasper commented on #150
@callmekatootie - Thanks.  I'll add this to the next challenge.

[2019-07-30 05:33] jmgasper commented on #151
@cwdcwd - Will probably need some help here with the app registration.

[2019-07-30 21:32] jmgasper opened #152 ""Invalid request parameters" when adding copilot payment"
This is seen in prod.  Something doesn't work right when adding the copilot payments.  It works fine when calling the API directly through Postman though.

<img width="2032" alt="Screen Shot 2019-07-31 at 7 30 58 am" src="https://user-images.githubusercontent.com/21790/62166932-57f12100-b365-11e9-843f-6f776c6bfd12.png">

[2019-07-30 21:49] jmgasper opened #153 "Login doesn't work properly after token expires"
If the login token expires, when the user accesses https://x.topcoder.com, we should be sending them back to the login page.  Currently it just gets stuck in a loop, continually trying to get to /api/v1/security/isAuthorized, but never loading the login page or the main Topcoder-X UI

<img width="2032" alt="Screen Shot 2019-07-31 at 7 49 12 am" src="https://user-images.githubusercontent.com/21790/

[2019-07-31 06:27] jmgasper opened #154 "Update deployment and configuration docs with M2M token / Auth0 details"
The documentation for deployment (https://github.com/topcoder-platform/topcoder-x-ui/blob/develop/TopcoderXDeploy.md) and general configuration needs to be updated with the new values for Auth0 values used with the M2M token generation.

[2019-07-31 06:28] #142 closed

[2019-07-31 06:28] #143 closed

[2019-07-31 06:28] #128 closed

[2019-07-31 06:31] #133 closed

[2019-07-31 06:59] veshu commented on #92
@jmgasper looks like this again issue https://github.com/topcoder-platform/community-app/issues/3113#issuecomment-516720191

[2019-07-31 07:18] jmgasper commented on #92
@veshu - That's strange.  I'll keep an eye on it, thanks.

[2019-08-04 01:20] afrisalyp commented on #154
@jmgasper
Do we need to put the client id and client secret in the document?

[2019-08-04 01:23] afrisalyp commented on #152
@jmgasper
Can you please provide more detail about how to reproduce the error?
Did it happen on a specific project?

[2019-08-04 02:52] afrisalyp commented on #152
@jmgasper

It seems the project id that is seen on the screenshot looks like `mongodb object id`.

But I successfully tested on my local deployment and I found that the project id is `UUID` looks like
`32f3f46d-d1aa-4bf4-898a-438853180e91-1564885944672`

Do you think the problem is related to it?

[2019-08-04 05:40] jmgasper commented on #154
@afrisalyp - Yes, please do.

[2019-08-04 05:41] jmgasper commented on #152
@afrisalyp - The code deployed on prod is the 'master' branch, which is quite a bit older.  I just want to make sure we test this with the newest code - if it can't be reproduced, that's fine.  Just make sure to document that in your README, thanks.

[2019-08-04 06:03] afrisalyp commented on #152
@jmgasper

I found an old issue similar to this problem.
https://github.com/topcoder-platform/topcoder-x-ui/issues/125

It has been fixed by the commit but it hasn't merged to the master branch.
So I believe this issue is already fixed.

Sure, I'll document on my README.
Thanks.

[2019-08-12 15:31] callmekatootie opened #155 "Create labels automatically"
It appears that this tool requires the copilot to set some labels in the repository which is then used by this tool.

A request: Could this tool create the labels needed in the repository automatically, if they don't exist already...

[2019-08-12 21:36] jmgasper commented on #155
@callmekatootie - This is already part of Topcoder-X.

See the `Setup of labels, webhooks, and wiki` section of the documentation:

https://github.com/topcoder-platform/topcoder-x-ui/wiki

<img width="1423" alt="Screen_Shot_2019-08-13_at_7_36_22_am" src="https://user-images.githubusercontent.com/21790/62900270-19178e00-bd9d-11e9-8f04-50f196818fd6.png">

[2019-08-12 21:36] #155 closed

[2019-08-20 04:07] jmgasper opened #156 "Review issue - Multiple clicks"
Related to #150:

[2019-08-20 04:08] jmgasper opened #157 "Review issue - Add issue form negative values"
Related to issue #147 :

[2019-08-20 04:09] jmgasper opened #158 "Login loop"
For Issue #153 , loop issue remains. Tested on Chrome.

You can be clicking on logout at the top right-hand of the app.

The app with your patches applied enters an infinite loop on Chrome when tested with an empty DynamoDB and cleared browser cache.
You can reproduce the issue by logging in as TonyJ, log out, then try to login as mess before visiting http://topcoderx.topcoder-dev.com

[2019-08-20 04:10] #153 closed

[2019-08-20 04:10] #152 closed

[2019-08-20 04:10] #148 closed

[2019-08-20 04:10] #150 closed

[2019-08-20 04:10] #154 closed

[2019-08-20 04:11] #149 closed

[2019-08-20 04:11] #147 closed

[2019-08-20 04:16] jmgasper opened #159 "Document APIs used in Topcoder-X"
In the app (processor and UI), we need to document the *current* APIs used on the Topcoder platform.  This includes:

* Auth
* Challenge service
* Project service
* Submission service
* Any other Topcoder platform APIs consumed by Topcoder-X

We're going to be transitioning from the v3/v4 APIs to v5 shortly, and this will help ensure we have a good path for that new work.

A separate MD file is fi

[2019-08-21 21:20] jmgasper opened #160 "Crash in Topcoder-X UI"
This crash happened for a few hours recently and brought the UI site down.  No changes to code were deployed at the time (previous deploy was 6+ weeks before this), so it wasn't a new code change causing the problem.

We need to investigate why this was happening and hopefully add in something to mitigate the problem in the future:

[code]

[2019-08-28 15:06] rootelement opened #161 "Expired Token"
When connecting to a repo, this GitHub token is expired:
<img width="859" alt="Screen Shot 2019-08-28 at 10 59 23 AM" src="https://user-images.githubusercontent.com/5400156/63867886-9e956380-c983-11e9-9719-ccf577c85192.png">

But there's no way to reauth with GitHub without going in the DB and destroying the token. Update this screen:
<img width="407" alt="Screen Shot 2019-08-28 at 11 05 07 AM" sr

[2019-08-30 04:06] jmgasper opened #162 "Gitlab provider check"
From the latest review:

a) You have removed the 'gitlab' provider check in IssueService.js -> handleIssueCreate.
On gitlab, if I assign and then create an issue with multiple assignees, only the event for 'issue.created' is sent. That is why we need to explicitly call handleIssueAssignment.
But you removed the check. So handleIssueAssignment is called for Github too even though github already sen

[2019-08-30 04:07] jmgasper opened #163 "Review issue - Converting error"
Related to #126:
In tcx-ui, src/services/ProjectService.js line 384 you have,
[code]

This has to be
throw helper.convertGitLabError(err, errMsg);

As you are converting gitlab error and not github

[2019-08-30 04:08] jmgasper opened #164 "Review issue - User credentials"
From the latest review:

Related to #126:

In tcx-ui, src/services/ProjectService.js line 218,
`const userRole = await helper.getProjectCopilotOrOwner(models, dbProject, provider, false);`

You have changed createLabel function to use logged in user credentials instead of copilot credentials just like for the createHook function
This is not a part of the requirement.

[2019-08-30 04:08] #164 closed

[2019-08-30 04:09] jmgasper opened #165 "Review issue - Revoking github / gitlab settings"
From the latest review:

Issue #156 - Revoke github/gitlab settings - Multiple clicks

If I,
* Click on X for Github (or Gitlab)
* Select No in the dialog
* Click on X for Gitlab (or Github)
* Select Yes in the dialog

Then both Github and Gitlab settings are removed.
But only the selected setting should be removed

See https://monosnap.com/file/kbD97j12SdrmBS4YOEPcdSGNfDsiiN

[2019-08-30 04:09] jmgasper opened #166 "Fix TC-X vulneratbilities"
From the Github security scans:

* Receiver lists 31 vulnerabilities (10 low, 4 moderate, 17 high)
* Processor lists 63 vulnerabilities (14 low, 11 moderate, 38 high)
* UI lists 98 vulnerabilities (34 low, 26 moderate, 36 high, 2 critical)

We need to fix these so that there are no pending vulnerabilities.

[2019-08-30 04:10] #158 closed

[2019-08-30 04:10] #157 closed

[2019-08-30 04:10] #156 closed

[2019-08-30 04:10] #159 closed

[2019-08-30 04:10] #126 closed

[2019-08-30 04:10] #92 closed

[2019-08-31 04:54] jmgasper opened #167 "Error in logs"
I see this error quite a bit in the logs.  Please fix the underlying error - don't just remove the logging.

[code]

[2019-08-31 04:59] jmgasper opened #168 "Strange message in logs"
I notice stuff like this in the logs:  Do we know if all this extra data, and stuff like the weird Buffer, is coming from the challenge API or our code?

We should not be logging raw Javascript like this.

[code]

`
Aug 30 10:28:53 topcoder-x-processor app/worker.1: debug:  topics ======= [{"offset":18800,"messageSize":1356,"message":{"crc":870021204,"magicByte":0,"attributes":{"_raw":0,"codec":0}

[2019-09-12 05:48] jmgasper opened #190 "Review pull requests"
Github has suggested changes to reduce our security vulnerabilities.  We need to apply these and test them to ensure there won't be any issues arising:

https://github.com/topcoder-platform/topcoder-x-ui/pulls
https://github.com/topcoder-platform/topcoder-x-processor/pulls
https://github.com/topcoder-platform/topcoder-x-receiver/pulls

[2019-09-12 05:50] #161 closed

[2019-09-12 05:50] #162 closed

[2019-09-12 05:50] #163 closed

[2019-09-12 05:50] #165 closed

[2019-09-12 05:50] #166 closed

[2019-09-12 05:50] #167 closed

[2019-09-12 05:50] #168 closed

[2019-09-12 05:50] #160 closed

[2019-09-24 17:27] rootelement opened #191 "Add Create Challenge Button from TCX-UI"
Change this button from Edit to Manage because there are repo setup buttons on this page.
<img width="937" alt="Screen Shot 2019-09-24 at 1 25 10 PM" src="https://user-images.githubusercontent.com/5400156/65535130-d3d39980-dece-11e9-975a-175c75df8ff2.png">

Add a button to the Manage page that says "Create Advertisement Challenge"

Clicking that button should create a draft F2F on the project with

[2019-09-30 16:44] jmgasper commented on #130
@rootelement - We looked into this, and it really didn't align well with what's available in the submission services.  I'll see if I can pull up the forum threads regarding this to shed more light on where we had issues.

[2019-09-30 16:48] jmgasper commented on #127
@rootelement - This one turned into a service related nightmare.  The problem in the challenge service is that you can't mark a challenge as "cancelled" without *activating* it, but we don't actually activate anything until we go to actually pay a ticket.  I asked if we could just mark a challenge as "deleted" through the API, which would align with what we do in OR for gameplanning, but I was tol

[2019-09-30 16:50] jmgasper commented on #84
@rootelement - We'll have to investigate this as part of a challenge.  This must be the default in Gitlab / Github, but I'm not entirely sure we can change that behaviour.

I'll ask if a member can take a look at it in the short term just to see if it's feasible.

[2019-09-30 16:52] jmgasper commented on #63
@rootelement - This is done, I just forgot to close the ticket.  Can be seen in dev.

<img width="714" alt="Screen Shot 2019-10-01 at 2 51 57 am" src="https://user-images.githubusercontent.com/21790/65899160-7b345d00-e3f6-11e9-9395-c61831c02d1d.png">
<img width="714" alt="Screen Shot 2019-10-01 at 2 51 45 am" src="https://user-images.githubusercontent.com/21790/65899163-7bccf380-e3f6-11e9-996e-e21

[2019-09-30 16:52] #63 closed

[2019-09-30 16:53] jmgasper commented on #48
@rootelement - This wasn't needed, and we fixed this behind the scenes by allowing a separate owner / copilot assignee to a project.

[2019-09-30 16:53] #48 closed

[2019-09-30 16:53] jmgasper commented on #46
@cwdcwd / @rootelement - Can you point me to the member API please?  I'll investigate the call needed.

[2019-09-30 16:55] jmgasper commented on #72
@rootelement - Should be easy enough.  We may also be able to use either a link or the content from the wiki, which is much more informative:

https://github.com/topcoder-platform/topcoder-x-ui/wiki

Let me know what you think.

[2019-09-30 17:07] jmgasper commented on #130
@rootelement - Here was what the developer reported awhile back.  I'm just not sure what we do with this because of the long delays between when we activate the challenge and when the submission phase is open.  It used to be close to instant, but now is taking longer and longer (over the last 12 months or so), not sure why.

Once we activate a challenge, the submission phase wouldn't open at the t

[2019-09-30 17:08] jmgasper commented on #130
We could just have a background process based on Kafka messages just check to see if the submission phase is open every 30 minutes or so and add the file when it is, but we really want to just activate the challenge and close it immediately.  Adding in a weird delay so we can upload a file isn't ideal.

[2019-09-30 17:15] jmgasper commented on #130
@cwdcwd - Are you OK if we just close this one for now and revisit it later?  It just doesn't seem feasible with the platform at the moment.

[2019-10-02 05:27] jmgasper opened #194 "[$100] Add health check to UI project"
As discussed via Slack, for both develop and master.

[2019-10-02 05:35] jmgasper commented on #194
Contest https://www.topcoder.com/challenges/30103807 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-10-02 05:35] jmgasper commented on #194
Contest https://www.topcoder.com/challenges/30103807 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-10-02 06:05] jmgasper commented on #194
@ThomasKranitsas - Can you check this please?  It's not working in prod:

https://x.topcoder.com/health

And relevant logs:

[code]

[2019-10-02 08:55] ThomasKranitsas commented on #194
New PRs:
- https://github.com/topcoder-platform/topcoder-x-ui/pull/195
- https://github.com/topcoder-platform/topcoder-x-ui/pull/196

[2019-10-02 15:04] #194 closed

[2019-10-02 15:06] jmgasper commented on #194
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30103807<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-10-03 15:53] rootelement commented on #146
@ThomasKranitsas can you commit the latest migration tools to this repo in a /scripts directory? And make sure there is any documentation to run it in the README?

[2019-10-04 06:10] jmgasper commented on #146
@rootelement - I've done this.

[2019-10-08 05:07] jmgasper opened #197 "Automatically add labels, webhook, wiki rules"
When a new project is added in `Project Management`, we should automatically add the labels, webhook, and wiki rules, instead of forcing the user to go into the `Edit a project` page and click each button.

When doing this, we need to ensure the process is "robust", meaning that it should properly handle the case where labels, webhook, or wiki rules *already* exist, skipping them if they are alrea

[2019-10-08 05:49] jmgasper opened #198 "Wrapped error message"
Error messages shouldn't wrap in the middle of a word.  They should wrap on whitespace.  This should apply to **all** error dialogs, not just the example one shown.

<img width="861" alt="Screen_Shot_2019-10-08_at_4_47_36_pm" src="https://user-images.githubusercontent.com/21790/66370336-8c2f3080-e9eb-11e9-87d6-7227cdaf9c48.png">

[2019-10-08 05:51] jmgasper opened #199 "Change Settings to a table"
Let's change the settings page to a table with 3 columns:

* Service name
* Setup
* Revoke

Right now, the UI is a little too "compressed" and hard to understand.

The Service name column will just have `Gitlab` or `Github`

The `Setup` column will either have the `Setup` button (if the service isn't configured), or a ✔️ (if the service is configured)

The `Revoke` column will have the Revoke butt

[2019-10-08 05:54] jmgasper opened #200 "Edit Project overlap"
There are a lot of buttons now on `Edit a Project`, and the buttons overlap unecessarily at certain widths:

<img width="1002" alt="Screen Shot 2019-10-08 at 4 52 45 pm" src="https://user-images.githubusercontent.com/21790/66370466-1f686600-e9ec-11e9-8f71-154fea0b446c.png">

Let's put these into two columns:

First column (green buttons)

* Recreate an Issue
* Transfer Ownership

Second column (cu

[2019-10-08 05:57] jmgasper opened #201 "Handle issue missing in DB"
When testing `Recreate an Issue`, I ran into a situation where a ticket hadn't been processed by Topcoder-X when it was initially created.  This led to a confusing error message:

<img width="623" alt="Screen Shot 2019-10-08 at 4 55 24 pm" src="https://user-images.githubusercontent.com/21790/66370593-884fde00-e9ec-11e9-83f3-e1d8e47ea099.png">

### Fix

In this case, there's no DB entry for ticket

[2019-10-08 16:09] rootelement commented on #146
@jmgasper i'm just seeing an empty folder here?:
https://github.com/topcoder-platform/topcoder-x-ui/tree/develop/scripts

Did you grab the zip above? Is that the latest?

[2019-10-08 16:15] rootelement commented on #146
@jmgasper the submodule is not linked correctly, or I don't have access to it...
<img width="615" alt="Screen Shot 2019-10-08 at 12 13 20 PM" src="https://user-images.githubusercontent.com/5400156/66413427-5d9e5f00-e9c5-11e9-86c3-cce1e111cd59.png">

[2019-10-08 23:02] jmgasper commented on #146
@rootelement - Sorry about that.  Fixed now.

[2019-10-09 04:10] #130 closed

[2019-10-09 04:10] jmgasper commented on #127
Confirmed that we can just delete the current DynamoDB entry for the ticket and allow the processor to create a new one.

[2019-10-09 04:17] jmgasper commented on #135
@ThomasKranitsas - We are a bit stuck here as well due to the API.  I'd like to be able to delete the challenge, but unfortunately that's not possible in the API.  The other option is to *activate* the challenge and then cancel it, but:

1.  I don't want to do any sort of activation due to billing and other issues
2. Even if we did activate, the project doesn't "start" right away due to weird issu

[2019-10-09 04:17] #135 closed

[2019-10-12 09:45] jmgasper opened #203 "[$75] Fix receiver logging"
Noticed by Topcoder when moving to AWS:

### Fix:

The Topcoder-X processor has good logging, so let's:

1.  Remove morgan as a dependency in the receiver
2. Copy in the logging implementation from the processor
3. Update the receiver code to use the new logging implementation from the processor.

[2019-10-13 10:04] afrisalyp commented on #203
@jmgasper,
The processor logger also uses `morgan` as a dependency.
Here is the code.
https://github.com/topcoder-platform/topcoder-x-processor/blob/c792201129a91d56a97e6bc7ddadd00f80911e62/utils/logger.js#L15

Can you please tell me what do we really want for removing the `morgan` module in the receiver?

[2019-10-13 10:09] jmgasper commented on #203
@afrisalyp - Let's remove `morgan` from the package.json and replace it with the winston dependency that the processor uses:  `"winston": "^2.4.3"`.  That way they're consistent.

[2019-10-13 10:19] afrisalyp commented on #203
@jmgasper oh i'm sorry. I misunderstood.
Thanks for the clarification.

[2019-10-13 12:43] afrisalyp commented on #203
@jmgasper it's ready for review. thanks.

[2019-10-14 05:36] jmgasper commented on #203
Contest https://www.topcoder.com/challenges/30104204 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-10-14 05:36] #203 closed

[2019-10-14 05:38] jmgasper commented on #203
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30104204<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-10-14 07:45] jmgasper opened #204 "[$40] Remove `+Add Issue` button"
Requested by Topcoder:

Remove the `+Add Issue` button.  We can keep the functionality, but we won't have the button available.

<img width="1531" alt="Screen_Shot_2019-10-14_at_6_44_34_pm" src="https://user-images.githubusercontent.com/21790/66735676-c77da380-eeb2-11e9-86f8-80d0b7f7109f.png">

[2019-10-17 22:19] jmgasper opened #205 "Revoke & Expire TCX URLs"
When you get a git URL for the user to add themselves to a repo, right now it has git information in there (ids and such). This should be replaced with a TCX obfuscated URL that is validated before the user.

Suggestion:
`https://x.topcoder.com/<project-slug>/<10 char alpha key>`

When setting up this URL, you should be able to have it not expire, or set an expiry in days, defaulting to 60 days. W

[2019-10-17 22:35] #200 closed

[2019-10-17 22:36] #198 closed

[2019-10-17 22:37] #199 closed

[2019-10-17 22:37] #190 closed

[2019-10-17 22:41] jmgasper commented on #72
<img width="1835" alt="Screen Shot 2019-10-18 at 9 39 48 am" src="https://user-images.githubusercontent.com/21790/67052855-3f85eb00-f18b-11e9-9927-8d9872e66ae9.png">

[2019-10-17 22:41] #72 closed

[2019-10-17 22:42] jmgasper commented on #84
From the latest challenge:

I did some investigation to identify the problem and the possible solution.

Here are the points
1. The behavior happens in Github.
   I have compared my teams on Github and my groups on Gitlab that i've joined with Topcoder-X tools.
   The issue is confirmed that my Github account automatically subscribe all of forked repositories from a repo that i've joined the team

[2019-10-17 22:43] jmgasper commented on #191
@rootelement - Any more details on this one?  Or can I start work on it?

[2019-10-23 21:32] jmgasper opened #206 "[$100] Update code and package.json"
@afrisalyp:

We have new NPM packages to use for the challenge API, that are configured with the v4 endpoints instead of v3.  We need to use these in the package.json and also update the code appropriately to use the new package details instead of the old package.

https://www.npmjs.com/package/@topcoder-platform/topcoder-api-challenges-v4-wrapper-dev

https://www.npmjs.com/package/@topcoder-platf

[2019-10-23 21:34] jmgasper commented on #206
Contest https://www.topcoder.com/challenges/30105040 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-10-23 22:50] jmgasper commented on #206
Contest https://www.topcoder.com/challenges/30105040 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-10-24 00:57] afrisalyp commented on #206
This is the screencast verification to show that the new integration works.
https://drive.google.com/open?id=1oyQhIzCPhqmc9x6Cszzj5S7iPByeoHLY

[2019-10-24 01:13] #206 closed

[2019-10-24 01:15] jmgasper commented on #206
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30105040<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-10-24 01:23] jmgasper opened #207 "[$75] Resource not accessible by integration when adding Github repo"
@afrisalyp - I'm see this when I attempt to add a Github repo.  Are you able to see the same?

<img width="1418" alt="Screen Shot 2019-10-24 at 12 22 16 pm" src="https://user-images.githubusercontent.com/21790/67445558-11a41900-f659-11e9-9f0a-e3cd2905e1c4.png">

[2019-10-24 01:26] jmgasper commented on #207
Contest https://www.topcoder.com/challenges/30105047 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-10-24 01:26] jmgasper commented on #207
Contest https://www.topcoder.com/challenges/30105047 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-10-24 01:27] afrisalyp commented on #207
@jmgasper
I'm investigating the problem.

[2019-10-24 01:27] jmgasper commented on #207
Closing this for now - looks like a config error in the Github OAuth app setup.

[2019-10-24 01:27] #207 closed

[2019-10-24 01:27] jmgasper commented on #207
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-10-24 01:27] jmgasper commented on #207
@afrisalyp - I may reopen this if we determine it's a code bug.  Right now we're pretty sure it's a config issue with the new dev OAuth app.  I'll let you know - sorry for the confusion.

[2019-10-24 01:28] afrisalyp commented on #207
@jmgasper
Oh, okay. Thanks for letting me know.

[2019-11-04 16:05] rootelement commented on #127
Yes, update this issue to do just this.

From the Manage page mentioned in this issue (https://github.com/topcoder-platform/topcoder-x-ui/issues/191), show a list of the challenges associated to the project with their current status/label, and if the user is an admin*, show a "recreate challenge" button that:
 - UI Alerts the user that it will orphan the challenge in direct
 - Reopens the issue if

[2019-11-04 20:18] jmgasper opened #209 "Recreating a challenge"
From the Manage page mentioned in this issue (#191), the `Recreate Challenge` button isn't working.  It should:

- Removes the git tcx labels (**Not all labels, just tcx_ ones**)
- Removes the assigned user
- Deletes the association in the issues table (delete all records for the combination of issue ID, repo ID)
- Sets the `tcx_OpenForPickup` label in git
- Create the challenge, as if the ticket

[2019-11-04 23:26] jmgasper opened #210 "[$40] Failing to update project in dev"
@afrisalyp - Updating a project is failing on https://x.topcoder-dev.com :

* User:  `Ghostar` / `appirio123`

Attempting to update a project name or billing account number throws a 400 / invalid request error.

<img width="1932" alt="Screen Shot 2019-11-05 at 10 26 29 am" src="https://user-images.githubusercontent.com/21790/68166534-bce89280-ffb6-11e9-9ca2-dea98a8c016a.png">

[2019-11-04 23:28] jmgasper commented on #210
This only seems to affect the listed project.  Another project updated fine, so I'm wondering if we're allowing the database to get into a state that makes it impossible to update certain projects.

[2019-11-04 23:29] jmgasper commented on #210
Contest https://www.topcoder.com/challenges/30105749 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-04 23:29] jmgasper commented on #210
Contest https://www.topcoder.com/challenges/30105749 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-04 23:30] jmgasper commented on #210
Contest https://www.topcoder.com/challenges/30105749 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-04 23:36] jmgasper opened #211 "Auto-registration fail"
I was testing in dev to register a new project in the `Project Management` tab, and I ran into an issue where the project was created, but the auto-assignment of webhook, label, and rules failed.

The error that showed was confusing, and it caused me to click `Save` again, and I ended up with a duplicate project.

What we need to do is:

1.  Figure out why the error message showed in the first pla

[2019-11-04 23:46] afrisalyp commented on #210
@jmgasper
Thanks for the assignment. Going to investigate the issue.

[2019-11-04 23:52] jmgasper opened #212 "[$50] Failed to create copilot payment in dev"
Site:  https://x.topcoder-dev.com
User: Ghostar / appirio123

I attempted to create a copilot payment for project `Topcoder-X Github Test`, but creating the challenge failed.  A subsequent request for the same project succeeded, so I'm guessing this is a challenge API failure.

We should be retrying the challenge creation step a couple of times, if we aren't already.

<img width="1988" alt="Screen

[2019-11-04 23:54] jmgasper commented on #212
Contest https://www.topcoder.com/challenges/30105751 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-04 23:54] jmgasper commented on #204
@afrisalyp - I'm hoping this one's easy enough to implement.

[2019-11-04 23:55] #197 closed

[2019-11-04 23:55] jmgasper commented on #212
Contest https://www.topcoder.com/challenges/30105751 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-04 23:55] jmgasper commented on #212
Contest https://www.topcoder.com/challenges/30105751 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-04 23:55] jmgasper commented on #127
Opened a new ticket for the flow above.

[2019-11-04 23:55] #127 closed

[2019-11-04 23:56] jmgasper commented on #46
@rootelement ☝️

[2019-11-04 23:56] jmgasper commented on #204
Contest https://www.topcoder.com/challenges/30105752 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-04 23:56] jmgasper commented on #204
Contest https://www.topcoder.com/challenges/30105752 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-04 23:56] jmgasper commented on #204
Contest https://www.topcoder.com/challenges/30105752 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-04 23:56] jmgasper commented on #151
@rootelement - Do we have the prod OAuth apps created, in preparation for the prod migration?

[2019-11-05 06:42] afrisalyp commented on #212
Retrying mechanism is already implemented but it has trouble with retried event data validation and some flows.

[2019-11-05 06:55] #210 closed

[2019-11-05 06:56] #204 closed

[2019-11-05 06:57] jmgasper commented on #204
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30105752<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-05 06:57] jmgasper commented on #210
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30105749<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-05 21:01] #212 closed

[2019-11-05 21:02] jmgasper commented on #212
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30105751<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 04:20] jmgasper opened #215 "[$1] Test Github 1"
Testing 1,2,3,

[2019-11-07 04:36] jmgasper opened #216 "[$1] Test Github 2"
Testing 1,2,3

[2019-11-07 05:15] jmgasper opened #217 "[$1] Test Github 3"
Testing 1,2,3

[2019-11-07 05:33] #217 closed

[2019-11-07 05:47] jmgasper opened #218 "[$75] Add config logging to receiver, processor, and UI"
@afrisalyp - We're seeing some odd config issues in prod that are hard to debug.  What I'd like to do is have the app dump the configuration values from the config module when the app starts, to the log.

This should be all values, with one value on each line.  We'll skip:

* AWS keys and secrets
* KAFKA cert and key
* Auth0 client secret and client ID
* Any other sensitive values that shouldn't b

[2019-11-07 05:50] #215 closed

[2019-11-07 05:50] #216 closed

[2019-11-07 05:51] jmgasper commented on #216
Contest https://www.topcoder.com/challenges/30105884 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 05:51] jmgasper commented on #218
Contest https://www.topcoder.com/challenges/30105883 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 05:51] jmgasper commented on #216
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 05:51] jmgasper commented on #218
Contest https://www.topcoder.com/challenges/30105883 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 05:51] jmgasper commented on #218
Contest https://www.topcoder.com/challenges/30105883 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 05:53] jmgasper commented on #215
Contest https://www.topcoder.com/challenges/30105885 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 05:53] jmgasper commented on #215
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 05:54] jmgasper commented on #215
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 05:55] jmgasper opened #219 "[$250] Clean up gulp config"
@afrisalyp - This line of code is causing some problems with the production CI deployment because the env variable isn't set when Gulp runs, so it's always defaulting to `dev`

https://github.com/topcoder-platform/topcoder-x-ui/blob/5a75931b3a341d0c6e8d257b1d582d9eb2c9f587/gulp/ng-config.js#L13

As we dug into this further, we see that this influences what's chosen in `src/front/config.json`.

Is

[2019-11-07 05:57] jmgasper commented on #219
Contest https://www.topcoder.com/challenges/30105886 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 05:59] jmgasper commented on #219
Contest https://www.topcoder.com/challenges/30105886 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 05:59] jmgasper commented on #219
Contest https://www.topcoder.com/challenges/30105886 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 06:45] jmgasper opened #220 "[$75] Remove email service from the processor"
@afrisalyp - We can trim out the email service from the processor for now.  This will include:

* Removing `EmailService.js`
* Removing all relevant config values from:
  * `configuration.md`
  * `config/default.js`

[2019-11-07 06:50] jmgasper commented on #220
Contest https://www.topcoder.com/challenges/30105897 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 06:51] jmgasper commented on #220
Contest https://www.topcoder.com/challenges/30105897 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 06:51] jmgasper commented on #220
Contest https://www.topcoder.com/challenges/30105897 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 06:52] jmgasper opened #221 "[$75] Update apps to use the no-kafka group consumer"
Topcoder has requested that we move from the kafka SimpleConsumer

`    this.consumer = new kafka.SimpleConsumer(config.KAFKA_OPTIONS);`

To a group consumer, similar to what's seen here:

https://github.com/topcoder-platform/submission-processor/blob/68c1efabe9adb9e67c3a8c425c78a7ae1c030c0f/src/app.js#L14

We should ensure that we add the KAFKA_GROUP_ID to the configuration, document it in the co

[2019-11-07 20:44] jmgasper commented on #221
@callmekatootie, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 20:44] jmgasper commented on #221
@callmekatootie, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 20:44] jmgasper commented on #221
@callmekatootie, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 20:44] jmgasper commented on #221
@callmekatootie, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 20:44] jmgasper commented on #221
Contest https://www.topcoder-dev.com/challenges/30105972 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 20:44] jmgasper commented on #221
Contest https://www.topcoder-dev.com/challenges/30105973 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 20:47] jmgasper commented on #221
Contest https://www.topcoder.com/challenges/30105974 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 20:47] jmgasper commented on #221
Contest https://www.topcoder.com/challenges/30105974 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-07 22:04] afrisalyp commented on #218
@jmgasper
Thanks for the assignments.
I'm working on the issues. Will be delivered soon

[2019-11-08 02:41] jmgasper commented on #221
Contest https://www.topcoder.com/challenges/30105974 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-08 02:41] jmgasper commented on #221
Contest https://www.topcoder.com/challenges/30105974 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-08 02:41] jmgasper commented on #221
@afrisalyp - This one's high priority, thanks!

[2019-11-08 02:41] jmgasper commented on #221
Contest https://www.topcoder-dev.com/challenges/30105980 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-08 03:59] afrisalyp commented on #221
@jmgasper it's done. please review it. thanks.

[2019-11-08 04:03] jmgasper commented on #221
[500]: Challenge for the updated issue 221 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-08 04:05] jmgasper commented on #221
@afrisalyp - Do we also need to update the receiver?

[2019-11-08 04:14] afrisalyp commented on #221
@jmgasper
I think it's not. The receiver doesn't implement kafka consumers. And we don't need to update the receiver kafka producer to comply with the new processor group consumer.

[2019-11-08 04:15] jmgasper commented on #221
Ok, thanks.

[2019-11-08 06:42] jmgasper commented on #221
[500]: Challenge for the updated issue 221 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-08 06:43] jmgasper commented on #221
Payment failed: [500]: Challenge for the updated issue 221 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-08 06:46] jmgasper commented on #221
Payment failed: [500]: Failed to close challenge.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-08 06:58] jmgasper commented on #218
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30105883<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-08 07:01] jmgasper commented on #218
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-08 07:01] jmgasper commented on #218
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-08 07:01] jmgasper commented on #218
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-08 07:05] jmgasper commented on #218
[500]: Challenge for the updated issue 218 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-08 07:05] jmgasper commented on #218
[500]: Challenge for the updated issue 218 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-08 07:05] jmgasper commented on #218
[500]: Challenge for the updated issue 218 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-08 13:22] afrisalyp commented on #219
@jmgasper
I've investigated the issue and so far I found some points related to this.

- `topcoder-x-ui` contains two independent apps, the backend service, and the frontend angular app. The frontend app is accessible as static web content.

- The problem is related to the frontend. For the frontend, we pass configurations from `src/front/config.json` and env when we build the angular project into

[2019-11-09 04:01] jmgasper commented on #219
Hmm...  What does the frontend use the configs for directly?  I'm wondering if we can just build new services for the frontend to call so that it doesn't have to "know about" the config at all.

[2019-11-09 04:02] jmgasper commented on #219
Contest https://www.topcoder.com/challenges/30105886 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-09 04:32] jmgasper commented on #221
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30105974<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-09 04:37] jmgasper commented on #221
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-09 04:37] jmgasper commented on #221
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-09 04:38] #220 closed

[2019-11-09 04:42] jmgasper commented on #220
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30105897<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-09 04:48] #221 closed

[2019-11-09 04:50] jmgasper commented on #218
Contest https://www.topcoder.com/challenges/30106145 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-09 04:50] jmgasper commented on #218
Contest https://www.topcoder.com/challenges/30106145 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-09 04:50] #218 closed

[2019-11-09 04:50] jmgasper commented on #221
Contest https://www.topcoder.com/challenges/30106146 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-09 04:51] jmgasper commented on #218
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30106145<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-09 04:52] jmgasper commented on #221
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-09 06:46] afrisalyp commented on #219
Most of them are URLs. The frontend uses the URLs to call Topcoder API, to redirect to the Topcoder login page and other purposes related to Auth.

So we'll move the configs to the backend and we'll create new service in the backend to fetch the configs. The frontend will get the configs at the page load.
Do you confirm my understanding?

[2019-11-09 08:40] jmgasper commented on #219
Yeah, I think that should be fine.  It will lessen complexity, which is good.

[2019-11-10 06:24] afrisalyp commented on #219
@jmgasper
It's ready for review.

[2019-11-11 04:38] #219 closed

[2019-11-11 04:42] jmgasper commented on #219
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30105886<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-14 04:05] afrisalyp commented on #218
@jmgasper
I got two payments for this issue. Both of them are paid.
https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30106145
https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30105883

I'm afraid that we have a critical bug on Topcoder X related to the double payment.

[2019-11-14 18:13] jmgasper commented on #218
@afrisalyp - That was a challenge API failure, I think.  I had to go in and manually update the MongoDB to get the system to pay out successfully, but the first ticket that was "stuck" also eventually got paid out.  I reported that `javax.ejb.EJBTransactionRolledbackException` to the challenge API team, but that's something that I've complained about for almost two years now and it hasn't been fix

[2019-11-14 18:14] jmgasper commented on #218
Normally this won't happen because it required me to mess with the DB manually.  I'm hoping that the change to the v5 challenge API will help here.

[2019-11-16 09:51] afrisalyp commented on #218
@jmgasper
Oh, okay. The v5 challenge API sounds good.
Btw, I just informed you that I got double payments for this issue. :D

[2019-11-16 19:20] jmgasper commented on #218
@afrisalyp - Yeah, we'll figure that out later.  I'll probably just reduce a direct ticket in the future by that same amount to offset it a bit.  Thanks for letting me know!

[2019-11-21 06:21] jmgasper opened #226 "[$1] Test DynamoDB 1"
Test 1,2,3

[2019-11-21 06:25] jmgasper opened #227 "[$1] Test DynamoDB 2"
Testing 1,2,3...

[2019-11-21 08:44] jmgasper opened #228 "[$5] DynamoDB test 3"
Testing 1,2,3

[2019-11-21 09:17] jmgasper opened #229 "[$3] DynamoDB test 4"
asdfasdf

[2019-11-21 09:36] jmgasper opened #230 "[$5] Test 100"
Test 1,2,3

[2019-11-21 09:41] jmgasper commented on #230
Contest https://www.topcoder-dev.com/challenges/30107495 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:41] jmgasper commented on #230
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:44] jmgasper commented on #230
Payment failed: [500]: Challenge for the updated issue 230 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:48] jmgasper commented on #230
[500]: Challenge for the updated issue 230 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:48] jmgasper opened #231 "[$10] Test 101"
alskdjflkasdj

[2019-11-21 09:49] #226 closed

[2019-11-21 09:49] #227 closed

[2019-11-21 09:49] #228 closed

[2019-11-21 09:49] #229 closed

[2019-11-21 09:49] jmgasper commented on #226
Contest https://www.topcoder-dev.com/challenges/30107498 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:49] jmgasper commented on #226
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:49] jmgasper commented on #229
Contest https://www.topcoder-dev.com/challenges/30107499 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:49] jmgasper commented on #229
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:49] jmgasper commented on #228
Contest https://www.topcoder-dev.com/challenges/30107500 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:49] jmgasper commented on #228
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:50] jmgasper opened #232 "[$150] Lots of ID null logs"
@afrisalyp - We finally got the latest code deployed in prod.  I'm seeing this a lot for Github tickets in the logs:

[code]

It doesn't seem to affect functionality, but it's something we should clean up, thanks.

[2019-11-21 09:51] jmgasper opened #233 "[$40] Increase API timeout"
@afrisalyp - Another one I'm seeing, with the new NPMs we added.  Note that this only seems to affect prod and is seen in the topcoder-x-processor.

[code]

I tried to increase the timeout to 5 minutes or so for the ApiClient, but it didn't seem to work.  Any ideas?

[2019-11-21 09:51] jmgasper commented on #233
Contest https://www.topcoder-dev.com/challenges/30107503 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:51] jmgasper commented on #231
Contest https://www.topcoder-dev.com/challenges/30107504 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:52] jmgasper commented on #233
Contest https://www.topcoder-dev.com/challenges/30107507 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:52] jmgasper commented on #230
Payment failed: [500]: Challenge for the updated issue 230 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:53] jmgasper commented on #233
Contest https://www.topcoder-dev.com/challenges/30107509 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:55] jmgasper commented on #227
Contest https://www.topcoder-dev.com/challenges/30107513 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:55] jmgasper commented on #227
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:57] jmgasper opened #234 "[$350] Duplicate tickets"
@afrisalyp - As you noted last week, we can sometimes get duplicate tickets, like what I saw here with the timeouts:

https://github.com/topcoder-platform/topcoder-x-ui/issues/233

We need to make sure that this can't  happen.  I'm open to suggestions.

[2019-11-21 09:57] jmgasper commented on #234
Contest https://www.topcoder-dev.com/challenges/30107517 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 09:57] jmgasper commented on #234
Contest https://www.topcoder-dev.com/challenges/30107518 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 10:01] #231 closed

[2019-11-21 10:02] #230 closed

[2019-11-21 10:02] #151 closed

[2019-11-21 10:03] #84 closed

[2019-11-21 10:04] jmgasper commented on #231
Contest https://www.topcoder-dev.com/challenges/30107526 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 10:04] jmgasper commented on #231
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 10:05] jmgasper commented on #230
[500]: Challenge for the updated issue 230 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 10:07] jmgasper commented on #231
Contest https://www.topcoder-dev.com/challenges/30107528 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 10:07] jmgasper commented on #231
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 10:16] jmgasper opened #235 "[$1] Test 102"
sldkfjlsdjkf

[2019-11-21 10:18] jmgasper commented on #235
Contest https://www.topcoder-dev.com/challenges/30107531 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 10:19] jmgasper commented on #233
Nevermind - I figured this out.

[2019-11-21 10:19] #233 closed

[2019-11-21 10:20] jmgasper commented on #235
Contest https://www.topcoder-dev.com/challenges/30107532 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 10:20] jmgasper commented on #235
Contest https://www.topcoder-dev.com/challenges/30107532 has been updated - it has been assigned to ghostar.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 10:21] jmgasper commented on #233
Contest https://www.topcoder-dev.com/challenges/30107533 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 10:21] jmgasper commented on #233
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 10:21] jmgasper commented on #234
@afrisalyp - Another one where duplicates were created:

https://github.com/topcoder-platform/topcoder-x-ui/issues/235

[2019-11-21 14:02] afrisalyp commented on #234
@jmgasper
Does the prod deployment run multiple instances of the processor?
If yes, did you put different KAFKA_GROUP_ID value for each of them?

So far, I can reproduce the problem if I run multiple instances of the processor. Ideally, all of the instances must have the same KAFKA_GROUP_ID value. But I got some errors. So I ran multiple processors but with different KAFKA_GROUP_ID. This deploymen

[2019-11-21 17:32] rootelement opened #236 "[$50] non https redirect"
If you go to http://x.topcoder.com, you get a 503. This should be accepted and 301 Redirect to https, but keep the URL the user went to if possible.

[2019-11-21 19:46] jmgasper commented on #236
Contest https://www.topcoder-dev.com/challenges/30107628 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 19:46] jmgasper commented on #236
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 19:48] jmgasper commented on #236
Contest https://www.topcoder-dev.com/challenges/30107629 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 19:48] jmgasper commented on #236
Contest https://www.topcoder-dev.com/challenges/30107629 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 19:50] jmgasper commented on #234
@afrisalyp - I'm checking on that, but I'm not sure that's the issue.  For instance, I closed out a ticket that got migrated over, and it's attempting to create a new challenge, instead of using the existing one.  Can you check why that may be?

Relevant logs:

[code]

[2019-11-21 19:53] #235 closed

[2019-11-21 19:53] jmgasper commented on #235
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 19:54] jmgasper commented on #232
@afrisalyp - Can you take a look at this one please?  I'm also seeing stuff like this, which seems to be similar:

[code]

[2019-11-21 19:56] jmgasper commented on #232
Contest https://www.topcoder-dev.com/challenges/30107632 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 20:03] jmgasper commented on #232
Contest https://www.topcoder-dev.com/challenges/30107633 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 20:04] jmgasper commented on #234
@afrisalyp - It just seems like it's trying to create a new ticket for every action, like label assigned, user assigned, etc...

[2019-11-21 20:05] jmgasper commented on #232
Contest https://www.topcoder-dev.com/challenges/30107634 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-21 20:12] jmgasper commented on #234
For this particular ticket, I see multiple DynamoDB entries.  I'm not sure why the initial ticket wasn't used for assigning:

[code]

[code]

[2019-11-21 20:13] jmgasper commented on #234
@afrisalyp - Got confirmation that there is only one processor instance running.

[2019-11-22 00:32] afrisalyp commented on #234
@jmgasper
Does the issue also appear in the dev environment?

[2019-11-22 00:48] jmgasper commented on #234
@afrisalyp - I don't think we've seen it in dev, no.  I'll test to make sure.

[2019-11-22 00:49] jmgasper commented on #234
@afrisalyp - Is dev loading for you?

https://x.topcoder-dev.com/

[2019-11-22 00:59] afrisalyp commented on #234
@jmgasper
No, I got blank screen.
![Screenshot from 2019-11-22 07-57-48](https://user-images.githubusercontent.com/8887344/69389202-eff08d00-0cfd-11ea-9723-0cd29c5db322.png)

[2019-11-22 01:14] jmgasper opened #237 "[$100] Investigate blank screen when loading dev"
As discussed, dev loads to a blank screen.

[2019-11-22 01:16] jmgasper commented on #237
Contest https://www.topcoder-dev.com/challenges/30107635 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 01:16] jmgasper commented on #237
Contest https://www.topcoder-dev.com/challenges/30107635 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 01:32] afrisalyp commented on #232
@jmgasper
I think this issue is related to the duplicate issue. The main problem is we got null when we get the dbIssue.

https://github.com/topcoder-platform/topcoder-x-processor/blob/develop/services/IssueService.js#L66

That's also why the processor does create process again. (Related to the duplicate issue)

Can you please try to put some log to the line code to print out the params in the pro

[2019-11-22 01:43] jmgasper commented on #232
@afrisalyp - I'll do that now.  In the meantime, I dumped the issues table if you want to take a look.  I'll email you directly so it's not in the public Github repo.

[2019-11-22 01:49] afrisalyp commented on #232
@jmgasper
Okay, thanks.

[2019-11-22 04:40] jmgasper opened #238 "[$75] Gitlab access link not showing required information"
Sample link emailed directly

Resultant page doesn't look right, although the access was granted.  We need to ensure that the page is filled in appropriately.

<img width="1380" alt="Screen Shot 2019-11-22 at 3 40 24 pm" src="https://user-images.githubusercontent.com/21790/69398454-67dea780-0d3e-11ea-8cd9-ce632fa38ffc.png">

[2019-11-22 04:43] jmgasper commented on #238
Contest https://www.topcoder-dev.com/challenges/30107640 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 06:31] afrisalyp commented on #237
This commit causes the problem occurs.
https://github.com/topcoder-platform/topcoder-x-ui/commit/f795ab4f1edad5bff094db1224cb30c53f887588

It upgrade the angular version to 1.7. but the modules still 1.4.

[2019-11-22 06:52] jmgasper commented on #238
Contest https://www.topcoder-dev.com/challenges/30107660 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 06:52] jmgasper commented on #238
Contest https://www.topcoder-dev.com/challenges/30107660 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 06:52] jmgasper commented on #238
Contest https://www.topcoder-dev.com/challenges/30107660 has been updated - amunation has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 06:55] afrisalyp commented on #238
@jmgasper it's ready for review.

[2019-11-22 06:55] jmgasper commented on #237
@afrisalyp - Ok, cool, thanks!

[2019-11-22 07:03] afrisalyp commented on #232
@jmgasper
I found this ticket has 4 records in the dumped issues table.
One of the records is pending.
[code]

Can you please check the record again so we know if the record is still pending or something else status.
Thanks.

[2019-11-22 07:06] jmgasper commented on #232
@afrisalyp - That's not great.  Any idea how we could end up with 4 records?

[2019-11-22 07:10] jmgasper opened #241 "[$5] Testing 1,2,3"
asdfasdf asdf asdf

[2019-11-22 07:11] jmgasper commented on #241
Contest https://www.topcoder-dev.com/challenges/30107665 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 07:12] jmgasper commented on #234
@afrisalyp - Here's a sample from a test ticket I just logged.

[code]

[2019-11-22 07:14] afrisalyp commented on #232
This ticket has three challenge creation comments, but the records in the DB is four.

https://github.com/topcoder-platform/topcoder-x-ui/issues/232#issuecomment-557247145
https://github.com/topcoder-platform/topcoder-x-ui/issues/232#issuecomment-557249764
https://github.com/topcoder-platform/topcoder-x-ui/issues/232#issuecomment-557250437

As we saw, one of the record is `challenge_creation_pendi

[2019-11-22 07:42] jmgasper commented on #241
Contest https://www.topcoder-dev.com/challenges/30107676 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 07:42] jmgasper commented on #241
Contest https://www.topcoder-dev.com/challenges/30107677 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 09:49] jmgasper commented on #241
Contest https://www.topcoder-dev.com/challenges/30107706 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 09:58] jmgasper commented on #241
Contest https://www.topcoder-dev.com/challenges/30107707 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 09:59] afrisalyp commented on #234
@jmgasper
The new test ticket seems to create a new challenge after an assignment or unassignment consistently.
Can you please provide the logs when the duplication created occurs? And also please provide the DB records of the ticket if it's possible.

[2019-11-22 10:03] jmgasper opened #242 "[$5] Test ticket 2"
lsdkjflksdjflsd

[2019-11-22 10:03] afrisalyp commented on #234
This issue seems affect the prod only. The dev and my local deployment don't.

[2019-11-22 10:04] jmgasper commented on #242
Contest https://www.topcoder-dev.com/challenges/30107708 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 10:34] jmgasper commented on #242
Contest https://www.topcoder-dev.com/challenges/30107713 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 10:34] jmgasper commented on #242
Contest https://www.topcoder-dev.com/challenges/30107713 has been updated - it has been assigned to ghostar.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 10:34] jmgasper commented on #234
@afrisalyp - Yeah, agreed.  We didn't get this in dev in my testing.

[2019-11-22 10:37] jmgasper commented on #234
I sent logs targeting this test issue:  https://github.com/topcoder-platform/topcoder-x-ui/issues/242 , and a full dump of the issues table via email.  If you want to do extra logging anywhere, feel free to open a merge request with the additional logging and I'll get it deployed.

[2019-11-22 19:54] jmgasper commented on #234
@afrisalyp - Any ideas?  Any additional logging we can add that would be helpful?

[2019-11-22 23:11] afrisalyp commented on #234
@jmgasper
A merge request added. I put some logs to see how the DB query works.
Please test the scenario so we get duplicate issue.
Also, let me try to change the Kafka Group Consumer to Simple Consumer and we'll see if it has an impact.
Thanks.

[2019-11-22 23:16] jmgasper commented on #234
@afrisalyp - Thanks.  Deploying now.

[2019-11-22 23:25] #241 closed

[2019-11-22 23:25] #242 closed

[2019-11-22 23:25] jmgasper commented on #241
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 23:25] jmgasper commented on #242
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 23:25] jmgasper opened #243 "[$1] Test 3"
lsdkfjlskdjf slkdfj lskdjf

[2019-11-22 23:28] jmgasper commented on #243
Contest https://www.topcoder-dev.com/challenges/30107809 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 23:28] jmgasper commented on #243
Contest https://www.topcoder-dev.com/challenges/30107809 has been updated - it has been assigned to ghostar.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 23:34] jmgasper commented on #234
@afrisalyp - Seems better.  Going to keep an eye on it

[2019-11-22 23:35] jmgasper commented on #243
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 23:40] jmgasper opened #244 "[$100] Failure when closing challenge"
@afrisalyp - I think we get a lot of failures when closing challenges with errors like this:

[code]

We've experienced that for awhile, and from what I can figure out, I think it happens when we end up trying to process the same ticket twice, at the same time.  Can you double check if that could happen please?  Maybe we can add a lock on the record in DynamoDB to indicate a record is being paid s

[2019-11-22 23:42] jmgasper commented on #244
Contest https://www.topcoder-dev.com/challenges/30107810 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 23:43] jmgasper commented on #244
Contest https://www.topcoder-dev.com/challenges/30107811 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-22 23:50] afrisalyp commented on #234
@jmgasper
I see this new ticket still has the duplication issue
https://github.com/topcoder-platform/topcoder-x-ui/issues/244

[2019-11-23 01:38] afrisalyp commented on #244
@jmgasper
This might be another issue.
I see the challenge creation comment is

But the URL is for the dev environment.
So if we open the URL https://www.topcoder-dev.com/challenges/30107811, we'll see "challenge doesn't exist".
But if we change the URL to https://www.topcoder.com/challenges/30107811. We'll get the challenge page.

So it might be we need to check the configuration for the producti

[2019-11-23 04:16] afrisalyp commented on #244
The issue is confirmed. A double process can lead to the error message.
I can reproduce the issue by
- reopening a paid ticket,
- removing the tcx_paid label,
- then close the ticket again.
Fixed by the pull request.

But somehow I found that the issue can also occur related to error from API calls.

[2019-11-23 05:27] jmgasper commented on #244
@afrisalyp - Yeah, the config had the wrong URL.  It hasn't been affecting anything other than the messages back to Github, and it should be fixed now.

Is there any way to avoid a double-process of a payment?

[2019-11-23 05:35] afrisalyp commented on #244
@jmgasper
Yeah, we have implemented the lock status in the DB record.
A pull request submitted.
It's ready for review.

[2019-11-23 06:23] jmgasper commented on #244
@afrisalyp - Here's some logs:

[code]
This is with the latest code - can we add some logging around that 500 error?

[2019-11-23 06:26] #243 closed

[2019-11-23 06:26] jmgasper commented on #243
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-23 06:26] jmgasper commented on #237
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-23 06:28] jmgasper commented on #244
Another one.  I think this is eventually going to close though - but it's reporting a 500 that we need to capture and decide if we can ignore it or not:

[code]

[2019-11-23 06:31] jmgasper commented on #238
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-23 06:36] jmgasper commented on #238
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-23 06:37] jmgasper commented on #237
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-23 06:42] afrisalyp commented on #244
@jmgasper
Actually, the error is exactly the same as the error I used to get when we still use the v3 challenge API version. For the topcoder-dev environment.
But when we migrated it to v4. The error fixed.

But I think it doesn't apply in the prod.
Do you think its a good idea to try to use the v3 version of the challenge API in the prod instead of v4?

[2019-11-23 06:42] jmgasper opened #245 "[$50] Failing to pay ticket"
@afrisalyp - Another one that's failing is a ticket in a private repo.

The DB has this repo ID, challenge ID, number, and provider, but it seems to be failing to find the ticket:

[code]

[2019-11-23 06:46] jmgasper commented on #245
Contest https://www.topcoder.com/challenges/30107828 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-23 06:46] jmgasper commented on #245
Contest https://www.topcoder.com/challenges/30107828 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-23 06:51] jmgasper commented on #244
@afrisalyp - Aren't we using the v4 API in prod?  We should be.

[2019-11-23 06:56] afrisalyp commented on #244
@jmgasper
Yeah. I mean, for the production, v3 is the stable version.
Now, the prod is using v4. I was wondering if we keep using v3 in the prod.

I'm very familiar with the error so I'm pretty sure that the 500 error is from the API problem.

[2019-11-23 07:01] jmgasper commented on #244
@afrisalyp - Let's add some logging first so we know what the 500 error is and then we'll decide if we want to downgrade or not.

[2019-11-23 07:06] afrisalyp commented on #244
@jmgasper Okay.

[2019-11-23 07:59] afrisalyp commented on #244
@jmgasper it's done.

[2019-11-23 10:00] afrisalyp commented on #245
Accidentally close this. Sorry. :D

[2019-11-23 10:02] jmgasper commented on #245
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-23 10:10] afrisalyp commented on #245
I can't reproduce this issue.
But upgrading dynamoose is a possible solution.
https://github.com/dynamoosejs/dynamoose/issues/248

Also, there are some missed `return` in `reject` code.

[2019-11-23 10:11] afrisalyp commented on #245
`package.json` is updated.
So please clean the `node-module` and `package-lock.json` when deploying it to prod.
Thanks.

[2019-11-23 10:24] jmgasper commented on #234
Contest https://www.topcoder.com/challenges/30107834 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-23 10:34] jmgasper commented on #234
@afrisalyp - Still seeing lots of duplicates...

[2019-11-23 10:39] afrisalyp commented on #234
@jmgasper
Yeah. I'm pretty sure that it caused by the DB query error seen in https://github.com/topcoder-platform/topcoder-x-ui/issues/245.

Somehow the process can't query an issue, so it will create a new record and challenge.

Does the DB error logs still appear?

[2019-11-23 10:39] jmgasper commented on #245
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-23 10:43] jmgasper commented on #234
@afrisalyp - It's a bit of a mess

<img width="836" alt="Screen Shot 2019-11-23 at 9 43 16 pm" src="https://user-images.githubusercontent.com/21790/69477419-48c54000-0e3a-11ea-9ef9-86a76b957e04.png">

[2019-11-23 10:45] jmgasper commented on #234
@afrisalyp - What could cause the query to fail?  Here are some relevant logs:

[code]

[code]

[2019-11-23 10:46] jmgasper commented on #234
<img width="799" alt="Screen Shot 2019-11-23 at 9 46 04 pm" src="https://user-images.githubusercontent.com/21790/69477457-a9547d00-0e3a-11ea-98a9-0d4734e40073.png">

[2019-11-23 11:10] afrisalyp commented on #234
@jmgasper - what's the node version and npm version using by the prod?

[2019-11-23 11:43] afrisalyp commented on #234
@jmgasper - also, we need to know, does the deployment of dynamodb has replications?

[2019-11-23 21:01] jmgasper commented on #245
@afrisalyp - The cleaning of node modules is done on every deploy.

[2019-11-23 23:32] afrisalyp commented on #234
@jmgasper
I added `consistent()` to DB query and scan to make sure the reading always returns updated DB.

And I update AWS DynamoDB configs
[code]

[2019-11-24 01:27] jmgasper commented on #234
@afrisalyp - We can't do that config update.  That's not needed, and Topcoder explicitly didn't want it configured like that, just FYI.  Is that config update needed?

[2019-11-24 01:34] jmgasper opened #246 "[$1] Testing payment flow"
Test 1,2,3

[2019-11-24 01:36] jmgasper commented on #234
@afrisalyp - Here's a new log.  Seems like scanOne works one and then immediately fails?

[code]

[2019-11-24 01:43] jmgasper commented on #246
Contest https://www.topcoder.com/challenges/30107856 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-24 01:44] jmgasper commented on #234
And more duplicates still:

[code]

[2019-11-24 01:45] jmgasper commented on #234
@afrisalyp - Where are the different `scanOne` calls made?  Are they using slightly different DB configs or queries somehow?

Seems like when `ensureChallengeExists` works, the next call doesn't and vice versa.

[2019-11-24 01:45] jmgasper commented on #246
Contest https://www.topcoder.com/challenges/30107857 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-24 01:48] jmgasper commented on #246
Contest https://www.topcoder.com/challenges/30107858 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-24 01:50] jmgasper commented on #246
Contest https://www.topcoder.com/challenges/30107859 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-24 01:57] jmgasper commented on #234
And maybe we have to add handling for an empty result?  Seems like we don't have that currently.

[2019-11-24 02:11] afrisalyp commented on #234
@jmgasper
The log is a process from `handleIssueLabelUpdated` which the event can be received before `issue.created`. So maybe the issue is still empty. And yeah, We can handle this.

But I think we need to investigate the log related to `handleIssueAssignment`. That's the process when the duplication occurs.

[2019-11-24 02:15] afrisalyp commented on #234
I'm wondering how's the prod deployed. How's the connection between the topcoder-x app and Dynamodb instance?
The config is mandatory if the service want to connect to the dynamodb instance in aws cloud. But it doesn't necessary if the dynamodb is locally deployed.

[2019-11-24 02:26] afrisalyp commented on #234
I put `consistent` function when the app query to the DB. It makes sure that we get consistent data. If the dynamoDB is deployed with replications, the DB query can sometimes get un-updated data record without `consistent` function.

[2019-11-24 02:59] jmgasper commented on #234
@afrisalyp - The environment is set up separately for AWS - this was discussed quite a bit with Topcoder when they made the change.  That shouldn't affect the app randomly though, should it?  If that was wrong, the app just wouldn't work at all.

[2019-11-24 03:29] afrisalyp commented on #234
@jmgasper - I added handler if the dbissue is null or empty.
We'll put it in the reschedule mechanism.
Is that acceptable?

This also reated with https://github.com/topcoder-platform/topcoder-x-ui/issues/232

[2019-11-24 03:35] afrisalyp commented on #234
I'm not sure. But since I don't experience the duplication issue in my local env and also we don't see it happens in the dev env so far, I just think about the prod deployment.
Or, maybe something missed in the migration. The DB is just migrated from mongodb, isn't it?.

[2019-11-24 03:45] jmgasper commented on #234
@afrisalyp - Yeah, the data was migrated, but I don't see anything weird in DynamoDB, do you?  I'm also asking Topcoder about differences in how the DynamoDB tables are set up in dev vs. prod.  I agree that it's really strange that this issue is only affecting dev.

[2019-11-24 03:53] #246 closed

[2019-11-24 03:53] jmgasper opened #247 "[$1] Testing payment flow 2"
sldkjf lskdjf lskdjf

[2019-11-24 03:56] jmgasper commented on #246
Contest https://www.topcoder.com/challenges/30107865 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-24 03:56] jmgasper commented on #247
Contest https://www.topcoder.com/challenges/30107866 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-24 03:56] jmgasper commented on #247
Contest https://www.topcoder.com/challenges/30107866 has been updated - it has been assigned to ghostar.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-24 04:00] jmgasper commented on #246
Contest https://www.topcoder.com/challenges/30107867 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-24 04:00] jmgasper commented on #246
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-24 04:00] jmgasper commented on #245
@afrisalyp - Testing this out, and the response data isn't getting properly logged:

[code]

[2019-11-24 04:01] jmgasper commented on #234
The changes to handle the null record seem to have improved things slightly.

[2019-11-24 04:01] jmgasper commented on #247
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-24 04:13] afrisalyp commented on #245
@jmgasper - log fixed.

[2019-11-24 07:16] #247 closed

[2019-11-24 07:16] jmgasper commented on #247
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-24 07:16] jmgasper opened #248 "[$1] Testing payment flow 2"
sldkfjlskdj lsdkfj lskjdf lks

[2019-11-24 07:19] jmgasper commented on #248
Contest https://www.topcoder.com/challenges/30107903 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-24 07:25] jmgasper commented on #248
Contest https://www.topcoder.com/challenges/30107903 has been updated - it has been assigned to ghostar.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-24 07:30] jmgasper commented on #248
Payment failed: [500]: Failed to close challenge.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-24 07:34] jmgasper commented on #245
@afrisalyp - That's great, thanks!  I've been able to capture what's happening and I've reported it to the team that handles the challenge API.  Something's weird and it's only in prod, for some reason.  It's throwing an odd SQLException in the challenge API.  Hopefully they can fix it ASAP.

[2019-11-24 08:35] afrisalyp commented on #245
Sounds good. Hope it'll be fixed soon.
Thanks.

[2019-11-25 10:01] jmgasper opened #249 "[$50] Gitlab access link failing"
@afrisalyp - I sent the URL to test via email (please don't put it here because it's a secure repo).

This is the error being seen:

<img width="1262" alt="Screen Shot 2019-11-25 at 9 01 22 pm" src="https://user-images.githubusercontent.com/21790/69530774-c322cb00-0fc6-11ea-9779-25a9576351b3.png">

[2019-11-25 10:03] jmgasper commented on #249
Contest https://www.topcoder.com/challenges/30107985 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-25 10:05] jmgasper commented on #249
Contest https://www.topcoder.com/challenges/30107985 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-25 12:25] afrisalyp commented on #249
@jmgasper - Null checking added. Also I added handling if the group or the user owner is not found.

[2019-11-25 20:50] jmgasper opened #251 "[$300] M2M handling and v4/v3 API"
@afrisalyp - There are bugs in the v4 API in prod that don't seem like they are going to be fixed anytime soon, unfortunately, and that don't show up in dev.

What we are going to do is:

1.  Remove the M2M token generation, moving back to the service account we used to use, before the change here:  https://github.com/topcoder-platform/topcoder-x-ui/issues/128
2.  Change from using the v4 API back

[2019-11-25 20:50] jmgasper commented on #251
Contest https://www.topcoder.com/challenges/30108027 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-25 20:52] jmgasper commented on #251
Contest https://www.topcoder.com/challenges/30108028 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-25 20:54] jmgasper commented on #251
Contest https://www.topcoder.com/challenges/30108029 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-25 20:56] jmgasper commented on #251
Contest https://www.topcoder.com/challenges/30108030 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-25 20:56] jmgasper commented on #251
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-25 20:56] jmgasper commented on #251
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-25 20:56] jmgasper commented on #251
Contest https://www.topcoder.com/challenges/30108031 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-25 20:58] jmgasper commented on #251
Contest https://www.topcoder.com/challenges/30108032 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-25 20:58] jmgasper commented on #251
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-25 20:58] jmgasper commented on #251
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-25 22:56] afrisalyp commented on #251
@jmgasper

Do we need to completely remove the M2M token mechanism? Or we just can leave it unused or commented?

[2019-11-25 22:58] jmgasper commented on #251
@afrisalyp - We can just comment it out for now.

[2019-11-26 00:18] afrisalyp commented on #251
@jmgasper - It seems that the dev doesn't work with the v3 API.
I think it's a good idea to keep the dev with the v4 API. So we change only the prod to v3 API.
Is that acceptable?

[2019-11-26 00:44] jmgasper commented on #251
@afrisalyp - Yes, that's fine, thanks.

[2019-11-26 01:12] jmgasper commented on #251
Contest https://www.topcoder.com/challenges/30108039 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 01:14] jmgasper commented on #251
Contest https://www.topcoder.com/challenges/30108040 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 01:14] jmgasper commented on #251
Contest https://www.topcoder.com/challenges/30108041 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 01:16] jmgasper commented on #251
Contest https://www.topcoder.com/challenges/30108042 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 01:16] jmgasper commented on #251
[500]: Challenge for the updated issue 251 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 01:18] jmgasper commented on #251
Contest https://www.topcoder.com/challenges/30108043 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 01:58] jmgasper opened #252 "[$1] Test with V3 API"
Testing 1,2,3

[2019-11-26 02:04] #252 closed

[2019-11-26 02:11] jmgasper opened #253 "[$1] Test 2 with V3"
fghd hgf hgf gh

[2019-11-26 02:25] #253 closed

[2019-11-26 02:26] jmgasper opened #254 "[$1] Test V3 API 3"
sldkfjlksdj flskdjf lksjdf kljsdfl

[2019-11-26 02:27] jmgasper commented on #253
Contest https://www.topcoder.com/challenges/30108044 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:28] jmgasper commented on #254
Contest https://www.topcoder.com/challenges/30108045 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:30] jmgasper commented on #254
Contest https://www.topcoder.com/challenges/30108046 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:31] jmgasper commented on #253
Contest https://www.topcoder.com/challenges/30108047 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:31] jmgasper commented on #253
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:33] #254 closed

[2019-11-26 02:34] jmgasper opened #255 "[$1] Test V3 API 4"
sldkjflskjdf lksjdfl kjsdlkf

[2019-11-26 02:35] jmgasper commented on #254
Contest https://www.topcoder.com/challenges/30108048 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:35] jmgasper commented on #254
Contest https://www.topcoder.com/challenges/30108048 has been updated - it has been assigned to ghostar.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:36] jmgasper commented on #255
Contest https://www.topcoder.com/challenges/30108049 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:37] jmgasper commented on #254
Contest https://www.topcoder.com/challenges/30108048 has been updated - amunation has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:37] jmgasper commented on #254
Contest https://www.topcoder.com/challenges/30108048 has been updated - it has been assigned to ghostar.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:42] #248 closed

[2019-11-26 02:42] jmgasper commented on #248
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:44] jmgasper opened #256 "[$100] Update `scanOne` to query"
@afrisalyp - We narrowed down the problem with duplicates to us not implementing `scanOne` properly.

Scanning only scans a subset of larger tables at once, meaning we have to scan multiple times to scan the _whole_ table, which we don't do.  This explains why sometimes it randomly works (found in the first "page"), but other times doesn't (on a page that wasn't scanned).

We've set up indices on

[2019-11-26 02:44] jmgasper commented on #256
Contest https://www.topcoder.com/challenges/30108050 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:46] jmgasper commented on #256
Contest https://www.topcoder.com/challenges/30108051 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:48] jmgasper commented on #256
Contest https://www.topcoder.com/challenges/30108052 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:50] jmgasper commented on #256
Contest https://www.topcoder.com/challenges/30108053 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:52] jmgasper commented on #256
[500]: Challenge for the updated issue 256 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:52] jmgasper commented on #256
[500]: Challenge for the updated issue 256 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:53] jmgasper commented on #256
Contest https://www.topcoder.com/challenges/30108054 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 02:53] jmgasper commented on #256
Contest https://www.topcoder.com/challenges/30108054 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 03:22] afrisalyp commented on #256
@jmgasper - Owh, that's weird behavior of dynamodb that I've never realized it.
But it sounds good that we already know the real problem.

Yeah, I'm going to work on it.
Thanks.

[2019-11-26 03:25] jmgasper commented on #256
@afrisalyp - You're not the only one.  Multiple reviewers and myself missed that as well, and because we don't have as much test data in dev as we do in prod, we never really saw the issue.  At least we have an idea of what the issue is now!

[2019-11-26 04:03] afrisalyp commented on #256
@jmgasper - Yeah, that's good.

Topcoder X uses `scan` for all data fetching, not only the `Issue` table.
Do we need to change all of `scan` usage to `query`?
Or we just focus on the `Issue` table?

[2019-11-26 04:04] jmgasper commented on #256
Eventually we'll have to, but let's focus on Issue table for now, just to get past this blocking issue.

[2019-11-26 04:12] afrisalyp commented on #256
Yeah. agreed.
`Project` and `UserMapping` tables aren't ready for `query` yet.
They don't have required indexes.

[2019-11-26 04:57] afrisalyp commented on #256
Two PR for topcoder-x-processor and topcoder-x-ui submitted.

[2019-11-26 05:23] #255 closed

[2019-11-26 05:24] jmgasper opened #258 "[$1] Test after changes"
sldkfj lsdkfj lskdfj lskdjf

[2019-11-26 05:25] jmgasper commented on #256
@afrisalyp - I'm not sure this is working properly for new tickets, where the query won't return anything:

[code]

[2019-11-26 05:51] afrisalyp commented on #256
That's weird again. It's the same error as seen in https://github.com/topcoder-platform/topcoder-x-ui/issues/245. `TypeError: Cannot read property 'map' of undefined`

I'm sure that I've successfully tested the code in my local dev.
Btw, what's the version of `node` and `npm` using by the prod?

[2019-11-26 05:54] jmgasper commented on #256
@afrisalyp - Looks like prod uses node 8.12.0

Not sure what NPM version is used.

[2019-11-26 06:26] afrisalyp commented on #256
I'm not really sure if this has an effect, but I found that the model in the migration script has different type in `labels`. The value in migration script is `Array` and it is required, but in topcoder-x-ui and topcoder-x-processor we have `[String]` and not required.

https://github.com/topcoder-platform/topcoder-x-ui/blob/d2cf9f93b6f295dd82e6beb922238fa42f94e929/scripts/mongodb-migration/dynamo

[2019-11-26 06:27] jmgasper commented on #256
@afrisalyp - Not sure that would affect us here because this is for a new ticket, so not something that was migrated over.

[2019-11-26 06:28] jmgasper opened #259 "[$2] Test 123"
lskdjf lksjdf lksdj flks

[2019-11-26 06:29] #258 closed

[2019-11-26 06:32] jmgasper commented on #256
We can try to change it though - do you want to test in dev first?

[2019-11-26 06:39] afrisalyp commented on #256
I don't see this error https://github.com/topcoder-platform/topcoder-x-ui/issues/256#issuecomment-558466013 in my local dev.
Is that appear in x.topcoder-dev.com?

Also, didn't the migration script use for the prod only?

[2019-11-26 06:44] jmgasper commented on #256
Yes, the migration script was for prod only.  We can attempt to adjust the code to account for that change in prod, if you want.

[2019-11-26 06:57] afrisalyp commented on #256
@jmgasper
I'm not really sure that it's the problem.
Still investigating in my local db

[2019-11-26 07:36] afrisalyp commented on #256
@jmgasper - Now I'm pretty sure that it's the problem. :D
I dumped my local DB.
Here is it looks like
[code]

And if we compare with the prod DB record that you just sent me
[code]
We have different labels type. "S" and "SS".
And if we take a look into the stacktrace file `/topcoder-x-processor/node_modules/dynamoose/dist/Attribute.js:555:36`

[code]
It's related to the "S".

[2019-11-26 07:41] #259 closed

[2019-11-26 07:41] jmgasper commented on #259
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 07:41] jmgasper opened #260 "[$1] Test fixes"
asdf asdf asdf

[2019-11-26 07:43] jmgasper commented on #256
@afrisalyp - I made the change in prod, but now the query isn't working properly:  Note that below the repositoryId isn't matching, nor is the provider.

[code]

[2019-11-26 07:59] jmgasper opened #261 "[$1] Test 234"
sldkf sldkfjlksdj

[2019-11-26 10:10] afrisalyp commented on #256
@jmgasper - Fixed.

according to https://dynamoosejs.com/api/query/#querylimitlimit.
Query also has the limitation. So I added `all()` to make sure we get proper data.

[2019-11-26 10:22] #260 closed

[2019-11-26 10:22] #261 closed

[2019-11-26 10:22] jmgasper commented on #260
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:22] jmgasper commented on #261
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:22] jmgasper commented on #261
Contest https://www.topcoder.com/challenges/30108134 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:22] jmgasper commented on #261
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:22] jmgasper opened #263 "[$1] Testing 456"
lsdkfj lskdjf lksj dflksjd f

[2019-11-26 10:22] jmgasper commented on #260
Contest https://www.topcoder.com/challenges/30108135 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:22] jmgasper commented on #260
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:23] jmgasper commented on #263
Contest https://www.topcoder.com/challenges/30108136 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:24] jmgasper commented on #263
Contest https://www.topcoder.com/challenges/30108136 has been updated - it has been assigned to ghostar.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:24] #263 closed

[2019-11-26 10:26] jmgasper commented on #263
Payment task has been updated: https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30108136<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:47] jmgasper commented on #232
Contest https://www.topcoder.com/challenges/30108139 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:47] jmgasper commented on #232
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:49] jmgasper commented on #232
Contest https://www.topcoder.com/challenges/30108139 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:51] #232 closed

[2019-11-26 10:52] jmgasper commented on #232
Payment task has been updated: https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30108139<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:57] jmgasper commented on #234
Contest https://www.topcoder.com/challenges/30108143 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:57] jmgasper commented on #234
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:59] jmgasper commented on #234
Contest https://www.topcoder.com/challenges/30108143 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 10:59] #234 closed

[2019-11-26 11:00] jmgasper commented on #234
Payment task has been updated: https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30108143<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 23:29] jmgasper commented on #244
Contest https://www.topcoder.com/challenges/30108186 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 23:29] jmgasper commented on #244
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 23:42] jmgasper commented on #249
Contest https://www.topcoder.com/challenges/30108187 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 23:45] jmgasper commented on #249
Contest https://www.topcoder.com/challenges/30108187 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 23:55] jmgasper commented on #236
@afrisalyp - This one got closed too early - Can you take a look please?

[2019-11-26 23:58] jmgasper commented on #236
Contest https://www.topcoder.com/challenges/30108188 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 23:58] jmgasper commented on #236
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 23:58] jmgasper commented on #236
Contest https://www.topcoder.com/challenges/30108188 has been updated - afrisalyp has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-26 23:59] jmgasper commented on #236
Contest https://www.topcoder.com/challenges/30108188 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-27 00:05] jmgasper commented on #256
Contest https://www.topcoder.com/challenges/30108189 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-27 00:06] jmgasper commented on #256
Contest https://www.topcoder.com/challenges/30108189 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-27 00:06] #256 closed

[2019-11-27 00:07] jmgasper commented on #256
Payment task has been updated: https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30108189<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-27 00:10] #249 closed

[2019-11-27 00:11] jmgasper commented on #249
Payment task has been updated: https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30108187<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-27 00:16] jmgasper commented on #244
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-27 00:24] jmgasper commented on #251
Contest https://www.topcoder.com/challenges/30108190 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-27 00:25] jmgasper commented on #244
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-27 00:26] jmgasper commented on #251
Contest https://www.topcoder.com/challenges/30108190 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-27 00:26] #251 closed

[2019-11-27 00:27] jmgasper commented on #244
Contest https://www.topcoder.com/challenges/30108186 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-27 00:27] #244 closed

[2019-11-27 00:27] jmgasper commented on #251
Payment task has been updated: https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30108190<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-27 00:30] jmgasper commented on #244
Payment task has been updated: https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30108186<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-27 04:09] afrisalyp commented on #236
@jmgasper I'm not sure that we need to change anything in `topcoder-x-ui`. I think it's a deployment issue on the webserver.

http://x.topcoder.com/ isn't pointed to our apps. So the 503 error comes from the webserver.

[2019-11-28 00:06] jmgasper opened #264 "Cancel not working (seen in logs)"
We shouldn't be trying to cancel any challenges.  It was confirmed that this wasn't going to work due to limitations in the challenge API around how challenges are cancelled.  I've seen this in the logs recently:

[code]