[2019-11-28 00:07] jmgasper commented on #46
@cwdcwd / @rootelement - Not sure what API to use here.  Can you help please?

[2019-11-28 00:09] jmgasper opened #265 "Logged ticket flow"
We need to be able to support tickets that are logged and then investigated before being opened for a challenge.

For instance, we may allow this flow:

* A client logs a ticket in Github / Gitlab
* The copilot investigates, clarifies, and refines the ticket
* The copilot *then* assigns payment and marks the ticket as `tcx_OpenForPickup`

At this point the Topcoder challenge should be created and

[2019-11-28 00:11] jmgasper opened #266 "[$60] Too many requests"
When loading the Topcoder-X UI, I see it making numerous calls to the same set of APIs, like `https://x.topcoder.com/api/v1/projects?status=active&showAll=false`, and other things.

This leads to a page that takes much longer than needed to load.  Can we trim this down so that there aren't duplicate requests being made?

<img width="1988" alt="Screen_Shot_2019-11-28_at_11_10_56_am" src="https://us

[2019-11-28 00:15] jmgasper opened #267 "Change "Edit" to "Manage""
Change this button from `Edit` to `Manage` because there are repo setup buttons on this page.

<img width="937" alt="65535130-d3d39980-dece-11e9-975a-175c75df8ff2" src="https://user-images.githubusercontent.com/21790/69767431-54b15900-11d0-11ea-9ea5-870fb09fd999.png">

On the `upsertproject` page, change `Edit a Project` to `Manage a Project`

<img width="846" alt="Screen Shot 2019-11-28 at 11 17

[2019-11-28 00:23] jmgasper opened #268 "[$30] Arrange manage project buttons better"
On the `upsertproject` page, we need to make sure the buttons are arranged in a single line on the normal desktop view.  It's fine if they compress on smaller / thinner / mobile screens, but on desktop they take up too much space now.

<img width="404" alt="Screen Shot 2019-11-28 at 11 17 18 am" src="https://user-images.githubusercontent.com/21790/69767634-4b74bc00-11d1-11ea-85d5-20aa6636b207.png"

[2019-11-28 00:28] #201 closed

[2019-11-28 00:30] jmgasper opened #269 "Add filter on projects page"
### Currently

On the `Git access control` page, we have a filter to make it easy to find specific repos / projects.

<img width="711" alt="Screen Shot 2019-11-28 at 11 13 50 am" src="https://user-images.githubusercontent.com/21790/69767904-80354300-11d2-11ea-9929-4db5abe5c3f9.png">

### New enhancement

We'd like to add a similar `Find Projects` filter to the `Project Management` list to help use

[2019-11-28 03:31] jmgasper commented on #237
Contest https://www.topcoder.com/challenges/30108382 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-28 03:31] jmgasper commented on #237
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-28 03:31] jmgasper commented on #237
Contest https://www.topcoder.com/challenges/30108382 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-28 03:32] jmgasper commented on #237
Contest https://www.topcoder.com/challenges/30108382 has been updated - amunation has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-28 03:32] jmgasper commented on #238
Contest https://www.topcoder.com/challenges/30108383 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-28 03:33] jmgasper commented on #245
Contest https://www.topcoder.com/challenges/30108384 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-28 03:34] jmgasper commented on #238
Contest https://www.topcoder.com/challenges/30108383 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-28 03:34] jmgasper commented on #245
Contest https://www.topcoder.com/challenges/30108384 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-28 06:39] #245 closed

[2019-11-28 06:39] #238 closed

[2019-11-28 06:39] #236 closed

[2019-11-28 06:40] jmgasper commented on #245
Payment task has been updated: https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30108384<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-11-28 06:42] jmgasper commented on #236
Payment task has been updated: https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30108188<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-03 01:47] jmgasper commented on #237
Contest https://www.topcoder.com/challenges/30108382 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-03 01:47] #237 closed

[2019-12-03 01:48] jmgasper commented on #237
Payment task has been updated: https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30108382<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-03 02:03] jmgasper opened #270 "[$60] Gitlab token expiration"
@afrisalyp - I have a report from a TC admin that their Gitlab token expires on a regular basis (every time he logs in).  I haven't seen this myself - mine's been fine for at least a couple weeks now.

Is there anything you can think of that might cause this discrepancy?  Do you know what the normal expiration time should be?

[2019-12-03 02:05] jmgasper commented on #270
Contest https://www.topcoder.com/challenges/30108782 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-03 02:07] jmgasper commented on #270
Contest https://www.topcoder.com/challenges/30108782 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-03 06:46] afrisalyp commented on #270
@jmgasper
Github doesn't have token expiration, which means the token never expires.

But Gitlab has token expiration. By default, if we request to `https://gitlab.com/oauth/token` we will get results with `expires_in`. But sometimes for some gitlab accounts, we don't get the param. Not really sure what's the cause.

Currently, if we don't have the `expires_in`, we set the `expires_in` in only 360

[2019-12-03 06:48] jmgasper commented on #270
How far out can we set the `expires_in` value?  A couple weeks instead of an hour would make sense.

[2019-12-03 06:54] afrisalyp commented on #270
Yeah, I think two weeks is proper.
Is it acceptable?

[2019-12-03 06:56] jmgasper commented on #270
Yep, is that an easy change?

[2019-12-03 06:59] afrisalyp commented on #270
Yes. We can change this code
https://github.com/topcoder-platform/topcoder-x-ui/blob/develop/src/common/constants.js#L46

I can raise a PR if it's needed.

[2019-12-03 22:10] #270 closed

[2019-12-03 22:11] jmgasper commented on #270
Payment task has been updated: https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30108782<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-04 21:58] jmgasper opened #272 "[$60] Investigate `amunation`"
@afrisalyp - I'm seeing this sometimes with prod.  This is after our fixes we did.  Any idea what that means or why it's happening?  Seems to go along with the `Failed to get topcoder member id` error.

<img width="848" alt="Screen Shot 2019-12-05 at 8 57 49 am" src="https://user-images.githubusercontent.com/21790/70185118-51245180-173d-11ea-8daa-8e7cfab0a4ea.png">

<img width="866" alt="Screen Sh

[2019-12-04 22:01] jmgasper commented on #272
Contest https://www.topcoder.com/challenges/30109214 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-04 22:02] jmgasper commented on #272
Contest https://www.topcoder.com/challenges/30109214 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-05 00:19] jmgasper opened #273 "[$50] Investigate DB issue not found error"
@afrisalyp - Seeing this error quite a bit in prod too.  Any thoughts on why?  I've seen it for both Gitlab and Github tickets.

<img width="552" alt="Screen Shot 2019-12-05 at 11 14 17 am" src="https://user-images.githubusercontent.com/21790/70192786-0280b280-1751-11ea-969a-13298e853eb4.png">

[2019-12-05 00:21] jmgasper commented on #273
Contest https://www.topcoder.com/challenges/30109220 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-05 10:32] afrisalyp commented on #272
@jmgasper
I'm pretty sure that the problem is related to the weird dynamodb behavior.
Since we have resolved only the `Issue` table, other problems might occur related to `User` and `UserMapping` table.

I'll add `all()` function to the `scan()` method. It will make sure we get consistent data.

[2019-12-05 23:14] afrisalyp commented on #273
@jmgasper
Can you please provide the details of the ticket activity?
What was the activity before the error comment occur? And how was the ticket going on?
Thanks

[2019-12-06 05:17] jmgasper commented on #272
Ok - going to close this now and will retest with a prod deploy shortly.

[2019-12-11 05:52] jmgasper commented on #273
@afrisalyp - Still seeing this in prod

Here's the activity for a new ticket (errors started happening about 4 minutes after creation):

<img width="818" alt="Screen Shot 2019-12-11 at 4 52 06 pm" src="https://user-images.githubusercontent.com/21790/70595128-9f05f180-1c36-11ea-9985-412a566c9fc4.png">

[2019-12-12 00:48] afrisalyp commented on #273
@jmgasper

I assume that the DB query problem is already fixed.

My investigation so far, `topcoder-x-processor` receives `issue.updated` too early before the issue is created in the DB (before `issue.created` is received). I'll make the process to automatically create the DB record when receive `issue.updated`. So the next `issue.created` will be ignored.
Does it sound acceptable solution?

[2019-12-12 00:50] jmgasper commented on #273
@afrisalyp - That sounds like it could be the issue and the solution would make sense.

[2019-12-12 01:00] afrisalyp commented on #273
@jmgasper - It's done. A PR submitted.

[2019-12-13 00:43] jmgasper commented on #273
Contest https://www.topcoder.com/challenges/30109220 has been updated - amunation has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-13 00:43] jmgasper commented on #273
Contest https://www.topcoder.com/challenges/30109220 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-13 00:43] #273 closed

[2019-12-13 00:44] jmgasper commented on #272
@afrisalyp - Still seeing this in prod, only when unassigning.  Is there something in the messaging generation that's not working?

[2019-12-13 00:44] jmgasper commented on #273
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30109220<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-13 00:44] jmgasper commented on #272
Have a look at the messages here for an example:  https://github.com/topcoder-platform/topcoder-x-ui/issues/273

[2019-12-13 01:00] jmgasper opened #274 "[$100] Update back to M2M / V4"
@afrisalyp - We're ready to update the code back to using the M2M tokens and v4 endpoint.

### Additional change

Because the v4 endpoint still doesn't work with *closing* challenges, I'd like to use v4 for everything, but then have the *closing* of the challenge still happen through the "old" way, with the service account login and v3 endpoint, at least until we've had a chance to better test the

[2019-12-13 01:06] jmgasper commented on #274
[504]: Failed to create challenge.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-13 01:06] jmgasper commented on #274
[504]: Failed to create challenge.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-13 01:47] afrisalyp commented on #272
@jmgasper

We need to find out why the issue prints out `amunation` username. Somehow, querying to `UserMapping` always returns the `amunation` record.

Can you please provide me the DB record in the `UserMapping` table where topcoderUsername is `amunation`?

[2019-12-13 01:53] afrisalyp commented on #274
Yes, that's possible.
Will be delivered soon.

[2019-12-13 03:27] afrisalyp commented on #272
@jmgasper
Thanks for the detailed record data.
The problem might be related to failed previous assignments.

I put null checking and throw an error if the process going to scan users with no criteria. This is why we always get the first record (`amunation`).

[2019-12-13 09:29] jmgasper commented on #274
[500]: Challenge for the updated issue 274 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-13 09:29] jmgasper commented on #274
[500]: Challenge for the updated issue 274 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-13 09:29] jmgasper commented on #274
[504]: Failed to create challenge.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-13 09:29] jmgasper commented on #274
[504]: Failed to create challenge.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-16 04:30] #272 closed

[2019-12-16 04:31] jmgasper commented on #272
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30109214<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-16 04:32] jmgasper commented on #274
Contest https://www.topcoder.com/challenges/30111122 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-16 04:32] jmgasper commented on #274
Contest https://www.topcoder.com/challenges/30111122 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-16 04:32] jmgasper commented on #274
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-16 22:45] #274 closed

[2019-12-16 22:46] jmgasper commented on #274
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111122<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-18 22:24] jmgasper opened #275 "[$1] Test for lazybaer"
Testing 1,2,3

[2019-12-18 22:24] jmgasper commented on #275
Contest https://www.topcoder.com/challenges/30111450 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-18 22:25] #275 closed

[2019-12-18 22:27] jmgasper commented on #275
Contest https://www.topcoder.com/challenges/30111451 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-18 23:17] jmgasper opened #276 "[$1] Test issue for lazybaer"
Testing 1,2,3 Description

[2019-12-18 23:17] jmgasper commented on #276
Contest https://www.topcoder.com/challenges/30111452 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-18 23:19] jmgasper commented on #276
Contest https://www.topcoder.com/challenges/30111453 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-21 06:58] jmgasper opened #277 "[$100] Investigate duplicates being created"
@afrisalyp - We're seeing duplicates being created again.  I'm capturing logs for this ticket, but also seen for:

- https://github.com/topcoder-platform/thrive-submit/issues/139
- https://github.com/topcoder-platform/thrive-submit/issues/138
- https://github.com/topcoder-platform/thrive-submit/issues/136
- https://github.com/topcoder-platform/topcoder-x-ui/issues/276

[2019-12-21 06:58] jmgasper commented on #277
Contest https://www.topcoder.com/challenges/30111640 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-21 07:00] jmgasper commented on #277
Contest https://www.topcoder.com/challenges/30111642 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-21 07:00] jmgasper commented on #277
Contest https://www.topcoder.com/challenges/30111642 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-21 07:03] jmgasper commented on #277
Log attached.  It may be intermixed with other tickets, just FYI.
[log.txt.zip](https://github.com/topcoder-platform/topcoder-x-ui/files/3991145/log.txt.zip)

[2019-12-21 10:49] afrisalyp commented on #277
The issue might come from the issue creation lock. If the DB connection has high latency network, the creation lock mechanism will not reliable since we receive multiple events from Github or Gitlab simultaneously.

I found from the log that this query https://github.com/topcoder-platform/topcoder-x-processor/blob/develop/services/IssueService.js#L546 might be called simultaneously so it will alwa

[2019-12-21 21:29] jmgasper commented on #277
@afrisalyp - What would be a better approach to the lock?

[2019-12-21 22:28] #276 closed

[2019-12-21 22:28] jmgasper commented on #276
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-21 22:28] jmgasper opened #278 "[$1] Test for dupes"
Testing 1,2,3

[2019-12-21 22:30] jmgasper commented on #278
Contest https://www.topcoder.com/challenges/30111651 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-21 22:31] jmgasper commented on #278
Contest https://www.topcoder.com/challenges/30111651 has been updated - it has been assigned to Ghostar.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-21 22:31] #278 closed

[2019-12-21 22:31] jmgasper commented on #278
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-12-21 22:31] jmgasper commented on #277
Seems alright now.  Will be monitoring it a bit over the next couple days.

[2019-12-21 23:43] #277 closed

[2019-12-21 23:44] jmgasper commented on #277
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111642<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-01-08 22:29] jmgasper opened #279 "[$75] Handling multiple repos of the same URL"
https://github.com/topcoder-platform/topcoder-x-receiver/blob/be622f04597a76aeba11b7ffb58b645553265590/routes/middlewares/SecurityChecker.js#L20

For topcoder-platform/community-app, there were 3 entries in the TCX dynamo DB for the same git repo. The linked line above was pulling the first it found, checking the secret, and saying it's an invalid request.

1. That line should pull all repos that

[2020-01-28 01:01] #267 closed

[2020-01-28 01:01] #209 closed

[2020-01-28 01:01] #211 closed

[2020-01-28 01:01] #264 closed

[2020-01-28 01:01] #265 closed

[2020-01-28 01:02] #269 closed

[2020-01-28 01:02] jmgasper commented on #268
@afrisalyp - I'm still not seeing this one fixed:

<img width="653" alt="Screen Shot 2020-01-28 at 12 01 55 pm" src="https://user-images.githubusercontent.com/21790/73226971-03204d00-41c6-11ea-8cc2-5b7f088ea3ff.png">

[2020-01-28 01:04] jmgasper commented on #268
Contest https://www.topcoder.com/challenges/30113596 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-01-28 01:06] jmgasper commented on #268
Contest https://www.topcoder.com/challenges/30113596 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-01-28 03:05] afrisalyp commented on #268
@jmgasper
I can't reproduce the issue.

Here you can see the screencast. I see that the behavior looks good in my testing env.
https://drive.google.com/open?id=1jF9c6JLUSzBtvxhuun-bnI_k2LmB0RRX

Does the issue appear in the prod?

[2020-01-28 03:38] jmgasper commented on #268
@afrisalyp - Are you testing the `master` or `develop` branch?  Prod is using master, but they should be the same now.

[2020-01-29 04:25] afrisalyp commented on #268
@jmgasper

I tested the develop branch.
I've compared the related files in master and develop branch. They are identical.

Does it always appear in any browser?

[2020-01-29 05:06] jmgasper commented on #268
I'm on Firefox on macOS 10.15.  I test in incognito windows to rule out caching.  I just tested prod again and see the issue, although I do *NOT* see `Transfer Ownership` like you do.

<img width="753" alt="Screen Shot 2020-01-29 at 4 05 39 pm" src="https://user-images.githubusercontent.com/21790/73329283-325fb880-42b1-11ea-8a5e-08ae6a7ee832.png">

[2020-01-30 20:55] jmgasper opened #280 "[$60] Review - Issues get stuck in creating phase"
Recently, there was a challenge API outage that meant that challenges weren't getting created for new issues for an extended period (>12 hours).  We retry a few times to create the challenge, but when the retry limit is exhausted, we *still* have the issue in the `creating` phase, which means that it can't be cleared out or tried again.  The only solution is to restart the processor to clear out t

[2020-01-30 22:46] afrisalyp commented on #268
@jmgasper
I found the possible issue. A PR submitted.
Thanks

[2020-01-31 04:29] #268 closed

[2020-01-31 04:30] jmgasper commented on #268
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113596<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-01-31 16:42] rootelement opened #282 "[$50] List Subgroups in the UI and add users to that Subgroup"
<img width="752" alt="Screen Shot 2020-01-31 at 11 41 31 AM" src="https://user-images.githubusercontent.com/5400156/73557137-b1263400-441e-11ea-8760-193939c6fc28.png">

Some teams are using gitlab subgroups and need to invite people to only that subgroup. Is it possible to do this in the gitlab API? Is there an equivalent in github?

[2020-01-31 16:45] rootelement opened #283 "[$75] Configure Users Added by TCX"
On the Manage Project Screen, you should be able to:
 - Configure user level added (Reporter, Developer)
 - Configure expiration date of users (also allowed to chose no expiration)

This would apply to users added through the `Git Access Control` functionality.

Note that ideally this would be on the manage project screen, but if it's too difficult to determine the settings for `Git Access Control

[2020-01-31 16:45] rootelement opened #284 "[$100] Remove All Users Button"
On the `Git access control` page, add a button that will remove all users added to the repository by TCX, for a given team.

**NOTE:**
This will require new tracking functionality to the Git Access Control flow that adds a record to a new DynamoDB table to track users added through TC-X.

[2020-02-04 20:19] jmgasper opened #285 "Github API deprecation"
Hi @jmgasper,

On February 4th, 2020 at 06:06 (UTC) your application (Topcoder X) used an access token (with the User-Agent NodeJS HTTP Client) as part of a query parameter to access an endpoint through the GitHub API:

https://api.github.com/user/2202045

Please use the Authorization HTTP header instead as using the `access_token` query parameter is deprecated.

Depending on your API usage, we'll

[2020-02-12 21:50] jmgasper opened #286 "Error in handleIssueClose"
We see this error quite a bit in the logs.  This shouldn't cause an exception - it should be handled formally:
[code]

[2020-02-18 23:05] #205 closed

[2020-02-21 08:51] jmgasper opened #287 "[$1] TC-X prod test"
Test

[2020-03-04 22:52] jmgasper opened #288 "[$40] Fix dependency issues"
There are security alerts here that we need to review and fix:

https://github.com/topcoder-platform/topcoder-x-ui/network/alerts

[2020-03-06 06:29] veshu opened #289 "Updated Guide"
What is the purpose of "Recreate an issue" on "Manage a Project" page. I couldn't find any detail on help https://github.com/topcoder-platform/topcoder-x-ui/wiki

[2020-03-06 06:31] veshu opened #290 "[$30] Add a project form is not cleared"
@afrisalyp - Can you look at this one please, when you get a chance?

1. Go to manage project page
2. Click manage button on any project
3. detail page is opened
4. go to dashboard
1. click on "Add a project" button

Expected:
Empty project form will open

Actual:
values from last projects are filled.

[2020-03-17 13:52] callmekatootie opened #292 "[$50] Behaviour when a ticket needs to be reassigned"
@afrisalyp - Can you take a look at this one please?  If I remember right, this was due to the challenge API not working properly with unassigning the first user.

- User A assigned themselves to a ticket. They updated the labels as needed
- User A is not responsive. CoPilot wishes to remove User A. Another user, user B has expressed interest in taking up the ticket

If CoPilot removes user A and

[2020-03-17 13:53] callmekatootie commented on #292
Reference ticket https://www.topcoder.com/challenges/30119420 for https://github.com/topcoder-platform/resources-api/issues/15#issuecomment-600072464

[2020-03-17 21:13] jmgasper commented on #292
Contest https://www.topcoder.com/challenges/30119815 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-17 21:14] jmgasper commented on #292
Contest https://www.topcoder.com/challenges/30119815 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-18 04:20] afrisalyp commented on #292
@jmgasper

I'm not able to create a challenge in the dev environment.

[code]

I need the dev env to reproduce the issue and test the fixes.
So can you please help me to take a look at the dev challenge API to see if there's some wrong there?

[2020-03-18 16:35] rootelement opened #293 "Support Azure DevOps"
Add Azure DevOps alongside Github and Gitlab for functionality.

Just logging here, we can discuss.

[2020-03-18 21:06] jmgasper commented on #293
We can start on this via a challenge, I think.  Is there a test Azure area we can use?

[2020-03-20 23:39] jmgasper opened #294 "[$75] Test invitation acceptance on Github"
@afrisalyp - We're concerned that the fixes here may not be working properly:

https://github.com/topcoder-platform/topcoder-x-ui/issues/111

Can you have a look and let me know please?

If you need help with setup to be able to test, let me know what you need and I'll work with Topcoder to get it for you.

[2020-03-20 23:43] jmgasper commented on #294
Contest https://www.topcoder.com/challenges/30120315 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-20 23:44] jmgasper commented on #294
Contest https://www.topcoder.com/challenges/30120315 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-21 03:45] afrisalyp commented on #292
@jmgasper

I'm able to use the dev env by using the old token mechanism to test this issue fixes.
It's ready for review. Thanks.

[2020-03-21 13:19] afrisalyp commented on #294
@jmgasper

I've investigated and reproduced the steps to invite user to a Github team.
I found that it won't automatically add users to the team, but the browser will be redirected to an invitation confirmation page.

You can see the screencast.
https://drive.google.com/open?id=1_bpWz0SpBtE_ZkeuQex5TxqNhGMlCn7m

Do you think that the behavior is not proper and do we need to fix it so it will autom

[2020-03-21 21:59] jmgasper commented on #294
@afrisalyp - Can we automatically accept the invitation?  I'll log a new ticket for that, but want to make sure that's something we can do.

[2020-03-22 02:11] afrisalyp commented on #294
@jmgasper

Update:

The invitation page is an invitation to the team's organization, not the team. Once we accept the invitation, we are joined the organization and we will automatically join the team.

If we are already joined the organization and we want to join another team that is in the organization, we won't be redirected to the invitation page anymore, and it will automatically accept the i

[2020-03-24 22:36] #292 closed

[2020-03-24 22:37] jmgasper opened #295 "[$50] Don't log ticket contents"
@afrisalyp - When logging for the processor, can we remove logging of the `body` field for tickets?  This is cluttering up the logs a bit, thanks.

[2020-03-24 22:37] jmgasper commented on #292
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30119815<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-24 22:39] jmgasper commented on #295
Contest https://www.topcoder.com/challenges/30120824 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-24 22:39] jmgasper commented on #295
Contest https://www.topcoder.com/challenges/30120824 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 01:16] jmgasper commented on #294
@afrisalyp - Ok, sorry for the delay here.

So we need to:

1.  Set expectations that we can't automatically accept an invitation
2.  Fix the issue where the success page isn't being shown

Is that correct?

[2020-03-25 01:25] #287 closed

[2020-03-25 01:27] jmgasper commented on #287
Contest https://www.topcoder.com/challenges/30120830 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 01:27] jmgasper commented on #287
Contest https://www.topcoder.com/challenges/30120830 has been updated - it has been assigned to Ghostar.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 01:27] jmgasper commented on #287
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 01:40] jmgasper opened #296 "[$20] Fix review issue related to 280"
Related to the issue #280

#280
topcoder-x-processor/services/IssueService.js
  `628:47  error  'e' is not defined  no-undef`
this will lead to failure of deleting issueCreationLock

[2020-03-25 01:43] jmgasper commented on #296
Contest https://www.topcoder.com/challenges/30120831 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 01:44] jmgasper commented on #288
Contest https://www.topcoder.com/challenges/30120832 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 01:44] jmgasper commented on #288
Contest https://www.topcoder.com/challenges/30120832 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 01:44] jmgasper commented on #296
Contest https://www.topcoder.com/challenges/30120831 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 01:46] jmgasper commented on #283
This was partially done, but still needs further fixes:

I can only see Member and Maintainer access level and there is no way to configure expiration date of users.
https://take.ms/jbfuN

[2020-03-25 01:48] jmgasper commented on #283
Contest https://www.topcoder.com/challenges/30120833 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 01:48] jmgasper commented on #283
Contest https://www.topcoder.com/challenges/30120833 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 02:45] afrisalyp commented on #295
@jmgasper

Yes, it's ready for review. Thanks.

[2020-03-25 02:47] afrisalyp commented on #294
@jmgasper - Yes, that's correct.

[2020-03-25 04:57] afrisalyp commented on #288
@jmgasper - I'm not able to open the link. It's not found.

![Screenshot from 2020-03-25 11-56-23](https://user-images.githubusercontent.com/8887344/77503260-cd2eda80-6e8f-11ea-8d4b-c3416fc631cd.png)

[2020-03-25 05:18] #296 closed

[2020-03-25 05:19] #295 closed

[2020-03-25 05:19] jmgasper commented on #296
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120831<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 05:20] jmgasper commented on #295
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120824<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 05:20] jmgasper commented on #288
@afrisalyp - I tweaked your user settings. Can you try again please?

[2020-03-25 05:59] #285 closed

[2020-03-25 06:10] afrisalyp commented on #288
@jmgasper - I can access it now. Thanks.

[2020-03-25 06:11] jmgasper commented on #284
@afrisalyp - We added the button, but I don't see it working in my tests for Gitlab.  Can you test as well please?

[2020-03-25 06:12] jmgasper commented on #284
Contest https://www.topcoder.com/challenges/30120850 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 06:13] jmgasper commented on #284
Contest https://www.topcoder.com/challenges/30120850 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 06:14] jmgasper commented on #282
@afrisalyp - Can you let me know your thoughts on this please?  Once we just do some basic investigation, we can get an idea of how to implement this, or if we even can.

[2020-03-25 06:14] jmgasper commented on #266
Contest https://www.topcoder.com/challenges/30120851 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 06:15] jmgasper commented on #266
Contest https://www.topcoder.com/challenges/30120851 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 06:15] jmgasper commented on #280
@afrisalyp - We have fixes in for this, but can you take a look as well just to make sure there weren't any side effects?  If we find anything, I'll create a separate ticket, thanks.  I'm nervous that the implementation wasn't done real well and the reviewers may not have caught things.

[2020-03-25 06:16] jmgasper commented on #282
Contest https://www.topcoder.com/challenges/30120853 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 06:16] jmgasper commented on #282
Contest https://www.topcoder.com/challenges/30120853 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 06:17] jmgasper commented on #280
Contest https://www.topcoder.com/challenges/30120854 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 06:17] #294 closed

[2020-03-25 06:18] jmgasper commented on #280
Contest https://www.topcoder.com/challenges/30120854 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 06:18] jmgasper commented on #294
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120315<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 06:19] jmgasper opened #297 "[$40] Fix up user success page after using a git access link."
@afrisalyp - As discussed in #294, we need to make sure the add user success page is being shown in all cases properly.

[2020-03-25 06:21] jmgasper commented on #297
Contest https://www.topcoder.com/challenges/30120855 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 06:21] jmgasper commented on #297
Contest https://www.topcoder.com/challenges/30120855 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-25 10:44] afrisalyp commented on #297
Verification screencast:
https://drive.google.com/open?id=1stBDXWNFwg-C2s_NwTEgIdvvkIof_E2q

[2020-03-26 01:16] afrisalyp commented on #284
@jmgasper

I've tested the feature and these are my findings:

1. The feature works on both Gitlab and Github for newly added users. You can see the screencast here:
Github: https://drive.google.com/open?id=1JsXQxLH-BDrvVpYF4MCnsiE91ODAPYvP
Gitlab: https://drive.google.com/open?id=1Iag5XSQlpnZmrJ4mBGp6RtZlvH2P3-v1

2. For users that added before the new feature is deployed, the feature can not del

[2020-03-26 01:24] #284 closed

[2020-03-26 01:25] jmgasper commented on #284
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120850<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-26 01:53] #288 closed

[2020-03-26 01:54] jmgasper commented on #288
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120832<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-26 02:10] jmgasper opened #300 "[$60] Migration plan for new and updates tables"
@afrisalyp - As you mentioned, we added new columns to a couple tables, and new tables entirely, to support new features.  This is fine for starting from scratch, but we have to support existing data that's already in the app.

Can you offer a migration plan or script that we can use to create the new columns and tables please?  I have access to Dynamo in dev, so we can test it there first.

[2020-03-26 02:13] jmgasper commented on #300
Contest https://www.topcoder.com/challenges/30120923 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-26 02:14] jmgasper commented on #300
Contest https://www.topcoder.com/challenges/30120923 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-26 02:59] afrisalyp commented on #282
@jmgasper

I've investigated the Gitlab's subgroup feature. Here are my findings.

1. Generally, Subgroups are groups. There are no significant differences except that subgroups have parent group attribute. This fact makes subgroups are listed on the `Git access control` Group list on Topcoder X. So basically, Topcoder X has complied with Gitlab subgroups.

2. We can create subgroups inside subgro

[2020-03-26 03:43] jmgasper opened #301 "[$5] Test 123"
Testing

[2020-03-26 03:48] jmgasper commented on #289
Added some information about this to the wiki.

[2020-03-26 03:48] #289 closed

[2020-03-26 03:50] #191 closed

[2020-03-26 03:53] jmgasper commented on #290
Contest https://www.topcoder.com/challenges/30120925 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-26 03:54] jmgasper commented on #290
Contest https://www.topcoder.com/challenges/30120925 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-26 03:54] jmgasper commented on #279
Contest https://www.topcoder.com/challenges/30120926 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-26 03:55] jmgasper commented on #279
Contest https://www.topcoder.com/challenges/30120926 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-26 04:12] jmgasper commented on #282
@rootelement - Please see above.  I have also validated this in my own testing.  Is that enough for the copilots using subgroups?  Do we need to do something further or display things differently in the UI?

[2020-03-26 04:12] #282 closed

[2020-03-26 04:14] jmgasper commented on #282
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120853<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-26 10:21] afrisalyp commented on #283
@jmgasper

- User Expiration feature only applicable for Gitlab. Github doesn't have the feature.

- Github has user role options: Member, Maintainer.

- Gitlab has user role options: Guest, Reporter, Developer, Maintainer, Owner.

[2020-03-27 01:50] afrisalyp commented on #279
@jmgasper

I think the Github webhook creation is broken. I'm not able to do "Add Webhook". I see that the March challenge commit has some changes on the code related to webhook creation, it might be related to it.

https://github.com/topcoder-platform/topcoder-x-ui/commit/acd5be31a3e782417216c40c0e56df0f12986a10#diff-fbd58dcb765282ff93e051fdc36265beL314

Do you confirm my findings?

[2020-03-27 01:51] jmgasper opened #304 "[$40] Fix up Github webhook creation"
As noted in #279

I think the Github webhook creation is broken. I'm not able to do "Add Webhook". I see that the March challenge commit has some changes on the code related to webhook creation, it might be related to it.

https://github.com/topcoder-platform/topcoder-x-ui/commit/acd5be31a3e782417216c40c0e56df0f12986a10#diff-fbd58dcb765282ff93e051fdc36265beL314

[2020-03-27 01:52] jmgasper commented on #279
https://github.com/topcoder-platform/topcoder-x-ui/issues/304

[2020-03-27 01:53] jmgasper commented on #304
Contest https://www.topcoder.com/challenges/30120993 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-27 01:54] jmgasper commented on #304
Contest https://www.topcoder.com/challenges/30120993 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-27 02:43] afrisalyp commented on #304
Upgrading `github-api` version fixes the problem.

[2020-03-27 13:00] afrisalyp commented on #300
@jmgasper

New columns and new tables will be updated automatically at the first runtime. The only thing that needs to be handled is the new indexes on the existing tables.

https://github.com/topcoder-platform/topcoder-x-ui/blob/0c9e743549739189e06548c470db2c370ff46549/src/models/OwnerUserGroup.js#L60

https://github.com/topcoder-platform/topcoder-x-ui/blob/0c9e743549739189e06548c470db2c370ff4654

[2020-03-28 01:27] jmgasper commented on #300
@afrisalyp - Thanks.  I'm fine if we remove the `AccessLevelIndex `

[2020-03-28 01:41] #304 closed

[2020-03-28 01:42] jmgasper commented on #304
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120993<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-28 01:48] #283 closed

[2020-03-28 01:49] jmgasper commented on #283
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120833<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-28 01:53] jmgasper commented on #300
Looks like the issue I'm seeing is a problem in the dev environment with the current rights for the configured AWS account:

[code]

[2020-03-28 01:55] #300 closed

[2020-03-28 01:55] #290 closed

[2020-03-28 01:56] jmgasper commented on #300
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120923<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-28 01:56] #301 closed

[2020-03-28 01:58] jmgasper commented on #290
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120925<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-29 03:39] afrisalyp commented on #280
@jmgasper

I've tested to simulate the scenario by disabling my network connection during creating a challenge. After the creation process was failed, I activated my network connection again and then I closed and reopened the issue. I found that the processor will retry to create the challenge and it was created successfully.

So I confirm that the process works well so far.

[2020-03-29 04:58] #280 closed

[2020-03-29 05:00] jmgasper commented on #280
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120854<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-29 06:01] jmgasper opened #307 "[$75] NPM steps for creating tables"
@afrisalyp - Let's add this `npm` options to the package.json.  We'll need these to handle DB updates because our dev and prod creds configured for the app *cannot* do things like create tables, so we'll need to have a separate user run the updates first.

1.  Add a `npm run create-tables` step that can be run to look for each required table, and, if it doesn't exist, create it.  This won't delete

[2020-03-29 06:05] jmgasper commented on #307
[500]: Challenge for the updated issue 307 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-30 02:06] afrisalyp commented on #307
To update DB models we need to:
- Configure the DynamoDB environment. For local deployment:
[code]

- Run `npm run create-tables` on the parent directory of the updated project.

https://drive.google.com/open?id=1Inrk21Jp38bfUVEwspwwaNbUHJG_pFId

[2020-03-30 02:34] jmgasper commented on #307
@afrisalyp - This seems to have worked, but we need to make the script a bit more user friendly.  Can you add some output so we know when tables are being created, and add an error handler to output errors as well please?  We'll need this in the future.

[2020-03-30 02:51] afrisalyp commented on #307
@jmgasper - Ah okay. I'll make improvements to the script. Thanks for the feedback

[2020-03-30 04:20] #297 closed

[2020-03-30 04:21] jmgasper commented on #297
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120855<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-03-30 06:54] afrisalyp commented on #307
@jmgasper - I've updated the script to make it more informative. It'll be look like this. Do you think that it's acceptable?

Successfully create or update:
![Screenshot from 2020-03-30 13-43-39](https://user-images.githubusercontent.com/8887344/77883465-63e30900-728d-11ea-8deb-8fd0e6e12105.png)

Access Denied:
![Screenshot from 2020-03-30 13-43-30](https://user-images.githubusercontent.com/888734

[2020-03-30 08:38] jmgasper commented on #307
Yep, looks good, thanks!

[2020-03-30 08:38] #307 closed

[2020-04-07 23:53] #279 closed

[2020-04-07 23:53] jmgasper commented on #266
@afrisalyp - Any thoughts on this one?

[2020-04-07 23:54] jmgasper commented on #279
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120926<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-08 03:30] jmgasper commented on #293
Initial support done.  Still needs cleanup

[2020-04-08 03:30] #293 closed

[2020-04-08 03:31] jmgasper opened #310 "[$150] Azure - Cleanup topcoder-x processor"
### Issue 1

topcoder-x-processor, following methods in AzureService not fully implemented, it is still using gitlab api, does not make sense

updateIssue, assignUser, removeAssign, getUserIdByLogin, changeState

For example, removeAssign will be used when issue is not ready for pickup

### Issue 2

topcoder-x-processor, EventService, handleEventGracefully, not implemented for Azure

[2020-04-08 03:33] jmgasper opened #311 "[$300] Azure support - Topcoder-X UI cleanup"
### Issue 1

topcoder-x-ui, AzureController, deleteUsersFromTeam, not implemented for Azure, it is still using gitlab api, does not make sense

### Issue 2

As Azure project added, should change the Gitlab/Github Repo Url to Azure.
Current display is Github
https://prnt.sc/ru16yu

### Issue 3

 Response 2: Required  - Why I has invalid request parameters if entered
https://dev.azure.com/trannghi/t

[2020-04-08 03:33] jmgasper commented on #310
Contest https://www.topcoder.com/challenges/30121920 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-08 03:35] jmgasper commented on #311
Contest https://www.topcoder.com/challenges/30121921 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-08 03:35] jmgasper commented on #310
Contest https://www.topcoder.com/challenges/30121920 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-08 03:37] jmgasper commented on #311
Contest https://www.topcoder.com/challenges/30121921 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-08 03:39] afrisalyp commented on #266
@jmgasper
I got stuck on this.
But I found that the issue appears in Firefox only.
I've tested to load Topcoder X site in Chrome, Edge, and Opera. The requests seems normal.

Chrome:
https://drive.google.com/open?id=12yu4kjQ0S8p3xvJkLCP_iUQ_YY79U3xH

Edge:
https://drive.google.com/open?id=16yhmE8XzWA23Yk_SMe7pSZGs3Kzbvdkd

Opera:
https://drive.google.com/open?id=1Pk-K7wEeew79MkJQqVwQRTugeqPlrBAO

[2020-04-08 04:14] jmgasper commented on #266
Ok - will consider this fixed then, thanks.

[2020-04-08 04:14] #266 closed

[2020-04-08 04:15] jmgasper commented on #266
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120851<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-09 00:12] afrisalyp commented on #310
@jmgasper

Can you please update the receiver repo? I don't see the azure challenge commit on topcoder-x-receiver.

Thanks.

[2020-04-09 00:25] jmgasper commented on #310
@afrisalyp - It should be there:

https://github.com/topcoder-platform/topcoder-x-receiver/commit/343f4075659a7a4558346946c57e6a340ba3ec23

[2020-04-09 00:32] afrisalyp commented on #310
@jmgasper - Ah okay. Sorry. I looked at a wrong repo (my forked repo).

[2020-04-10 13:49] afrisalyp commented on #311
@jmgasper

The reviewers missed to list some major issues: Add normal users to a team and implement its success page for Azure.

I've also added and fixed the unfinished feature in this commit.

[2020-04-21 00:16] jmgasper commented on #310
@afrisalyp - Sorry for the delay here.  Feel free to ping me if I haven't closed something that should be closed.  🤦

[2020-04-21 00:16] #310 closed

[2020-04-21 00:16] #311 closed

[2020-04-21 00:17] jmgasper commented on #310
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30121920<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-21 00:17] jmgasper commented on #311
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30121921<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-21 04:20] afrisalyp commented on #310
@jmgasper

It's okay. I just thought that maybe you or teams haven't finished testing the new feature yet. :)

[2020-04-21 05:06] jmgasper opened #313 "[$200] Investigate V5 APIs and identify gaps"
@afrisalyp - We're going to move TC-X over to the v5 APIs soon:

* Challenge: https://github.com/topcoder-platform/challenge-api
* Member: https://github.com/topcoder-platform/member-api
* Project: https://github.com/topcoder-platform/projects-api
* Resource: https://github.com/topcoder-platform/resources-api

What I'd like to do in this ticket is just investigate the required TC platform calls an

[2020-04-21 05:11] jmgasper commented on #313
[500]: Challenge for the updated issue 313 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-21 05:11] jmgasper commented on #313
Contest https://www.topcoder.com/challenges/30122670 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-22 02:35] afrisalyp commented on #313
# List of Topcoder API used in Topcoder-X

## Topcoder-X Processor

### Challenge API

#### Available v4 to V5 API Mappings

API Path (v4) | Wrapper Function (v4) | Service (v5) | API Path (v5)
------------ | ------------- | ------------- | -------------
**GET** /challenges/{id} | [**challengesIdGet**](https://github.com/cwdcwd/topcoder-api-challenges/blob/HEAD/docs/DefaultApi.md#challengesIdGet)

[2020-04-22 02:36] afrisalyp commented on #313
@jmgasper

I've investigated the API v4 to API v5 mappings that are used in TCX. I found the corresponding API on most of the API. But some of them aren't available.

We need to focus on the `Unavailable v4 to V5 API Mappings` items.

[2020-04-22 02:50] jmgasper commented on #313
This is great, thanks.

[2020-04-22 02:50] jmgasper commented on #313
Contest https://www.topcoder.com/challenges/30122670 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-22 02:50] #313 closed

[2020-04-22 02:51] jmgasper commented on #313
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122670<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 15:38] rootelement opened #314 "[$30] Add Github Org as a Column in Git Access Control"
<img width="820" alt="Screen Shot 2020-04-24 at 11 34 34 AM" src="https://user-images.githubusercontent.com/5400156/80230428-ef974d80-861f-11ea-8cc8-efbc01a05157.png">

Add another column after Team Name for Organization on the GitHub tab of the Git Access Control page.

For Gitlab, let's try to use the parent project of the repo as the organization value.

[2020-04-24 15:41] jmgasper commented on #314
Contest https://www.topcoder.com/challenges/30123070 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 23:28] jmgasper commented on #314
Contest https://www.topcoder.com/challenges/30123070 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 23:29] jmgasper commented on #314
@afrisalyp - Does this one make sense?  Please let me know if you have any questions, thanks.

[2020-04-25 03:25] afrisalyp commented on #314
@jmgasper

For showing Github Organization, it makes sense and completely possible.

For Gitlab, do you mean that we'll show the parent project of the group? Please let me know more detail about the idea.

In my opinion, it's possible if we add a new column for Github only.
Let me know your thoughts on this.

[2020-04-25 03:38] jmgasper commented on #314
@afrisalyp - I think I misunderstood what was originally logged.  We already use the *group* name in Gitlab, so no change is necessary for Gitlab, just for Github.

[2020-04-25 04:15] afrisalyp commented on #314
@jmgasper

It's done. Ready for review.
Thanks.

[2020-04-25 04:36] veshu opened #316 "Add support for multiple repo URL per project"
currently, if I have backend and frontend repo, I need to create two separate projects on topcoder-x making worse when there are more repositories for the same project.

Expected Result
Update the REPO URL field to support comma-separated repositories so we can handle multiple repositories with a single project.  Please ensure the prompt below the field is updated to:

`The URL to the repository o

[2020-04-25 04:47] veshu opened #317 "[$15] Sort current projects lists"
Please sort the list of the current projects by latest updated project at the top by default followed by project name ascending.

![Screen Shot 2020-04-26 at 12 17 25](https://user-images.githubusercontent.com/21790/80295658-ee008d80-87b7-11ea-9db8-abcc4b4d9696.png)

[2020-04-25 11:29] veshu opened #318 "outdated wiki rules"
Looks like the wiki rule set by X is wrong and outdated.
e.g. user shouldn't update the label to assigned and remove open for pickup label.

It could be handled by the app.

[2020-04-25 11:38] veshu opened #319 "[$15] No clear message"
There is below case sometimes members are unassinged automatically but there is no reason why user has been unassigned.

![image](https://user-images.githubusercontent.com/2202045/80278866-6ebc7c80-8719-11ea-876a-c02eef469705.png)

[2020-04-26 00:59] #314 closed

[2020-04-26 01:01] jmgasper commented on #314
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123070<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-26 02:16] jmgasper commented on #316
@rootelement - What do you think about this one?

[2020-04-26 02:19] jmgasper commented on #319
@afrisalyp - Can we add some messaging around this?  I *think* there's only one case here - where the ticket isn't in `tcx_OpenForPickup` status, but if there's more than that case, let me know and I'll provide additional wording.

For the case where `tcx_OpenForPickup` isn't applied, we can update the comment to be `{handle} has been unassigned because this ticket doesn't have the 'tcx_OpenForPic

[2020-04-26 02:20] jmgasper commented on #317
Contest https://www.topcoder.com/challenges/30123236 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-26 02:20] jmgasper commented on #317
Contest https://www.topcoder.com/challenges/30123236 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-26 02:21] jmgasper commented on #286
Validated that this doesn't appear in the logs anymore.

[2020-04-26 02:21] #286 closed

[2020-04-26 02:22] jmgasper commented on #319
Contest https://www.topcoder.com/challenges/30123237 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-26 02:22] jmgasper commented on #319
Contest https://www.topcoder.com/challenges/30123237 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-26 03:56] afrisalyp commented on #319
@jmgasper

A comment for user assigning without the OpenForPickup label is added.
So far, I don't see other cases that we need to be handled.

Also, I included changes in `topcoder-api-helper` to revert usage of M2M token. It was accidentally committed in the previous work.

[2020-04-26 04:44] afrisalyp commented on #317
@jmgasper

Since we need to add `updatedAt` column to the Project model to record the updated time, please notice that sorting based on the updated date is only applicable for future project creation or update.

[2020-04-26 05:01] #317 closed

[2020-04-26 05:01] #319 closed

[2020-04-26 05:03] jmgasper commented on #319
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123237<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-26 05:03] jmgasper commented on #317
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123236<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-26 15:19] callmekatootie opened #321 "Do away with labels"
My (CoPilot) objective is to pay members out for their work on tasks / tickets / issues.
With this context, I am not sure of the purpose of having multiple labels that TCX responds to. The labels, if any, should be the prerogative of the copilot on how they wish to manage their project (I understand the need to standardize the labels across bug bashes but my complain is more about TCX being intere

[2020-04-26 21:03] jmgasper commented on #321
@cwdcwd / @rootelement ☝️  Let me know your thoughts on this.

The move to the v5 API will fix up the delays / inconsistencies noted, which all stem from the challenge API.

Part of why we do the "longer" process now is that, in theory, it allows the PM to better manage the budget flow of the project since the challenges are created and assigned payment earlier.  If that's not an issue, we can sta

[2020-04-26 21:34] rootelement commented on #321
I disagree with @callmekatootie here a little bit. If your only thing you want to do is pay out a member, we have payment.topcoder.com. If it's tied to work, we (as architects at topcoder specifically) are always charged with "pipeline". The last project I ran as an architect before i moved to the Prod Dev team, I had to put all my expected challenges and tasks into direct to gameplan out the work

[2020-04-28 00:05] jmgasper commented on #318
I've updated the template.  This will be part of the next Topcoder-X deploy to prod.

[2020-04-28 00:05] #318 closed

[2020-04-28 06:27] jmgasper opened #322 "[$50] Logging updates"
@afrisalyp - Let's make a few logging updates to make debugging easier:

1.  Remove all `Enter` and `EXIT` lines for logs
2.  For every log that corresponds to a specific git issue, start the line of the log with repoUrl, followed by the git issues number, like `https://github.com/topcoder-platform/challenge-engine-ui issue #199 {log text}`.  This will help because right now there are a whole bunc

[2020-04-28 06:30] jmgasper commented on #322
Contest https://www.topcoder.com/challenges/30123553 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 06:31] jmgasper commented on #322
Contest https://www.topcoder.com/challenges/30123553 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-29 03:15] #322 closed

[2020-04-29 03:16] jmgasper commented on #322
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123553<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-29 17:00] veshu opened #324 "Budget Reporting"
It would really good to have total issue prize that has been spent on current bug bash.

Can we have a simple report with following filter:
1. project
2. start period
3. end period
4. issue label(tcx label)

Result as below
Show the list of issue link with in one column and prize in another column.

Also show total prize for current filter criteria.

[2020-04-29 20:31] jmgasper commented on #324
I think this needs to be higher up than TCX.  In TC Direct somewhere

[2020-04-30 00:59] jmgasper commented on #324
@rootelement - Let me know your thoughts on this when you have time.  The dashboard in Topcoder-X just doesn't make a lot of sense right now, but I'm not sure what would be fully helpful there.  This could potentially be an enhancement there.

[2020-04-30 03:21] veshu commented on #324
This is really useful for budget planning on bug bashes. TCX might include TC fee and other costs and other challenges also.

For the challenges which are run from X can be best computed here. Right now there is no way to actual count of bug bash budget on anywhere except manual.

[2020-05-01 10:35] veshu opened #325 "[$30] labels remove unexpectedly"
If payment is failed for some reason the existing labels are removed by the app.

![image](https://user-images.githubusercontent.com/2202045/80799845-a5860d00-8bc7-11ea-9da3-f3e6b4b6cb2b.png)

[2020-05-01 10:52] jmgasper commented on #325
@afrisalyp - If payment fails, can we just leave the labels as-is please?  Right now we add `tcx_ReadyForReview`, but we don't need to do that, thanks.

[2020-05-01 10:54] jmgasper commented on #325
Contest https://www.topcoder.com/challenges/30124006 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-01 10:56] jmgasper commented on #325
Contest https://www.topcoder.com/challenges/30124006 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 07:39] afrisalyp commented on #325
@jmgasper

Sorry for the delay. A PR is submitted for this issue.

[2020-05-11 01:11] jmgasper commented on #325
@afrisalyp - No worries, thanks!  I've been focused on the challenge engine for the last week, so not a problem.

[2020-05-11 01:11] #325 closed

[2020-05-11 01:14] jmgasper commented on #325
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124006<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-31 17:07] anonymousjaggu opened #326 "Unregister the member who is not assigned"
Currently, I was assigned to a task and then I was unassigned. I think I should be un-registered from the challenge as well, it's showing me the registrant of that task.
It shows that challenge in `My Challenges`, so I suggest to remove the un-assigned participant from the challenge.

### For the Topcoder-X challenge

We need to validate and debug the flow above, using the v5 API.  When users un-a

[2020-07-17 20:25] jmgasper opened #328 "[$100] Flag to remove copilot payments"
There are certain projects that are handled by TC admins that we shouldn't be creating copilot payments for when the tickets are closed.  We'll still create the *member* payment for the winner of the challenge, but we won't create the *copilot* part of the payment.

To support this, let's create a checkbox next to the copilot field in the UI that says “Create Copilot Payments?” and if unchecked, i

[2020-07-20 21:19] jmgasper opened #330 "[$30] Add `copilot` column to project table"
We want to add a `copilot` column to the project table, for both normal users *and* admins.  For admins, we currently show the owner, but we should show the `copilot` column separately as well.  Normal users should also see the copilot column.

If no copilot is set, we'll just show it as blank.

![Screen Shot 2020-07-21 at 07 19 37](https://user-images.githubusercontent.com/21790/87987777-89d53780

[2020-07-23 12:52] callmekatootie opened #331 "[$50] Error when using the registration link"
A lot of members in my ongoing bug bash have reported that faced errors when trying to register.

Link: https://x.topcoder.com/api/v1/github/teams/registration/6ec91b02-1cfc-4fe9-9c89-f405128b1e15-1595487549009

Error that they received:

[code]

Example members (github handles):
[code]

[2020-07-23 17:37] callmekatootie commented on #326
Probably related - https://github.com/topcoder-platform/topcoder-x-ui/issues/292

This bit does not seem to have been fixed. The earlier member continues to be seen as a submitter for the challenge, even though they are no longer assigned

[2020-07-25 17:24] callmekatootie commented on #326
Workable solution for now - To unassign the member, remove the Open For Pickup label and assign the member again. They get unassigned (I am assuming because the label is not set, so they cannot pick it up)

[2020-07-27 09:26] jmgasper commented on #328
@afrisalyp - Would you like to take this one?

[2020-07-27 09:28] jmgasper commented on #328
Contest https://www.topcoder.com/challenges/30134390 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-07-27 09:30] jmgasper commented on #328
Contest https://www.topcoder.com/challenges/30134390 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-07-27 09:31] jmgasper commented on #331
@afrisalyp - Any idea on this one?

[2020-07-27 09:33] jmgasper commented on #330
Contest https://www.topcoder.com/challenges/30134391 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-07-27 09:33] jmgasper commented on #331
Contest https://www.topcoder.com/challenges/30134392 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-07-27 09:33] jmgasper commented on #331
Contest https://www.topcoder.com/challenges/30134392 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-07-27 09:35] jmgasper commented on #330
Contest https://www.topcoder.com/challenges/30134391 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-07-27 10:51] afrisalyp commented on #328
@jmgasper

Sure. Will be delivered soon.

[2020-07-28 00:37] jmgasper commented on #328
@afrisalyp - Sounds good, thanks!

[2020-07-28 04:11] jmgasper opened #332 "[$75] Copilot updates"
After #328 is done, we'll make some additional changes:

### Payment amount field

On the `Manage Project` page, add a field for Copilot Payment Amount, default it to 40, editable by admins only

### Assignee vs copilot

There are certain tickets where the assignee *is* the copilot.  In that case, we want the copilot ticket to *not* be added because the copilot would get double-paid in that case.

[2020-07-28 04:14] jmgasper commented on #332
Contest https://www.topcoder.com/challenges/30134520 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-07-28 04:15] jmgasper commented on #332
Contest https://www.topcoder.com/challenges/30134520 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-07-28 08:01] afrisalyp commented on #331
@jmgasper

I've investigated this and I don't see that the issue related to our code. It seems the error came from the `github-api` module.

I think I've never seen the error in the dev env and I found that the develop branch use github-api version 3.3.0 while the master branch use version 3.0.0.

Can you please upgrade the production so it will use version 3.3.0 and let see the impact?

https://g

[2020-07-28 13:34] afrisalyp commented on #328
@jmgasper

What's the default state of the checkbox? Checked or unchecked?

[2020-07-28 14:01] afrisalyp commented on #328
@jmgasper

I've just read the new issue https://github.com/topcoder-platform/topcoder-x-ui/issues/332
So the goal of this is to automatically process the copilot payment. Am I correct?
Do we have backend service ready for this feature or we need to implement it in our TCX app (Create a new challenge to make payment for copilot)?

[2020-07-28 23:17] jmgasper commented on #328
@afrisalyp - The default state of the checkbox will be *unchecked* for new projects

This doesn't affect the `Copilot Payments` tab.

Instead, it affects the functionality in the processor where we automatically add copilot payments of $40 to each closed Github or Gitlab ticket.  I don't think we set the $40 payment value itself, but we *do* add the copilot when the ticket is closed.  Let's *not*

[2020-07-28 23:18] jmgasper commented on #331
@afrisalyp - Sure, I'll do that on the next deploy.

[2020-07-28 23:18] #331 closed

[2020-07-28 23:19] jmgasper commented on #331
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134392<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-07-28 23:32] #330 closed

[2020-07-28 23:34] jmgasper commented on #330
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134391<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-07-28 23:53] afrisalyp commented on #328
@jmgasper

So as per my understanding, we won't set the copilot to the `addResourceToChallenge` method if the checkbox is unchecked. Is it correct?

[2020-07-29 00:28] jmgasper commented on #328
@afrisalyp - Yes, that's correct

[2020-07-29 10:32] afrisalyp commented on #332
@jmgasper

If Create Copilot Payments option is disabled. Will we still print the copilot in the comment?

[2020-07-29 10:46] jmgasper commented on #332
@afrisalyp - No, if the payments option is disabled, we won't print the copilot in the comment.

[2020-07-29 11:30] afrisalyp commented on #332
@jmgasper

Ok, thanks.

How's the amount value affect the closing process?

[2020-07-29 22:14] jmgasper commented on #332
@afrisalyp - I thought we set that value in our code, but as I look at it, I think it's being set by the platform.  Let me confirm with Topcoder.  We may need to wait on this until we merge in the V5 API changes.

[2020-07-30 02:35] afrisalyp commented on #332
@jmgasper

Okay sure.
A PR submitted for `Assignee vs copilot` and `Payment comments` items.

[2020-07-30 05:20] jmgasper commented on #332
Closing for now.  Once I get clarification on the payment amount (may be v5-only), then we'll open up a new ticket.

[2020-07-30 05:20] #332 closed

[2020-07-30 05:22] jmgasper commented on #332
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134520<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-03 00:38] afrisalyp commented on #328
@jmgasper

Any issues related to this ticket?
Let me know if any things need to be fixed.

[2020-08-03 01:04] jmgasper commented on #328
@afrisalyp - Nope, all good.  Sorry for the delay.

[2020-08-03 01:04] #328 closed

[2020-08-03 01:07] jmgasper commented on #328
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134390<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-03 01:23] afrisalyp commented on #328
@jmgasper Thanks.

[2020-08-03 04:02] jmgasper opened #335 "[$60] Back out Azure changes"
@afrisalyp - In anticipation of the next prod deploy, can you back out the Azure Devops changes for:

* Receiver
* Processor
* UI

We won't be going to prod with those changes and will likely drastically change how that functionality works.

[2020-08-03 04:02] jmgasper commented on #335
Contest https://www.topcoder.com/challenges/30135564 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-03 04:09] afrisalyp commented on #335
@jmgasper

Sure. So we'll remove all of the azure related code from the repos?

[2020-08-03 04:09] jmgasper commented on #335
@afrisalyp - Yes, that's correct.

[2020-08-03 13:14] jmgasper commented on #335
Contest https://www.topcoder.com/challenges/30135564 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-04 04:39] #335 closed

[2020-08-04 04:39] jmgasper commented on #335
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135564<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-05 04:05] veshu opened #337 "payment release date"
@jmgasper
The copilot payment release date for the other challenges created from direct or payment tool have 15 days release period.

while the payments created from this tool are still one month.

[2020-08-05 07:24] jmgasper commented on #337
@veshu - I *think* that the system will update the payments after a day or two, but this isn't something that's handled by Topcoder-X at all.  @tonyj?

[2020-08-05 07:24] #337 closed

[2020-08-30 23:57] #321 closed

[2020-08-30 23:58] jmgasper commented on #324
@rootelement - Should I archive this one?  Seems like this should be in connect / direct and not tcx directly.

[2020-09-25 00:53] jmgasper opened #341 "[$75] Investigate v5 transition issues"
@afrisalyp - I'm testing the latest integration and fixes to use the v5 API and I noted a couple problems while using the `x.topcoder-dev.com` setup:

1.  I get the correct challenge ID associated with my ticket

### Issue 1

When I assign the ticket, the message shows the wrong challenge ID (`undefined`)

### Issue 2

When I mark the ticket as `tcx_FixAccepted` and close it, payment isn't happeni

[2020-09-25 00:53] jmgasper commented on #341
Contest https://www.topcoder.com/challenges/30143562 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-25 03:44] jmgasper commented on #341
@afrisalyp - We figured this out - was a deployment issue.

[2020-09-25 03:44] #341 closed

[2020-09-25 03:44] jmgasper commented on #341
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-27 07:18] sachin-maheshwari opened #342 "Deprecate v2 user profile api"
We can deprecate v2 user profile api, instead "handle" will be available in token itself.

https://github.com/topcoder-platform/topcoder-x-ui/blob/017d529d033b8fb506aceea79ab90790a82f7c15/src/services/TCUserService.js#L29
https://github.com/topcoder-platform/topcoder-x-ui/blob/e39440f5727e8a08b5a654ee1a3c76be6d94d11a/src/config.js#L69

[2020-09-28 05:34] callmekatootie opened #343 "Does the tcx_cancelled label do anything"
Expected: When setting the `tcx_cancelled` label, the contest generated for the ticket is cancelled. Any new labels set will need to be treated as a new ticket with a new contest being created.

Current: Setting the label does nothing.

The latter bit `Any new labels set will need to be treated as a new ticket with a new contest being created.` is just an expectation for the future but the former

[2020-09-28 05:57] jmgasper commented on #343
@callmekatootie - It will do something when we deploy the v5 API updates.  The problem with this feature in v3 was that the API to actually cancel / delete a challenge didn't work properly, so as of right now the label doesn't do anything.

[2020-09-30 05:33] jmgasper opened #344 "[$150] Auth flow changes"
@afrisalyp - We're working on some auth flow changes and could use some help.  We've started work here:

https://github.com/topcoder-platform/topcoder-x-ui/pull/340

Basically, we're going to move from the "old" auth flow and HS256 token, to the "new" auth flow and RS256 token instead.

From Topcoder:

Logout and refresh are not working. Also code clean-up is required for decode and refresh logic.

[2020-09-30 05:33] jmgasper commented on #344
Contest https://www.topcoder.com/challenges/30144220 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-30 05:33] jmgasper commented on #344
Contest https://www.topcoder.com/challenges/30144220 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-30 11:33] afrisalyp commented on #344
@jmgasper

Should I use feature/Auth0-RS256-Token branch?

[2020-09-30 20:23] jmgasper commented on #344
@afrisalyp - Sure, thanks.

[2020-10-01 00:50] afrisalyp commented on #344
@jmgasper

I got this error after started the `topcoder-x-ui` backend service.
I've tried to use `babel`, but still the same.
Any steps that should I do to use `tc-auth-lib`?

[code]

[2020-10-01 06:29] jmgasper commented on #344
@sachin-maheshwari ☝️  Any ideas?

[2020-10-01 07:52] sachin-maheshwari commented on #344
@jmgasper some ES6 standards are making that cause. I handled this "esm" like - https://github.com/topcoder-platform/topcoder-x-ui/blob/feature/Auth0-RS256-Token/package.json#L14 . You can handle in different ways.

[2020-10-04 22:20] jmgasper commented on #344
@afrisalyp - I deployed these changes to `https://x.topcoder-dev.com`.  I'm not seeing the logout working.  Can you double check please?

@sachin-maheshwari - Can you have a look as well and let me know what you think please?  We'll still need to update with the new login flow.

[2020-10-05 00:40] afrisalyp commented on #344
@jmgasper

Do you see screen like this?
It seems we need to fix some configuration in auth0.

I got this error message

![Screenshot from 2020-10-05 07-37-03](https://user-images.githubusercontent.com/8887344/95031022-b2aaa900-06dd-11eb-9118-b62be19338fa.png)

[2020-10-05 06:19] sachin-maheshwari commented on #344
@jmgasper @afrisalyp check now. I changed in LONGIN_URL at aws end.

[2020-10-05 06:26] sachin-maheshwari commented on #344
@jmgasper i don't think new "refresh token" changes working.

[2020-10-05 12:51] sachin-maheshwari commented on #344
@jmgasper  also, can we use our central lib for auth (instead of https://github.com/topcoder-platform/topcoder-x-ui/tree/develop/src/front/src/app/auth). Example-  https://github.com/appirio-tech/connect-app/blob/test/auth0lib/package.json#L153  https://github.com/appirio-tech/connect-app/pull/4082

[2020-10-06 03:48] jmgasper commented on #344
@sachin-maheshwari - Login URL change looks to be working.  I'm going to create new tickets for the refresh token and central lib stuff.

[2020-10-06 03:50] jmgasper opened #346 "Token refresh on UI"
Attached is the token refresh logic we need to apply for both RS256 and HS256 token types:

We need to ensure this works properly for *both* token types.  Please ensure your validation documentation properly covers the testing required.

[Silently Token Refresh Logic.pdf](https://github.com/topcoder-platform/topcoder-x-ui/files/5331285/Silently.Token.Refresh.Logic.pdf)

[2020-10-06 03:51] jmgasper commented on #346
Contest https://www.topcoder.com/challenges/30144599 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-06 03:51] jmgasper opened #347 "Update to use central lib for auth"
From #344

Can we use our central lib for auth (instead of https://github.com/topcoder-platform/topcoder-x-ui/tree/develop/src/front/src/app/auth). Example- https://github.com/appirio-tech/connect-app/blob/test/auth0lib/package.json#L153 appirio-tech/connect-app#4082

### For the challenge

The expectation is that the new RS256 auth flow will work as expected, while still being able to handle HS25

[2020-10-06 03:51] jmgasper commented on #347
Contest https://www.topcoder.com/challenges/30144600 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-06 03:51] jmgasper commented on #347
Contest https://www.topcoder.com/challenges/30144600 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-06 03:52] jmgasper commented on #344
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-06 03:53] jmgasper commented on #346
Contest https://www.topcoder.com/challenges/30144599 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-13 02:40] jmgasper commented on #344
@afrisalyp - Sorry for the delay here.  I'm hoping to get the billing code fixed ASAP.

[2020-10-13 04:25] afrisalyp commented on #344
No problem. Thanks.

[2020-10-14 22:20] jmgasper opened #348 "Test Gitlab close / reopen"
We tend to close / reopen tickets if they get "stuck".  What I noticed with a few tickets recently is that the "reopen" message isn't getting properly handled by the receiver (`info: unknown event detected`).  This could be a change on Gitlab's end for the message format, so we just need to re-test and see what's going on.

I should be able to:

* Close an existing ticket (without `tcx_FixAccepted

[2020-10-19 20:25] #344 closed

[2020-10-19 20:26] jmgasper commented on #344
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144220<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-20 02:11] jmgasper commented on #346
Topcoder-X only supports a single assignee on a ticket to avoid issues with payment<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-20 02:14] #324 closed

[2020-10-20 02:18] jmgasper commented on #46
@cwdcwd / @rootelement  - My yearly checkin on this ;).  Is there a good v5 API we can use for this?  ☝️

[2020-10-20 02:19] jmgasper commented on #54
@rootelement - Would this be helpful?  Something we should investigate further or just close it out?

[2020-10-20 15:53] rootelement commented on #54
Leave it on the backlog. After we get updated to v5 and things are stable, we can revisit. But I definitely think there are need-to-haves that are higher priority than this nice-to-have

[2020-11-01 20:22] jmgasper opened #350 "Issue with the Git access link"
Reported to support:

When I try to self-register to the gitlab repository at https://x.topcoder.com/api/v1/gitlab/groups/registration/d1a4a547-8931-4844-b238-eba5efa5f512-1603900329327 I encounter an 500 error {"message": "Cannot read property 'toLowerCase' of undefined"} at GET https://x.topcoder.com/api/v1/tclogin

[2020-11-03 06:35] jmgasper opened #351 "[$75] Create pull requests for recent changes, and fix review issue"
@anonymousjaggu - Can you do the follow please?

1.  Fix the review issue here:

For ticket https://github.com/topcoder-platform/topcoder-x-ui/issues/346

As per the attached spec in the ticket, iframe url must be configurable but in the submission, it is hardcoded.

Here's an excerpt in file topcoder-x-ui/src/front/src/components/common/footer.html:
[code]

2.  Create pull requests for the UI and

[2020-11-03 06:35] jmgasper commented on #351
Contest https://www.topcoder.com/challenges/30148396 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 06:37] jmgasper commented on #351
Contest https://www.topcoder.com/challenges/30148396 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 14:18] anonymousjaggu commented on #351
@jmgasper FYI I am re-using the existing code for adding the refresh UI as below
![image](https://user-images.githubusercontent.com/31332424/97996175-8df63e00-1e0f-11eb-92a6-79d8723f7f3d.png)
so the URL will be coming from the config

[2020-11-04 21:22] #351 closed

[2020-11-04 21:22] jmgasper commented on #351
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148396<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 20:16] jmgasper opened #354 "[$75] Adding resources to task"
When a task is created, currently we do the following on the backing challenge:

* Add the assigned member as the submitter / assignee
* Add the configured copilot from Topcoder-X as the copilot on the challenge

We need to add the following:

* Add the configured owner from Topcoder-X as `Manager` on the challenge
* Add the user `Applications` as `Observer` on the challenge

We should be able to

[2020-11-09 20:16] jmgasper commented on #354
Contest https://www.topcoder.com/challenges/30149840 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 20:17] jmgasper commented on #354
@anonymousjaggu / @afrisalyp - Any interest in this one?

[2020-11-10 19:02] jmgasper commented on #354
Contest https://www.topcoder.com/challenges/30149840 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 19:04] anonymousjaggu commented on #354
@jmgasper would you please share with me the more info of endpoint i have to make data for the request

[2020-11-10 20:57] jmgasper commented on #354
For the roles endpoint, you can just test this in Postman to get the list, using a generated M2M token, or a token from a dev site.

And then, the flow would be the same as we already do for adding a copilot or submitter:

[code]

We would just have additional configs for `Observer` and `Manager` roles.

[2020-11-11 10:07] jmgasper opened #355 "[$50] Fix for better logging of errors"
As discussed via Slack

[2020-11-11 10:07] jmgasper commented on #355
Contest https://www.topcoder.com/challenges/30150458 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 10:07] jmgasper commented on #355
Contest https://www.topcoder.com/challenges/30150458 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 10:07] #355 closed

[2020-11-11 10:11] jmgasper commented on #355
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150458<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 09:32] jmgasper commented on #354
@anonymousjaggu - Are you going to finish this one?

[2020-12-01 10:02] anonymousjaggu commented on #354
Ok will work on this

[2020-12-01 12:50] anonymousjaggu commented on #354
@jmgasper please share the latest config values the previous one you shared has issue
![image](https://user-images.githubusercontent.com/31332424/100743157-0565c000-3404-11eb-8d46-c2d750cf712a.png)

[2020-12-01 12:55] anonymousjaggu commented on #354
Please provide the config which has all access for the credentials you provide

[2020-12-01 20:58] jmgasper commented on #354
@anonymousjaggu - Sent the dev config via email.

[2020-12-02 04:10] anonymousjaggu commented on #354
How do we add resources with a role in the challenge? Adding resourcing is like this
![image](https://user-images.githubusercontent.com/31332424/100827273-72b93580-3484-11eb-9d16-fbd2061c9a03.png)

[2020-12-02 23:43] jmgasper commented on #354
@anonymousjaggu - A couple things here:

1.  We should be able to get the list of roles from https://api.topcoder-dev.com/v3/roles
2.  We can then just make the roles configurable in the env, so we have the IDs
3.  `Applications` is the memberHandle to use for that particular user

[2020-12-05 12:41] callmekatootie opened #356 "Stuck at logout"
I am always stuck at logout - it does not take me to the login page but instead shows this

![image](https://user-images.githubusercontent.com/2317133/101243304-407a3300-3725-11eb-93a3-f28f08517ac4.png)

I have to clear site data through dev tools under Application and retype x.topcoder.com - and only then I get redirected to accounts.topcoder.com

[2020-12-05 12:50] callmekatootie opened #357 "Feature Request: View logs"
Would like the ability to view the logs related to my actions / projects in the dashboard so that we can figure out what went right / wrong and correct it.

Right now, it is like a black box - and we cannot figure out why TCX did not create payment task for a ticket.

Note - I'm open to suggestions on an implementation here.

The easiest would be to make the logging "searchable" somehow, maybe thr

[2020-12-06 14:30] callmekatootie commented on #350
@jmgasper Any update here - One of my members reported the same issue. Would like to know what resolution did support provide

[2020-12-10 15:17] callmekatootie commented on #356
Video of this issue - https://drive.google.com/file/d/1OtrG-48whJbMNPuaAGYoSKGNWFYmSSDP/view?usp=sharing

[2020-12-11 00:02] jmgasper commented on #356
I think this'll be fixed when we deploy the next prod version, which will include the latest Auth0 changes.

[2020-12-16 03:24] jmgasper commented on #354
@anonymousjaggu - Can I get a status update here please?  ☝️

[2020-12-20 22:54] #354 closed

[2020-12-20 22:54] jmgasper commented on #354
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-20 22:54] #348 closed

[2020-12-20 23:04] jmgasper opened #358 "MFE - UI changes"
These are the things I think we need to address in the current UI:

### Dashboard

The `Dashboard` page is kind of useless at the moment.  It doesn't really handle things appropriately and hasn't been updated with copilot needs.  We should either rethink it completely, or, in my opinion, just remove it entirely.  I think that the TC-X UI should be solely about configuring the integration, nothing

[2020-12-20 23:04] jmgasper commented on #358
@rootelement - First step on the ☝️ is just to run a small design challenge, I think.  We did this recently with the submission review stuff and got good results.

[2020-12-21 04:10] sdgun opened #359 "Unable to add labels to projects"
**Steps**

- Create a new project
- Add labels to the project

Labels don't get added, shows the below error:

![image](https://user-images.githubusercontent.com/4592712/102738543-74359980-4370-11eb-9606-312b5972f2f8.png)

![image](https://user-images.githubusercontent.com/4592712/102738618-ac3cdc80-4370-11eb-82ed-1856565ce0dc.png)

[2020-12-22 23:04] jmgasper opened #360 "Direct --> Connect ID migration script"
@afrisalyp - One thing we need to do when we deploy the v5 integration is migrate all the old "Direct" IDs to the new "Connect" IDs for the projects.

Scripts exist that do this elsewhere, but I'd like to get one created that can do the work specifically for Topcoder-X:  https://github.com/topcoder-platform/direct-project-migration

Can you take a look at this please?

[2020-12-22 23:05] jmgasper commented on #360
Contest https://www.topcoder.com/challenges/30159982 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-22 23:07] jmgasper commented on #360
Contest https://www.topcoder.com/challenges/30159982 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 04:29] sdgun opened #361 "When cancelling issues, the challenge does not get cancelled"
**Steps**
1. Create an issue from sdgun user
2. Assign openforpickup label
3. Log in from user sdguntcqagithub and assign it
4. From sdgun user add tcx_canceled and remove tcx_assigned label
5. And close the issue

Examples:
https://github.com/jmgasper/TCX-Test4/issues/23
https://github.com/jmgasper/TCX-Test4/issues/25
https://github.com/jmgasper/TCX-Test4/issues/26

Then it shows the below commen

[2020-12-23 07:27] sdgun opened #362 "Reopening is opening the closed challenge but there is no comment on it on the git issue, and when it is closed the challenge is not getting closed"
**Steps**

- Create a new issue and close it using the proper steps(Go through the labelling Openforpickup >> Assigned >> Readyforreview >> FixAccepted >> and close it)
- Now Reopen the issue by adjusting the labels (The challenge will also be opened after this step, but there's no comment on the issue on it)
- Again go through the same process and close the issue

After closing the issue second t

[2020-12-23 07:36] sdgun opened #363 "Error when opening the views in the Dashboard"
**Steps**
Go to https://x.topcoder-dev.com/
In the Dashboard page, click on the available views(ex- Ready for review, Open for pick up etc)

Getting below error in in Assigned and Open for pick up views

![image](https://user-images.githubusercontent.com/4592712/102971686-cff25500-451f-11eb-9db8-c8f5ff61f3d6.png)

[2020-12-23 08:46] sdgun opened #364 "The <p></p> tags are displayed in the challenge overview"
**Steps**
After creating an issue with openforpickup label, check the newly created challenge page

The <p></p> tags are displayed in the challenge overview

![image](https://user-images.githubusercontent.com/4592712/102977735-6b3bf800-4529-11eb-948e-8481d6bb489c.png)

[2020-12-23 09:02] sdgun opened #365 "Error in refreshing the token"
**Steps**
While working in topcoder-x app, the Dashboard views stopped showing data and observed the below error in console

![image](https://user-images.githubusercontent.com/4592712/102978830-244f0200-452b-11eb-8ff7-4a8ea9bbbf6e.png)

After refreshing the page noticed the user is changed

![image](https://user-images.githubusercontent.com/4592712/102979396-033ae100-452c-11eb-82ff-a34400b88a8e.pn

[2020-12-23 09:19] sdgun opened #366 "Error when recreating an issue"
**Steps**
Go to https://x.topcoder-dev.com/#!/app/projects
Click Manage >> Click recreate issue
Add the issue url
Select Recreate checkbox
Click Ok

Throws the below error:

![image](https://user-images.githubusercontent.com/4592712/102980580-cec82480-452d-11eb-8b01-e2a837a43f4c.png)

![image](https://user-images.githubusercontent.com/4592712/102980759-09ca5800-452e-11eb-9c5e-dd175a3be87a.png)

[2020-12-23 09:26] sdgun opened #367 "'Hours assigned' value is incorrect in the dashboard"
**Steps**
Go to https://x.topcoder-dev.com/
Go to Dashboard
Check the Hours assigned value on the issues

The value is incorrect

![image](https://user-images.githubusercontent.com/4592712/102981470-fff52480-452e-11eb-8d4c-4214cea39af5.png)

[2020-12-23 10:24] sdgun opened #368 "After social login(Github) sign up, the topcoder-x is not loading"
**Steps**
Go to https://x.topcoder-dev.com/
Click Github icon
Authorize the app
Enter the details
Click Activation email

Shows the below error, do not load the app:

![image](https://user-images.githubusercontent.com/4592712/102986572-10110200-4537-11eb-9fb9-b2d1a2fe32ab.png)

[2020-12-23 13:16] sdgun opened #369 "When sign up a user and try to log in from that user, the sign in screen is shown again. Same issue with google sign in"
**Steps**
Go to https://x.topcoder-dev.com/
Click Sign up and sign up for a new account
After sign up, click the activation email
Log in from the newly created user

the sign in screen is shown again

[Screencast 2020-12-23.zip](https://github.com/topcoder-platform/topcoder-x-ui/files/5735509/Screencast.2020-12-23.zip)

When trying to sign in from a google account after a successful google account

[2020-12-23 13:18] sdgun commented on #369
Please ignore, my mistake

[2020-12-23 14:11] sdgun opened #370 "The successfully updated message which is displayed after updating projects, disappears quickly"
**Steps**
Go to https://x.topcoder-dev.com/
Go to Project Management
Modify a project and save

The successfully updated message which is displayed after updating projects, disappears quickly

[Screencast 2020-12-23.zip](https://github.com/topcoder-platform/topcoder-x-ui/files/5735597/Screencast.2020-12-23.zip)

[2021-01-03 01:42] jmgasper commented on #342
Contest https://www.topcoder.com/challenges/30161054 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-03 01:42] #347 closed

[2021-01-03 01:42] #346 closed

[2021-01-03 01:42] #359 closed

[2021-01-03 01:43] jmgasper commented on #361
Contest https://www.topcoder.com/challenges/30161055 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-03 01:44] jmgasper commented on #364
Contest https://www.topcoder.com/challenges/30161056 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-03 01:44] jmgasper commented on #364
The new v5 challenge API supports markdown, so we can use that instead of converting to HTML

[2021-01-03 01:44] jmgasper commented on #365
Contest https://www.topcoder.com/challenges/30161057 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-03 01:44] jmgasper commented on #366
Contest https://www.topcoder.com/challenges/30161058 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-03 01:45] jmgasper commented on #367
We're going to ignore the dashboard for now - likely going to be removed altogether when we move to MFE

[2021-01-03 01:45] #367 closed

[2021-01-03 01:45] jmgasper commented on #368
Contest https://www.topcoder.com/challenges/30161059 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-03 01:45] jmgasper commented on #370
Contest https://www.topcoder.com/challenges/30161060 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-03 01:46] jmgasper commented on #326
Contest https://www.topcoder.com/challenges/30161061 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-03 01:46] jmgasper commented on #350
Contest https://www.topcoder.com/challenges/30161062 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-03 01:46] jmgasper commented on #356
Just need to test with the latest Auth0 changes

[2021-01-03 01:46] jmgasper commented on #356
Contest https://www.topcoder.com/challenges/30161063 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-03 01:47] jmgasper commented on #343
Covering in #361

[2021-01-03 01:47] #343 closed

[2021-01-03 01:47] jmgasper commented on #361
Please ensure that this is tested and debugged so that it works properly.

We need to ensure:

* That the `tcx_Cancelled` label is added by the UI when a new project is created, for both Gitlab and Github
* Setting label `tcx_Cancelled` and closing a ticket should cancel the backing Topcoder challenge and post a comment back to the ticket like `Challenge <id> has been cancelled`.
* If a user reope

[2021-01-06 13:09] draco-malfoy commented on #370
@jmgasper Can I assign this to myself?

[2021-01-06 19:46] jmgasper commented on #370
@draco-malfoy - No, this is now part of a challenge.

[2021-01-19 02:05] #356 closed

[2021-01-19 02:06] #342 closed

[2021-01-19 02:09] #350 closed

[2021-01-19 02:12] #326 closed

[2021-01-19 03:51] sdgun commented on #370
Verified, the message is displayed until the changes are saved.

[2021-01-19 04:49] sdgun commented on #364
Verified, this issue is fixed now.

![image](https://user-images.githubusercontent.com/4592712/104989166-d81ab300-5a3f-11eb-8b35-58c5780d766c.png)

[2021-01-19 05:34] sdgun commented on #365
Verified, this issue is fixed now, didn't observe any data loading issues or errors again.

[2021-01-19 07:24] sdgun commented on #361
Verified, cancelling cancels the challenge and when reopening it by assigning tcx_OpenForPickup, a new challenge is created.

[2021-01-19 09:07] sdgun commented on #366
Verified, recreating is not throwing errors and it is creating a new challenge for the given issue.

[2021-01-19 10:33] sdgun commented on #368
@jmgasper This issue is not fully fixed, now when click the activation link, again the user is taken into login page and when user click on github icon it opens the login page again.

[Screencast 2021-01-19.zip](https://github.com/topcoder-platform/topcoder-x-ui/files/5835302/Screencast.2021-01-19.zip)

[2021-01-22 04:27] #360 closed

[2021-01-22 04:27] #361 closed

[2021-01-22 04:27] #364 closed

[2021-01-22 04:27] #365 closed

[2021-01-22 04:27] #366 closed

[2021-01-22 04:27] #370 closed

[2021-01-22 04:28] jmgasper opened #371 "V3 API usage for member GET"
We are using the v3 API to pull the user's ID based on their handle.  This can be updated to use the v5 API now that it's available.

[code]

[2021-01-22 04:31] jmgasper opened #372 "Configuration cleanup"
We need to greatly clarify the configuration across all 3 apps:

* Topcoder-x-receiver
* Topcoder-x-processor
* Topcoder-x-ui

### Remove unused values

Any unused values need to be removed from the config / default.js and completely removed from the README.md that describes the configuration

### Remove environment settings

The Topcoder-X-UI has all sorts of strange values and setups for dev vs.

[2021-01-22 04:41] jmgasper opened #373 "[$1] Test"
Test

[2021-01-22 04:41] jmgasper commented on #373
Challenge https://www.topcoder.com/challenges/2935ef12-5848-4a4f-857f-d283ea35e2c1 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 04:42] jmgasper commented on #373
Challenge https://www.topcoder.com/challenges/2935ef12-5848-4a4f-857f-d283ea35e2c1 has been assigned to Ghostar.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 04:42] #373 closed

[2021-01-22 04:42] jmgasper commented on #373
Payment task has been updated: https://www.topcoder.com/challenges/2935ef12-5848-4a4f-857f-d283ea35e2c1
*Payments Complete*
Winner: Ghostar
Challenge `2935ef12-5848-4a4f-857f-d283ea35e2c1` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 04:43] jmgasper opened #374 "[$1] Test"
Test

[2021-01-22 04:43] jmgasper commented on #374
Challenge https://www.topcoder.com/challenges/63d125c4-38f3-4b4f-a1f6-3f97541f42c9 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 04:43] jmgasper commented on #374
Challenge https://www.topcoder.com/challenges/63d125c4-38f3-4b4f-a1f6-3f97541f42c9 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 04:43] #374 closed

[2021-01-22 04:43] jmgasper commented on #374
Payment task has been updated: https://www.topcoder.com/challenges/63d125c4-38f3-4b4f-a1f6-3f97541f42c9
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar
Challenge `63d125c4-38f3-4b4f-a1f6-3f97541f42c9` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 08:55] jmgasper opened #375 "[$1] Test"
Test

[2021-01-22 08:55] jmgasper commented on #375
Challenge https://www.topcoder.com/challenges/9d44fb6a-3e1f-4174-97bb-1123ff5842de has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 08:56] jmgasper commented on #375
Challenge https://www.topcoder.com/challenges/9d44fb6a-3e1f-4174-97bb-1123ff5842de has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 09:10] #375 closed

[2021-01-22 09:10] jmgasper commented on #375
Payment task has been updated: https://www.topcoder.com/challenges/9d44fb6a-3e1f-4174-97bb-1123ff5842de
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar
Challenge `9d44fb6a-3e1f-4174-97bb-1123ff5842de` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 09:17] jmgasper opened #376 "[$1] Test 2"
Test 2

[2021-01-22 09:17] jmgasper commented on #376
Challenge https://www.topcoder.com/challenges/2ea71808-06a6-4340-9f82-2acf7bdc7fd7 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 09:18] jmgasper commented on #376
Challenge https://www.topcoder.com/challenges/2ea71808-06a6-4340-9f82-2acf7bdc7fd7 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 09:18] #376 closed

[2021-01-22 09:18] jmgasper commented on #376
Payment task has been updated: https://www.topcoder.com/challenges/2ea71808-06a6-4340-9f82-2acf7bdc7fd7
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar
Challenge `2ea71808-06a6-4340-9f82-2acf7bdc7fd7` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 09:20] jmgasper opened #377 "[$1] Test 3"
Test

[2021-01-22 09:20] jmgasper commented on #377
Challenge https://www.topcoder.com/challenges/b041b43f-5fee-4619-a37d-427ad45a69da has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-01-22 09:21] jmgasper commented on #377
Challenge https://www.topcoder.com/challenges/b041b43f-5fee-4619-a37d-427ad45a69da has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-01-22 09:21] #377 closed

[2021-01-22 09:21] jmgasper commented on #377
Payment task has been updated: https://www.topcoder.com/challenges/b041b43f-5fee-4619-a37d-427ad45a69da
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `b041b43f-5fee-4619-a37d-427ad45a69da` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-01-23 01:06] jmgasper commented on #369
@sdgun - I think this is because the new user isn't a copilot.  The Topcoder-X tool is only accessible to copilot users.

[2021-01-23 09:21] maxceem opened #378 "Add column showing if copilot payment is enabled"
The new feature indicating if copilot payment is enabled or no is great!

![image](https://user-images.githubusercontent.com/146016/105574365-bfc2d500-5d6c-11eb-9753-b42beb2ce03e.png)

Previously to indicate for myself if copilot payment is enabled or no I had to rename to project to something like `Work Manager (no copilot)`. As now we have explicit indicator, it would be great to show in the lis

[2021-01-24 02:14] jmgasper commented on #378
I like this - we'll implement it, thanks!

[2021-01-25 04:47] sdgun commented on #369
@jmgasper I think testing on sign up is totally irrelevant here then.

[2021-01-25 05:02] #369 closed

[2021-01-27 05:59] jmgasper opened #379 "Failing Github access link"
The Github access link flow is failing.

Reported:

![image-2](https://user-images.githubusercontent.com/21790/105949604-0a23b900-60c1-11eb-91b2-b22ae8539c84.png)

### Challenge testing

For this challenge you **MUST** fully test the Github flow.

### Challenge documentation

The security setup for groups is a bit weird on Github vs. Gitlab.  For this February 2021 challenge, please add a new `.md

[2021-01-27 22:08] jmgasper opened #380 "[$1] Test"
Test

[2021-01-27 22:08] jmgasper commented on #380
Challenge https://www.topcoder.com/challenges/321f55dc-a27d-4694-94ae-b7a9fd91de0a has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-01-27 22:09] jmgasper opened #381 "[$2] Test"
Test

[2021-01-27 22:10] jmgasper commented on #381
Challenge https://www.topcoder.com/challenges/81b96029-ba4d-4556-a6c2-9b99b771d684 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-01-27 22:15] jmgasper commented on #380
Challenge https://www.topcoder.com/challenges/01d09f12-387e-4be1-bf90-b108c0dfc46d has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-01-29 05:37] #380 closed

[2021-01-29 05:37] #381 closed

[2021-01-29 05:37] jmgasper commented on #380
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-01-29 05:37] jmgasper commented on #381
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-01-29 05:38] jmgasper opened #382 "Check merge request to make sure it doesn't break anything"
This one is open, but I've been hesitant to merge it just in case it breaks something.  Let's test it as part of this challenge to make sure it's safe.

https://github.com/topcoder-platform/topcoder-x-ui/pull/339

[2021-01-29 05:40] jmgasper opened #383 "Test Gitlab access links"
To go along with #379, we need to fully test the generation and flow of Gitlab access links to make sure they work properly.

Please include the steps tested in your validation.md.  If you find any bugs, please fix them as part of the challenge.

[2021-01-29 05:43] jmgasper opened #384 "Topcoder X Git repo URL Collisions"
https://github.com/topcoder-platform/topcoder-x-processor/blob/develop/services/IssueService.js#L111

That function gets the project based on the url. It gets the first one…. There’s no filter on the archived flag and if there are two active, it’ll be even worse.

- [x] The processor needs to be updated to filter on `archived: false` flag when it gets the project from Dynamo
- [x] The API needs to

[2021-01-30 01:32] jmgasper commented on #379
Logs from the production instance that may help:

[code]

[2021-02-03 22:34] jmgasper opened #385 "Don't update challenge after it's marked completed"
We've had a couple cases recently where challenges are being mishandled after they've been completed.  This is likely due to something failing earlier in the process and then a retry is spawned that comes in after another process has completed the challenge, causing things to become confused in the system.

Here's an example, where an assignee was removed *after* the payment was complete.

![image

[2021-02-04 21:19] jmgasper opened #386 "Remove Mongo --> Dynamo migration code and env vars"
We have successfully migrated to DynamoDB in both dev and prod.  We can now remove:

* Any code specific to Mongo
* Any migration scripts and code
* Any Mongo env vars or env vars used only by the migration scripts

[2021-02-04 21:21] jmgasper opened #387 "Update READMEs and Topcoder-X user guide"
All 3 READMEs need to be updated to ensure they are current:

* https://github.com/topcoder-platform/topcoder-x-ui/blob/develop/README.md
* https://github.com/topcoder-platform/topcoder-x-receiver/blob/develop/README.md
* https://github.com/topcoder-platform/topcoder-x-processor/blob/develop/README.md

### Badges

We've been asked to add build status badges like we do in the challenge API:

https:

[2021-02-08 23:35] #371 closed

[2021-02-08 23:35] #372 closed

[2021-02-08 23:36] #378 closed

[2021-02-08 23:41] #382 closed

[2021-02-11 01:30] #384 closed

[2021-02-11 09:12] sdgun commented on #378
Verified in Dev, the indicator is displayed correct when Create Copilot Payments? is selected and not selected.

[2021-02-11 10:42] sdgun commented on #384
Verified creating projects for a repo which is used in not archived project, the error message is shown as expected.

![image](https://user-images.githubusercontent.com/4592712/107626555-fdd45a00-6c83-11eb-848b-30dc83141ca1.png)

[2021-02-15 01:41] #368 closed

[2021-02-17 10:58] kylewu opened #388 "Lable tcx_Paid is added but no payment was made"
![-3-Removal-form-Member-Date-of-birth-Two-validations-shown-only-one-is-required-·-Issue-243-·-tc-wellmark-personal-rep-ui](https://user-images.githubusercontent.com/180198/108194714-3c03ca80-7117-11eb-92be-05b1bdcf8777.png)

I have checked in OR, the challenge has no submitter.
[code]

[2021-02-17 20:56] jmgasper commented on #388
@kylewu - When was this challenge created?

@rootelement - Seems like there's still trouble syncing the assignee?

[2021-02-17 22:39] kylewu commented on #388
@jmgasper "started 02.12.2021 17:30 EST"

Submission phase is still open now.

https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30167699

[2021-02-17 22:41] jmgasper commented on #388
@kylewu - I can't access that challenge, but I'm guessing that submission phase is still open because there's no submitter.  If you add a submitter manually in OR, and then close it in Direct, it'll probably fix the issue.

[2021-02-18 08:37] kylewu commented on #388
@jmgasper right. it's fixed. thank you

[2021-02-18 08:37] #388 closed

[2021-02-19 10:34] rootelement opened #389 "Pure V5 Task - Copilot Payment with No Copilot Assigned"
Found this on your test repo, but it's a real case. I guess the project has no copilot? Either way, I created this TCX issue:
https://github.com/jmgasper/TCX-Test4/issues/54, opened it, assigned it, and closed it out. In WM, i see:

![Screen Shot 2021-02-19 at 5 08 10 AM](https://user-images.githubusercontent.com/5400156/108490382-b2681000-7270-11eb-864f-d113854b7485.png)

Which shows a copilot pa

[2021-02-20 01:18] jmgasper commented on #389
@rootelement - This doesn't make much sense to me.  I see the copilot in `/v5/resources` for https://api.topcoder-dev.com/v5/resources?challengeId=649a90da-7b43-4560-8ccc-ba3ce1ee5f00

(copilot is `sdgun`, and the role ID looks correct)

But, it's not showing up in WM?

[2021-02-20 01:19] jmgasper commented on #389
Could this be a problem in WM?  Looks like it got into PACTs correctly.  I tried with a different copilot (`sdgun`), just to see if it was a problem with the TonyJ user, but saw the same thing.

[2021-02-22 21:24] #379 closed

[2021-02-22 21:24] #383 closed

[2021-03-09 21:54] jmgasper opened #390 "Remove delay when closing tasks"
Currently we have a 30 second delay built in to allow the legacy processor to "catch up" when closing out a task.  That is no longer needed and can be removed

[2021-04-06 21:51] jmgasper opened #391 "Duplicate created when reopening"
Interesting bug in TCX today:

1. Created an issue with a title/price and added label OpenForPickup
2. I added you as the assignee
3. I closed the issue without adding Fix Accepted
4. TCX said it wasn’t paid out because the Fix Accepted label wasn’t added
5. I reopened it, Added the Fix Accepted Issue, and Closed it (pretty quickly)
6. TCX created a new issue
7. I reopened the issue, removed Fix A

[2021-04-07 18:05] anonymousjaggu commented on #391
@jmgasper I have also faced this issue

https://user-images.githubusercontent.com/31332424/113913363-f6e94400-97fb-11eb-82f2-ab51d238bad8.mp4

[2021-04-21 05:27] jmgasper opened #392 "Add links for Git access groups"
On the Git access groups tabs for Github and Gitlab, we have the names of groups and organisations shown.  To make this more useful, it would be nice if these were links that opened a new tab with the actual Gitlab / Github group or organisation shown.
<img width="1394" alt="Screen_Shot_2021-04-21_at_3_27_31_pm" src="https://user-images.githubusercontent.com/21790/115501219-1f6e4500-a2b6-11eb-8f40

[2021-04-21 05:42] jmgasper opened #393 "Add description to git access pages"
There's been some problems with users not having the correct access rights to generate Git links, but Topcoder-X isn't clear what rights are required.  For instance, the user must be `Owner` on Gitlab.  We need to add some text to the git access link page to ensure that user's know what rights are required:

<img width="1394" alt="Screen_Shot_2021-04-21_at_3_41_26_pm" src="https://user-images.gith

[2021-05-12 00:41] jmgasper opened #395 "Git access link issues"
Sporadic issues seen with git access links over the last couple months:

### Issue 1:

Saw this with a Github link:

[code]

With these:

[code]

### Issue 2:

Seen with a Gitlab link.  We don't know *why* the request was bad.

[code]

### Issue 3:

The flow to link to Github is confusing and we need clear documentation on how to set up a group and repo to be able to use a git access link successf

[2021-05-25 21:21] jmgasper opened #396 "[$250] DynamoDB Timeout"
@afrisalyp - We're seeing timeouts now in other operations (not just git access links).  See below for a log when a user tried to archive a project.

What we're thinking is that:

1.  Maybe we should use `query` instead of `scanOne`?
2. Are the indices correct for how we are querying / scanning?  I see we have an index on `tcDirectId`, but do we need any other indices to speed things up?

From @ro

[2021-05-25 21:21] jmgasper commented on #396
Challenge https://www.topcoder.com/challenges/632ec9db-e0e6-46d6-8db2-5141f72c2e08 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-05-25 21:21] jmgasper commented on #396
Challenge https://www.topcoder.com/challenges/632ec9db-e0e6-46d6-8db2-5141f72c2e08 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-05-25 21:47] jmgasper opened #397 "Optimise DynamoDB usage"
We're starting to see problems (timeouts and other problems) with our DynamoDB usage, and a lot of that stems from how we migrated from MongoDB, I think.  Stuff that worked well in Mongo may not be working well with DynamoDB.

Specifically:

1.  We use `scanOne` a lot when `query` may be better
2. Indices may not be properly defined
3. https://github.com/topcoder-platform/topcoder-x-ui/blob/develo

[2021-05-26 22:12] jmgasper opened #398 "Wrong user shown in comments (archived project issue)"
### Setup

In production, there are two projects registered for the repo https://github.com/topcoder-platform/challenge-api.

One is archived, and one is not

### Problem
When creating a new ticket, the comments are coming from the user / copilot associated with the **archived** project, not the other one.

### Fix
When selecting a project when handling incoming requests, we need to make sure to a

[2021-05-26 22:47] jmgasper opened #399 "Internal reviewer"
### Problem

Currently, challenges created by Topcoder-X can't be edited in work manager (challenges.topcoder-dev.com)

### Solution

We need to add an internal reviewer to tasks created by Topcoder-X.  The internal reviewer can be set to the copilot on the Topcoder-X project.

[2021-05-26 22:48] jmgasper opened #400 "Tags no longer required"
Tags are no longer required on tasks.  We can remove the tags array and the `Other` entry we have in there now.

[2021-05-27 04:49] #389 closed

[2021-05-27 04:49] #390 closed

[2021-05-27 04:51] #393 closed

[2021-05-27 04:51] #392 closed

[2021-05-27 04:52] #395 closed

[2021-05-27 04:53] #362 closed

[2021-05-27 04:53] #363 closed

[2021-05-27 21:33] jmgasper opened #401 "[$50] Git access issue"
@afrisalyp - One more that popped up today in production (without your recent changes deployed):

Topcoder-X link is giving error when using the Github access link:

[code]

### Standards

https://platform.topcoder-dev.com/model/help/copilots-link

[2021-05-27 21:33] jmgasper commented on #401
Challenge https://www.topcoder.com/challenges/6f8a12c1-357c-4dc1-a09a-0322f7e374ee has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-05-27 21:34] jmgasper commented on #401
Challenge https://www.topcoder.com/challenges/6f8a12c1-357c-4dc1-a09a-0322f7e374ee has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-05-28 16:21] afrisalyp commented on #396
@jmgasper

I'm not sure that changing to `query` will solve this issue. Both of the methods calls waitForActive function in dynamoose lib

https://github.com/dynamoose/dynamoose/blob/v1.11.1/lib/Scan.js#L312

https://github.com/dynamoose/dynamoose/blob/v1.11.1/lib/Query.js#L302

But I agree that it's better to migrate to use `query`. I remember that we've tried to address it.

https://github.com/t

[2021-05-28 16:28] afrisalyp commented on #396
Abiut the error `Error: Wait for Active timed out after 180000 ms.`

I think it's possible that the error came either from the dynamodb server or from the dynamoose library since we're using old version of dynamoose v 1.

Any idea?

[2021-05-30 04:47] afrisalyp commented on #391
@jmgasper

When we close an issue without `tcx_FixAccepted`, we'll update the challenge with `Canceled` status.
And we won't use the record again if we re-open the issue. So that's why topcoder-x will create a new challenge.
That's the current behaviour.

There are three conditions that lead to the cancellation process after closing an issue:

1. The issue has no `tcx_FixAccepted`.
2. No price or

[2021-05-30 05:15] jmgasper commented on #391
Can we remove condition #1?

[2021-05-30 05:37] afrisalyp commented on #391
@jmgasper

Sure. Thanks.

[2021-05-30 05:42] jmgasper commented on #396
@afrisalyp - How much effort would it be to update to a newer version of Dynamoose?

[2021-05-31 14:13] afrisalyp commented on #385
@jmgasper

Any available Topcoder Connect ID that we can use?
It seems 7377 and 16665 is not valid anymore.

[2021-05-31 14:19] afrisalyp commented on #399
@jmgasper

How do we add the internal reviewer data into the topcoder challenge?

Can we use the POST `/resources` API?

[2021-05-31 14:30] afrisalyp commented on #396
Seems pretty complex https://dynamoosejs.com/other/FAQ/#how-do-i-migrate-from-v1-to-v2

Btw do we have other Topcoder services that run DynamoDB and dynamoose?

[2021-05-31 21:34] jmgasper commented on #385
@afrisalyp - Sorry for the trouble.  Try 17249

[2021-05-31 21:40] jmgasper commented on #399
Yes, we should use the POST to `/resources`

You can get the roles available from `GET https://api.topcoder-dev.com/v5/resource-roles`

And we can configure the role ID, similar to what we already for things like the copilot role.

For this, let's set the copilot as the `iterative reviewer` role.

[2021-05-31 21:41] jmgasper commented on #396
I'll ask.

[2021-06-01 00:02] afrisalyp commented on #385
@jmgasper

When payment processing is completed, we mark the DB record status to `challenge_payment_successful`.

Can we use that flag instead of fetching the challenge status from Topcoder API for every issue event processing?

[2021-06-01 00:17] jmgasper commented on #385
@afrisalyp - Yes, that should be fine.

[2021-06-01 04:24] afrisalyp commented on #397
@jmgasper

1. Seems we still need the `all()` feature, it will make sure that we will continue the operation to find the data if we got operation limit.

This statement is from https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html

We add the `add()` feature in the past to fix the confusing query problem. https://github.com/topcoder-platform/topcoder-x-ui/issues/256#issueco

[2021-06-01 04:53] jmgasper commented on #397
1.  Ok, we can leave that in
2. That'll be fine, thanks
3. Let's do `queryOne` and add the indices, thanks!

[2021-06-01 14:30] rootelement commented on #396
Everything in v5 uses Dynamoose 1, but most other services that require any
sort of query have Elasticsearch in front of Dynamoose and the searching is
done against that ES index.

On Mon, May 31, 2021 at 5:41 PM Justin Gasper ***@***.***>
wrote:

[2021-06-01 16:14] rootelement commented on #396
I haven't looked closely at the code, but what I do believe is that the problem stems from us not using properly defined hash and range keys, and using a generic "get model" function in the code. I think if we switched to Query and use a range key defined on the project id, some of this would get a lot faster, but again, not an expert and not positive i'm using the correct vocabulary.

Looking in

[2021-06-01 21:19] jmgasper commented on #396
@afrisalyp - Please see above.  Note that we use dynamoose 2.3 in this API (which is being deprecated):  https://github.com/topcoder-platform/evernym-api

[2021-06-04 03:54] jmgasper opened #402 "[$25] NPM script target for applying indices"
@afrisalyp - Can we add an `npm` target to the package.json to add the indices please?  I think that'll help with deployment, thanks.

[2021-06-04 03:54] jmgasper commented on #402
Challenge https://www.topcoder.com/challenges/219ddfbd-3057-4a82-a60a-cfd29c7bbee5 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-04 03:55] jmgasper commented on #402
Challenge https://www.topcoder.com/challenges/219ddfbd-3057-4a82-a60a-cfd29c7bbee5 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-04 06:34] afrisalyp commented on #402
@jmgasper

Does it mean that we will add npm script command to automatically export CREATE_DB=true?

[2021-06-04 06:59] jmgasper commented on #402
@afrisalyp - Ideally, it would just be something like `npm create_indices` that would go through and create the necessary indices.  Is that something that's possible?

[2021-06-04 09:41] afrisalyp commented on #402
@jmgasper

It turns out that we have already that command.
We can execute `npm run create-tables` to create new tables or to update table indices.

[2021-06-04 21:56] jmgasper commented on #402
Perfect, thanks!

[2021-06-04 21:56] #402 closed

[2021-06-04 21:56] jmgasper commented on #402
Payment task has been updated: https://www.topcoder.com/challenges/219ddfbd-3057-4a82-a60a-cfd29c7bbee5
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `219ddfbd-3057-4a82-a60a-cfd29c7bbee5` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-07 02:43] afrisalyp commented on #396
@jmgasper @rootelement

Hi,

One important thing that is missed in my challenge submission is cleaning up the unused indexes.
I've raised PRs to fix this.

To summarize, here is the list of indexes that we use.

### Project

| Index Name        | Key           | Type  | Range Key |
| ------------- |-------------| -----| -- |
| RepoUrlIndex      | repoUrl | String | archived |

### Issue

| Index N

[2021-06-07 21:45] #385 closed

[2021-06-07 21:45] #386 closed

[2021-06-07 21:45] #387 closed

[2021-06-07 21:45] #391 closed

[2021-06-07 21:45] #397 closed

[2021-06-07 21:45] #398 closed

[2021-06-07 21:45] #399 closed

[2021-06-07 21:45] #400 closed

[2021-06-08 05:54] jmgasper commented on #396
@afrisalyp - Thanks for that.  Will this address the timeout / issue noted above?

[2021-06-08 11:21] afrisalyp commented on #396
@jmgasper

Yes. Too many indexes seem likely to cause this issue.

The error message indicates that the table or one of the indexes is not in "Active" status. I have no idea why they become not "Active" suddenly. Maybe dynamodb did some optimization process.

But reducing the number of indexes will decrease the chance of this issue.

[2021-06-08 22:11] #396 closed

[2021-06-08 22:12] jmgasper commented on #396
Payment task has been updated: https://www.topcoder.com/challenges/632ec9db-e0e6-46d6-8db2-5141f72c2e08
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `632ec9db-e0e6-46d6-8db2-5141f72c2e08` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-16 02:42] jmgasper opened #405 "[$1] Test deploy 1"
Testing 1,2,3

[2021-06-16 04:37] #405 closed

[2021-06-16 04:37] jmgasper opened #406 "[$1] Test deploy 2"
Test 1,2,3

[2021-06-16 04:39] jmgasper opened #407 "[$1] Test deploy 3"
Test 1,2,32

[2021-06-16 04:53] jmgasper opened #408 "[$1] Test deploy 4"
Test 1,2,3

[2021-06-16 05:00] jmgasper opened #409 "[$1] Test deploy 5"
Test 1,2,3

[2021-06-16 05:00] jmgasper commented on #409
Challenge https://www.topcoder.com/challenges/d9ccc5b0-046e-4159-9fa7-88295901b5d8 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-16 05:01] jmgasper commented on #409
Challenge https://www.topcoder.com/challenges/d9ccc5b0-046e-4159-9fa7-88295901b5d8 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-16 05:01] #409 closed

[2021-06-16 05:01] jmgasper commented on #409
Payment task has been updated: https://www.topcoder.com/challenges/d9ccc5b0-046e-4159-9fa7-88295901b5d8
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `d9ccc5b0-046e-4159-9fa7-88295901b5d8` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-16 05:02] jmgasper opened #410 "[$100] Topcoder-X deployment debugging help"
As discussed on Slack - help with debugging broken indices.

[2021-06-16 05:02] jmgasper commented on #410
Challenge https://www.topcoder.com/challenges/932b7083-e7f7-4175-bbbd-53a7908056f3 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-16 05:03] jmgasper commented on #410
Challenge https://www.topcoder.com/challenges/932b7083-e7f7-4175-bbbd-53a7908056f3 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-16 05:03] #410 closed

[2021-06-16 05:03] jmgasper commented on #410
Payment task has been updated: https://www.topcoder.com/challenges/932b7083-e7f7-4175-bbbd-53a7908056f3
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `932b7083-e7f7-4175-bbbd-53a7908056f3` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-16 05:08] #406 closed

[2021-06-16 05:08] #407 closed

[2021-06-16 05:09] #408 closed

[2021-06-17 11:22] maxceem commented on #401
@jmgasper I've tried already several members and neither of them can register themself since long time ago.

I've asked to retry them today after the recent big updated, but it still doesn't work.

One member already tried and he gets error:
[code]

[2021-06-17 11:29] jmgasper commented on #401
@maxceem - Can you send me the generated URL please?  You can email me at jmgasper@gmail.com to not share it publicly, thanks.

[2021-06-17 11:30] jmgasper commented on #401
Also, did you regenerate the UI after the latest deploy?

[2021-06-17 11:37] maxceem commented on #401
Thanks for looking into it @jmgasper.

Yes, I've just generated this link today.

I've send you email.

Btw, I wonder if it's possible for the member to associate his Topcoder handle with GitHub handle without joining any team? In case I just want to use TCX for payments, but I don't want to share any access to the users (assign them manually).

[2021-06-17 11:39] jmgasper commented on #401
1.  Thanks - I'll look into this more tomorrow
2. Currently no, there's no good way to associate a Github handle to a Topcoder user.  I had discussed this with Topcoder a month or two ago by using the Topcoder profile functionality, but they decided against it.

[2021-06-17 19:08] jmgasper opened #411 "[$50] Latest git access issue"
@jmgasper I've tried already several members and neither of them can register themself since long time ago.

I've asked to retry them today after the recent big updated, but it still doesn't work.

One member already tried and he gets error:
[code]

[2021-06-17 19:09] jmgasper commented on #411
Challenge https://www.topcoder.com/challenges/04be66e7-87df-4802-ae45-7b0512818ba9 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-17 19:09] jmgasper commented on #411
Challenge https://www.topcoder.com/challenges/04be66e7-87df-4802-ae45-7b0512818ba9 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-17 19:22] jmgasper opened #412 "[$25] Label indices needed / not needed"
@afrisalyp - Below is a list of the indices in prod.  Can you go through and outline which ones are missing and which ones aren't needed please?  We'll work to apply the changes, thanks.

[TCX Indices.xlsx](https://github.com/topcoder-platform/topcoder-x-ui/files/6672730/TCX.Indices.xlsx)

[2021-06-17 19:22] jmgasper commented on #412
Challenge https://www.topcoder.com/challenges/f55c0092-fc61-4db0-b0f0-489be137e698 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-17 19:22] jmgasper commented on #412
Challenge https://www.topcoder.com/challenges/f55c0092-fc61-4db0-b0f0-489be137e698 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-18 03:26] afrisalyp commented on #411
![Screenshot 2021-06-18 10:17:50](https://user-images.githubusercontent.com/8887344/122501271-8b52fc80-d01e-11eb-9d22-1eb47082a6a1.png)

@jmgasper

The only request that can cause 422 error that I found so far is inviting a Github Organization into a team.

But unfortunately, `MadOPcode` and `chtbharti` are valid Github users.

Can anyone who has access to the team please try to execute PUT https:

[2021-06-18 04:01] afrisalyp commented on #411
@jmgasper

Also, do you able to invite the user into the team manually?

[2021-06-18 04:13] jmgasper commented on #411
@maxceem - Can you check the above please?

[2021-06-18 06:19] maxceem commented on #411
Nice catch, somehow I cannot invite members to this team:

![image](https://user-images.githubusercontent.com/146016/122515418-18458800-d016-11eb-8617-34b6d47adff6.png)

@jmgasper is there any specific way we should create these teams for members?

[2021-06-18 10:38] afrisalyp commented on #412
@jmgasper

[TCX.Indices.xlsx](https://github.com/topcoder-platform/topcoder-x-ui/files/6676442/TCX.Indices.xlsx)

Attached is the updated table.

[2021-06-18 20:53] #412 closed

[2021-06-18 20:53] jmgasper commented on #412
Payment task has been updated: https://www.topcoder.com/challenges/f55c0092-fc61-4db0-b0f0-489be137e698
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `f55c0092-fc61-4db0-b0f0-489be137e698` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-24 09:07] jmgasper opened #413 "[$50] Why do we block Github owners from inviting"
@afrisalyp - I can't remember why we're blocking Github `owner` users from inviting to their owned team.  Is there a reason behind that?  Why do we only look for maintainer?

If there's no reason we can remember can we open up the check to include owner as well please?

In my testing, I created an org, but couldn't see it in TCX, likely because I'm an "owner".

[2021-06-24 09:07] jmgasper commented on #413
Challenge https://www.topcoder.com/challenges/a73084b8-314f-4087-8d5c-e0985b60d58f has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-24 09:08] jmgasper commented on #413
Challenge https://www.topcoder.com/challenges/a73084b8-314f-4087-8d5c-e0985b60d58f has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-24 09:50] afrisalyp commented on #413
@jmgasper

`Owner` is allowed to invite users.

Regarding your problem, It seems a new organization needs to be granted for third party access.
Unfortunately, I can't find a way to do it directly from the organization page.
But we can revoke our TCX access in Github user setting and connect it again.

Please try this step

Open your Github account -> setting -> Applications. Then revoke Topcoder-X

[2021-06-24 09:54] #413 closed

[2021-06-24 09:54] jmgasper commented on #413
Payment task has been updated: https://www.topcoder.com/challenges/a73084b8-314f-4087-8d5c-e0985b60d58f
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `a73084b8-314f-4087-8d5c-e0985b60d58f` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-06-30 12:56] maxceem commented on #411
@jmgasper I've tried with another user but same, I cannot add him manually even though I'm the maintainer of that team. Is there any guide on how to create a team so I could add new members?

![image](https://user-images.githubusercontent.com/146016/123963964-a6792100-d9bb-11eb-8503-bc2f0a0809b4.png)

[2021-06-30 21:39] jmgasper commented on #411
@rootelement / @cwdcwd - Any thoughts on this?  I wonder if it's inheriting weird permissions from the organisation?

[2021-07-06 23:58] jmgasper commented on #401
Opening a new ticket to deal with the organisational requirement.

[2021-07-06 23:58] #401 closed

[2021-07-06 23:58] jmgasper commented on #401
Payment task has been updated: https://www.topcoder.com/challenges/6f8a12c1-357c-4dc1-a09a-0322f7e374ee
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `6f8a12c1-357c-4dc1-a09a-0322f7e374ee` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-06 23:58] #411 closed

[2021-07-06 23:58] jmgasper commented on #411
Payment task has been updated: https://www.topcoder.com/challenges/04be66e7-87df-4802-ae45-7b0512818ba9
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `04be66e7-87df-4802-ae45-7b0512818ba9` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-07 00:11] jmgasper opened #414 "[$350] Investigate Github organisation invite functionality"
@afrisalyp - After discussing internally with Topcoder, we would like the Git link functionality for Github to also support organisation and team functionality, if possible.

We've investigated that in the past but haven't had much luck:  #111 and #294

What we would like to have happen:

_If a user hits the link to join a Github team:_

1.  Invite the user to the organisation (using a service acc

[2021-07-07 00:11] jmgasper commented on #414
Challenge https://www.topcoder.com/challenges/2b810859-ad92-416b-851a-ebf9af293ff6 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-07 00:11] jmgasper commented on #414
Challenge https://www.topcoder.com/challenges/2b810859-ad92-416b-851a-ebf9af293ff6 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-07 06:23] afrisalyp commented on #414
@jmgasper

We need organisation owner access to invite member to the org.
How do we get the owner PAT?

[2021-07-07 06:26] jmgasper commented on #414
@afrisalyp - Can we make that a configurable environment value?

[2021-07-07 06:28] afrisalyp commented on #414
@jmgasper

Sure. But that will be applicable for one organisation only.

[2021-07-07 06:28] jmgasper commented on #414
@afrisalyp - Good point.  I'll ask TC.

[2021-07-07 06:42] afrisalyp commented on #414
@jmgasper

Thanks.

[2021-07-07 22:59] jmgasper commented on #414
@afrisalyp - We'll have to add a new DynamoDB table to map PAT with organisation.  For now, we can just put something in there, for testing, but a future ticket will have to add a new page for admins to manage this mapping, thanks.

[2021-07-08 06:13] jmgasper opened #415 "Page for admins to edit user mappings"
We need an admin-only page that allows users to edit user mappings.  This will make it easier to debug and fix issues if a git link doesn't work for some reason.  We can add this new page in the left menu, for admins only, called "User Mappings"

This page should allow **ADMINS ONLY** to:

1. View all mappings of a Topcoder member name to their Gitlab and Github user names and user IDs
2. Search /

[2021-07-08 22:04] jmgasper opened #416 "[$125] Index bug"
@afrisalyp - I think we may have a bug related to the new indices added, and the git access links.

We saw one report of a user unable to use a Gitlab link, which normally has been working fine.  Their user mapping record was never properly added.

We attempted to add it manually, and were unable to because the GithubUsernameIndex was requiring a value.

We need to make sure that the indices aren'

[2021-07-08 22:04] jmgasper commented on #416
Challenge https://www.topcoder.com/challenges/c1083fbb-1c8d-46c5-93f6-685a7ac8e911 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-08 22:04] jmgasper commented on #416
Challenge https://www.topcoder.com/challenges/c1083fbb-1c8d-46c5-93f6-685a7ac8e911 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-09 00:38] afrisalyp commented on #416
@jmgasper

Sorry just noticed that we haven't test this functionality.

We put connection between topcoderUsername -> github and gitlab account in the same table (UserMapping)

But at some cases, only one connection available (topcoderUsername -> github) or (topcoderUsername -> gitlab).

Since we define indexes on all of the fields, we need to fill them all.

We have three options here.
1. Remove

[2021-07-09 00:44] jmgasper commented on #416
Let's split into two tables.  That'll make more sense, I think, and will allow us to avoid both dummy data and the removal of indices.

[2021-07-09 03:25] afrisalyp commented on #416
@jmgasper

Sure, thanks.

We will need to migrate the contents of UserMapping table into GithubUserMapping and GitlabUserMapping.
Which one do you prefer?

1. We will create a migration script.
2. We will handle migration seamlessly in runtime. So when the process needs to query but can't find the data, it will query in the old table (UserMapping), if it found, it will be stored in the new tables.

[2021-07-09 03:29] jmgasper commented on #416
Let's do a migration script, thanks.  That way we won't have data in two places and a deprecated table sitting around.

[2021-07-09 13:16] afrisalyp commented on #416
@jmgasper

Please do `npm run create-tables` to create the added tables and `npm run migrate-user-mapping` to migrate the UserMapping table to the new tables.

[2021-07-11 10:51] afrisalyp commented on #414
@jmgasper

Please make sure to execute `npm run create-tables` since we have a new table `Organisation`.

To add Organisation, we can use command:

`npm run add-organisation {OrganisationName} {OrganisationOwner} {PersonalAccessToken}`

[2021-07-11 11:13] jmgasper commented on #414
Thanks - I'm going to deploy this and mess with it tomorrow.

[2021-07-12 03:58] jmgasper commented on #416
@afrisalyp - I'm still working on testing this.  Some of the IAM permissions are a bit wonky on the dev env, so I'm reaching out to Topcoder for some help.  The migration worked properly though, so that piece looks good.

[2021-07-12 04:00] afrisalyp commented on #416
@jmgasper

Okay. Thanks for the update.

[2021-07-12 04:05] jmgasper commented on #414
@afrisalyp - Still testing this as well.  Just to be clear - `{OrganisationOwner}` is the Github username, *not* the Topcoder username, correct?

[2021-07-12 04:08] afrisalyp commented on #414
@jmgasper

Yes, the github username of the organisation owner (one who generates the PAT).

[2021-07-21 02:33] #414 closed

[2021-07-21 02:33] jmgasper commented on #414
Payment task has been updated: https://www.topcoder.com/challenges/2b810859-ad92-416b-851a-ebf9af293ff6
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `2b810859-ad92-416b-851a-ebf9af293ff6` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-21 02:33] #416 closed

[2021-07-21 02:33] jmgasper commented on #416
Payment task has been updated: https://www.topcoder.com/challenges/c1083fbb-1c8d-46c5-93f6-685a7ac8e911
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `c1083fbb-1c8d-46c5-93f6-685a7ac8e911` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-21 05:08] jmgasper opened #419 "[$1] Test prod"
Test

[2021-07-21 05:21] jmgasper opened #420 "[$1] Test prod 2"
Test

[2021-07-21 05:30] jmgasper opened #421 "[$1] Test prod 3"
Test

[2021-07-21 05:30] jmgasper commented on #421
Challenge https://www.topcoder.com/challenges/a713e8d1-88ee-41d4-819e-a1f4c7094039 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-21 05:31] jmgasper commented on #421
Challenge https://www.topcoder.com/challenges/a713e8d1-88ee-41d4-819e-a1f4c7094039 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-21 05:31] #421 closed

[2021-07-21 05:31] jmgasper commented on #421
Payment task has been updated: https://www.topcoder.com/challenges/a713e8d1-88ee-41d4-819e-a1f4c7094039
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `a713e8d1-88ee-41d4-819e-a1f4c7094039` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-22 04:29] #419 closed

[2021-07-22 04:29] #420 closed

[2021-07-22 04:29] jmgasper commented on #419
Challenge https://www.topcoder.com/challenges/8d5ee02c-f4c6-498f-a98f-f71146411685 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-22 04:29] jmgasper commented on #420
Challenge https://www.topcoder.com/challenges/69914206-0d83-422d-840d-9fe491183ac2 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-22 04:29] jmgasper commented on #419
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-22 04:29] jmgasper commented on #420
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-07-22 04:31] jmgasper opened #422 "Page for admins to add and delete PAT registration for Github groups"
Note that we recently added functionality to have PAT records added for Github organisation invitations.  See the new `Organisations` table.

To better support this functionality, and to make it easier for support to manage, we'd like to add a page that is **ONLY FOR ADMINS** so that admins can add and delete PAT records.

Admins should be able to add, delete PAT records for Github organisations.

[2021-08-12 08:07] maxceem opened #423 "[$250] Cannot create Webook"
Topcoder-X stopped working for one of my repo where it previously worked, it didn't react to assigning Topcoder-X labels. So I decided trying to re-create webhooks. First I removed existent webhook from the repo, and then I tried to create it again using Topcoder X UI, but got an error:

[code]

![image](https://user-images.githubusercontent.com/146016/129161412-27d6a0af-8172-49b4-977a-6ef53f72ae9

[2021-08-12 11:21] jmgasper commented on #423
@maxceem - What sort of access rights do you have to that repo?

[2021-08-12 11:41] maxceem commented on #423
@jmgasper I'm admin there

![image](https://user-images.githubusercontent.com/146016/129190902-f8e1ee51-ed43-473b-8739-7f1387ffceb6.png)

[2021-08-12 12:02] jmgasper commented on #423
@afrisalyp - Any idea on this one?

[2021-08-12 12:05] jmgasper opened #424 "[$200] Clean up challenge issues"
@afrisalyp - Can we address these issues please?

### Issue 1
`topcoder-x-ui/src/services/ProjectService.js, createHook` function, not implemented correctly.

The registeredWebhookId should be specific to each repo, not to project. Since the project has multiple repos, there are also multiple registeredWebhookIds for each project

### Issue 2

`topcoder-x-ui/src/services/IssueService.js, create` f

[2021-08-13 01:07] jmgasper commented on #423
@afrisalyp - I think that we're running into one of the "brown outs" listed here:

https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param

We'll need to fix this ASAP, thanks!

[2021-08-13 01:18] afrisalyp commented on #423
@jmgasper Okay, going to check it.

[2021-08-13 03:17] afrisalyp commented on #423
@jmgasper Fixes provided to support the Github API changes.

[2021-08-13 03:19] jmgasper commented on #423
@afrisalyp - Thanks!

@maxceem - This should start working again shortly, and we'll plan a production deploy for next week to apply the permanent fix.

[2021-08-13 03:26] afrisalyp commented on #423
@jmgasper The fix addresses the Github API change.

I am still investigating the problem `Failed to create webhook. 404 error making request post https://api.github.com/repos/topcoder-platform/taas-apis/hooks: "Not Found".`. Seems it is not related to the API change.

Any idea?

[2021-08-13 03:27] jmgasper commented on #423
@afrisalyp - Sorry, I just assumed it was failing because of the incorrect token approach.  I'll open up a separate ticket to keep investigating.

[2021-08-13 03:28] jmgasper opened #425 "[$50] Investigate webhook failing"
Related to #423

[2021-08-13 04:02] afrisalyp commented on #425
@jmgasper

Thanks.
Does the errer consistently appear on all projects in the prod?

[2021-08-14 00:39] jmgasper commented on #423
Challenge https://www.topcoder.com/challenges/d33759f3-21e7-457c-a042-34bf812bb1d7 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-08-14 00:39] jmgasper commented on #423
Challenge https://www.topcoder.com/challenges/d33759f3-21e7-457c-a042-34bf812bb1d7 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-08-14 00:39] jmgasper commented on #424
Challenge https://www.topcoder.com/challenges/b3718d33-0d3b-4b27-a431-756e9d3880eb has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-08-14 00:40] jmgasper commented on #424
Challenge https://www.topcoder.com/challenges/b3718d33-0d3b-4b27-a431-756e9d3880eb has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-08-14 00:40] jmgasper commented on #423
@maxceem - Can you try again now please?  I'm interested to see if this is still an issue now that the brownout is over in the Github API.

[2021-08-14 00:40] jmgasper commented on #425
Challenge https://www.topcoder.com/challenges/ecedabfb-829c-4013-925e-ffa084b64082 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-08-14 00:40] jmgasper commented on #425
Challenge https://www.topcoder.com/challenges/ecedabfb-829c-4013-925e-ffa084b64082 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-08-14 00:41] jmgasper commented on #423
Challenge https://www.topcoder.com/challenges/d33759f3-21e7-457c-a042-34bf812bb1d7 afrisalyp has been unassigned.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-08-14 00:41] jmgasper commented on #424
Challenge https://www.topcoder.com/challenges/b3718d33-0d3b-4b27-a431-756e9d3880eb afrisalyp has been unassigned.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-08-14 01:12] jmgasper commented on #425
Challenge https://www.topcoder.com/challenges/ecedabfb-829c-4013-925e-ffa084b64082 afrisalyp has been unassigned.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-08-14 06:50] maxceem commented on #423
@jmgasper yeah, it's still there, just checked:

![image](https://user-images.githubusercontent.com/146016/129437875-7a4ce039-298c-4043-8490-4fb7e4753e28.png)

[2021-08-15 14:04] jmgasper commented on #424
Challenge https://www.topcoder.com/challenges/b3718d33-0d3b-4b27-a431-756e9d3880eb has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-08-15 14:06] afrisalyp commented on #424
@jmgasper

Please execute `npm run create-tables` and `npm run migrate-repo-url` first if we deploy in existing environtment.
Thanks.

[2021-08-15 14:08] jmgasper commented on #423
Challenge https://www.topcoder.com/challenges/d33759f3-21e7-457c-a042-34bf812bb1d7 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-08-15 14:09] jmgasper commented on #425
Challenge https://www.topcoder.com/challenges/ecedabfb-829c-4013-925e-ffa084b64082 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-08-15 21:58] #424 closed

[2021-08-15 21:58] jmgasper commented on #424
Payment task has been updated: https://www.topcoder.com/challenges/b3718d33-0d3b-4b27-a431-756e9d3880eb
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `b3718d33-0d3b-4b27-a431-756e9d3880eb` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-08-16 03:29] afrisalyp commented on #425
@jmgasper

Can you please ask user to try to revoke and re-setup the Github account in TCX?

Let see if this will help.

[2021-08-16 04:23] jmgasper commented on #423
@maxceem - In Topcoder-X (x.topcoder.com) can you try going into settings, revoking your Github token, and then renewing it please?

[2021-08-16 06:57] maxceem commented on #423
@jmgasper revoking GitHub token and setting it up again didn't help, see demo video https://monosnap.com/file/oOxHDY3nYchkZWNIu8rTsJ1qMh0rlv. It didn't redirect me anywhere during setting up a new token, not sure if this is expected or no.

[2021-08-16 08:04] afrisalyp commented on #423
@maxceem

Can you please try to revoke the TCX apps in the Github Applications setting?

![Screenshot from 2021-08-16 14-56-45](https://user-images.githubusercontent.com/8887344/129531100-c0fb25bb-82cc-4869-b99d-2fbb5fc09926.png)

Then please try to revoke and re-setup again on the TCX website. It will take us to the Github authorization page.

![Screenshot 2021-08-16 14:59:01](https://user-images

[2021-08-16 08:17] maxceem commented on #423
Thanks for details @afrisalyp this time I've managed to reauthorize the topcoder-x app, but it didn't help in general.

After I removed the application from my settings, and click revoke/setup inside Topcoder-X settings, it did redirect me to the authorise app page, and I can see access to the organisations is there:

![image](https://user-images.githubusercontent.com/146016/129532276-d691e453-b95

[2021-08-16 12:53] afrisalyp commented on #423
Thanks @maxceem

![Screenshot from 2021-08-16 19-50-32](https://user-images.githubusercontent.com/8887344/129566692-375fc22c-49f9-42d3-90a6-8e726bcca7ef.png)

Btw, can you open the webhook setting like this?
Also, please try `Add Webhook` on the page to see if the functionality is working in the Github website.

[2021-08-16 13:05] maxceem commented on #423
Sure @afrisalyp here is how the page looks like

![image](https://user-images.githubusercontent.com/146016/129568102-286721d2-d147-4827-9c22-c4fa1a2bec38.png)

I've added some hook using `example.com` URL and it worked good:

![image](https://user-images.githubusercontent.com/146016/129568225-effef629-9ce4-48ad-a549-a1e7d421b517.png)

After that I've tried again to use Topcoder X, but got error ag

[2021-08-17 02:14] afrisalyp commented on #423
@maxceem

That's weird :)

Can you please help to check with this curl command.
It will get the current hooks and post a new one.
You will need to generate PAT with `admin:repo_hook` scope.

Let see if it works.

[code]

[2021-08-17 07:06] maxceem commented on #423
@afrisalyp yeah, super weird :)

I've tried these commands and both worked good to me:

![image](https://user-images.githubusercontent.com/146016/129679424-9337d5d9-d175-4b05-b983-ef086ddf9cdf.png)

![image](https://user-images.githubusercontent.com/146016/129679571-cd486fdf-d3a9-42f6-9f7c-20a3aec7b204.png)

[2021-08-17 10:33] afrisalyp commented on #423
@jmgasper

Can you please help to check in the DB record?
I am wondering to see the owner of the project.
I'm afraid that the owner is not the same as the copilot (maxceem).

Please check records in the Project table with `repoUrl`:

- https://github.com/topcoder-platform/taas-apis
- https://github.com/topcoder-platform/taas-es-processor

Thanks.

[2021-08-17 21:18] jmgasper commented on #423
@afrisalyp - I've requested these details.

[2021-08-17 23:36] afrisalyp commented on #423
@jmgasper

Sure thanks.

[2021-08-18 01:33] jmgasper commented on #423
@afrisalyp / @maxceem - `veshu` was the owner on the `taas-apis` project.  I've had that switched back to @maxceem so we can try again, thanks!

[2021-08-18 03:34] #415 closed

[2021-08-18 03:34] #316 closed

[2021-08-18 03:34] #422 closed

[2021-08-18 18:40] maxceem commented on #423
Thank you @jmgasper @afrisalyp it helped!

Just for reference: `veshu` was a copilot for this repo more than a half of year ago. He removed himself, and I've configured this repo to my handle at that time. And for half of a year it worked good with my handle until a few days ago when Topcoder X sopped reacting on the TCX labels.
I'm not sure what might happen recently that caused this issue.

[2021-08-19 02:00] afrisalyp commented on #423
Thanks, @jmgasper @maxceem.

Most TCX functionalities that need Github access such as auto commenting and labelling uses copilot access.
But other functionalities like creating hook use the owner access as we assumed that in some cases owners may have higher access role than copilots.

Any idea on this?

[2021-08-19 02:12] jmgasper commented on #423
@afrisalyp - Yeah, I've been discussing with Topcoder.  I think for now we'll just chalk this up as an edge case.

[2021-08-19 02:12] #423 closed

[2021-08-19 02:13] jmgasper commented on #423
Payment task has been updated: https://www.topcoder.com/challenges/d33759f3-21e7-457c-a042-34bf812bb1d7
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `d33759f3-21e7-457c-a042-34bf812bb1d7` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-08-19 02:13] #425 closed

[2021-08-19 02:13] jmgasper commented on #425
Payment task has been updated: https://www.topcoder.com/challenges/ecedabfb-829c-4013-925e-ffa084b64082
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `ecedabfb-829c-4013-925e-ffa084b64082` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-09-02 07:05] jmgasper opened #428 "[$60] Search not global on user mappings"
@afrisalyp - on prod we're seeing the search on user mappings not work real well - it seems to filter only the current page.  That's not helpful on prod, which has thousands of users.  Can we update this to be more global please, preferably on the server-side?

<img width="1009" alt="Screen Shot 2021-08-31 at 10 46 44 PM" src="https://user-images.githubusercontent.com/21790/131798109-89edb501-7cb4

[2021-09-02 07:05] jmgasper commented on #428
Challenge https://www.topcoder.com/challenges/2398ebce-0ac3-41bc-aeae-ac43766eb303 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-09-03 02:15] afrisalyp commented on #428
@jmgasper

Do we expect flexible search on this feature?
It seems it will need to do `scan` all the data to find the matched result.
The query with indexes can only be done with an exact query.

Is it okay? Any thought on this?

[2021-09-03 02:19] jmgasper commented on #428
I think a scan is fine - this functionality will only be used by admins, so it won't be a huge performance hit.

[2021-09-03 02:20] afrisalyp commented on #428
Okay thanks.

[2021-09-03 03:46] afrisalyp commented on #428
@jmgasper

Currently, the search is based on the topcoder username only.

Do we expect that the query will be applied on the github and gitlab username too?

[2021-09-03 04:25] jmgasper commented on #428
Just TC handle is fine.

[2021-09-03 07:39] jmgasper commented on #428
Challenge https://www.topcoder.com/challenges/2398ebce-0ac3-41bc-aeae-ac43766eb303 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-09-03 19:38] jmgasper opened #430 "[$75] Paginate project list at server-side"
@afrisalyp - We're finding that admins have a hard time with the project management list, since they see *all* projects, and that list is loaded in its entirety.  Can we paginate that list from the server side instead?

[2021-09-03 19:38] jmgasper commented on #430
Challenge https://www.topcoder.com/challenges/b9ac0cb5-a0c5-4348-9c7a-cbf2f2c43ec8 has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-09-03 19:38] jmgasper commented on #430
Challenge https://www.topcoder.com/challenges/b9ac0cb5-a0c5-4348-9c7a-cbf2f2c43ec8 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-09-03 23:55] #428 closed

[2021-09-03 23:55] jmgasper commented on #428
Payment task has been updated: https://www.topcoder.com/challenges/2398ebce-0ac3-41bc-aeae-ac43766eb303
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `2398ebce-0ac3-41bc-aeae-ac43766eb303` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-09-05 06:45] afrisalyp commented on #430
@jmgasper

Currently, the search functionality is also working on the client-side.
We expect that to work on the server-side also, right?

[2021-09-05 10:26] jmgasper commented on #430
@afrisalyp - If possible, yes, thanks.

[2021-09-06 21:08] #430 closed

[2021-09-06 21:08] jmgasper commented on #430
Payment task has been updated: https://www.topcoder.com/challenges/b9ac0cb5-a0c5-4348-9c7a-cbf2f2c43ec8
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `b9ac0cb5-a0c5-4348-9c7a-cbf2f2c43ec8` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-09-08 21:09] jmgasper opened #432 "[$100] Duplicate webhooks registered"
@afrisalyp - I added a second repo (comma-delimited) to and _existing_ project in Topcoder-X, and then hit the webhook button to add the webhook to the newly added repo, but it also added a duplicate to the existing repo, so I ended up creating a couple duplicate payments since there were events processed twice.  Can we add a check to make sure we don't add duplicate webhooks please?

<img width="

[2021-09-08 21:09] jmgasper commented on #432
Challenge https://www.topcoder.com/challenges/2c46b476-9e48-42e0-95ee-cf8dd50fb61c has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-09-09 03:28] jmgasper commented on #432
Challenge https://www.topcoder.com/challenges/2c46b476-9e48-42e0-95ee-cf8dd50fb61c has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-09-09 03:29] afrisalyp commented on #432
@jmgasper

Sorry for the problem. We have handled such issues to prevent duplicate webhooks, but it seems the mechanism was broken when we update a project (adding new or removing a repo URL).

Fixed in the latest pull request.

[2021-09-09 03:36] jmgasper commented on #432
@afrisalyp - No worries, thanks for the quick turnaround!

[2021-09-09 03:57] #432 closed

[2021-09-09 03:57] jmgasper commented on #432
Payment task has been updated: https://www.topcoder.com/challenges/2c46b476-9e48-42e0-95ee-cf8dd50fb61c
*Payments Complete*
Winner: afrisalyp
Copilot: ghostar2020
Challenge `2c46b476-9e48-42e0-95ee-cf8dd50fb61c` has been paid and closed.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-09-10 01:27] jmgasper opened #435 "[$5] Test 1,2,3"
Testing prod

[2021-09-10 01:27] jmgasper commented on #435
Challenge https://www.topcoder.com/challenges/9e18a951-e450-472b-ae06-2effeb25d19a has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2021-09-10 01:27] #435 closed

[2021-09-10 01:27] jmgasper commented on #435
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2022-04-22 20:32] jmgasper opened #441 "Feature Request - Milestone mapping"
Allow for milestones to be automatically mapped from Topcoder-X Git tickets to the Topcoder platform

[2022-05-12 00:40] jmgasper opened #442 "Bug - Archived projects still using copilot handle"
If a copilot archives a project, they should be removed from handling of project tickets going forward.

If a project is archived in a copilot TCX account:

1.  Another, new copilot should be able to set up a project on the same repo
2. The original copilot's handle should no longer be used for any processing.

If a project is archived, processing should stop for any new tickets / changes done on

[2022-05-17 04:48] jmgasper opened #443 "UI Fix - change connect ID from a text field to a dropdown"
### Ref (you don't need to access the link)
https://topcoder.atlassian.net/browse/PLAT-1028

### Issue reported

We had a support ticket where a few tasks were created using topcoder-x. The connect project associated with the github repo used for the tasks was wrong and hence the tasks payments were made from the incorrect project. To avoid such scenarios, we should make a check that the user crea

[2022-05-18 05:25] jmgasper opened #444 "[$200] Notification of expired tokens"
When Github / Gitlab tokens expire, it can cause problems with processing tickets.  We should figure out a way to notify copilots when tokens expire.

I think the best approach would be to handle this in the processor:

1.  If an event is raised that the processor should handle (opened ticket, assigned, closed for payment, etc...), but the processor can't handle it because of an expired token
2. U

[2022-05-19 01:19] jmgasper opened #445 "[$50] Dev site - projects not loading"
### Steps

1.  Navigate to x.topcoder-dev.com in an incognito window
2. Login with `jcori` / `appirio123`
3. Click `Project Management`
4. Click `Manage` on a project in the list

Note that the project fails to load.  The fields aren't filled in properly and an error is seen in the JS console:

<img width="2031" alt="Screen Shot 2022-05-19 at 11 17 26 am" src="https://user-images.githubusercontent

[2022-05-19 10:21] jmgasper commented on #445
Challenge https://www.topcoder.com/challenges/e976e72e-7394-494b-9f21-2aaca7ffaeca has been created for this ticket.<br/><br/>```This is an automated message for ghostar2020 via Topcoder X```

[2022-05-19 10:23] jmgasper commented on #445
Challenge https://www.topcoder.com/challenges/e976e72e-7394-494b-9f21-2aaca7ffaeca has been assigned to gets0ul.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-19 23:55] jmgasper opened #447 "[$250] Prod - Gitlab tokens expiring in 24 hours"
We're seeing this happen in prod, but only recently.  The Gitlab tokens assigned to a copilot are only lasting about 24 hours (or less).  I'm having to go in and renew my token every day.  I'm wondering if Gitlab changed something related to token expiration that we need to investigate.

[2022-05-19 23:59] jmgasper commented on #447
Challenge https://www.topcoder.com/challenges/2740929e-85b2-4e20-bc4f-dab25eab5464 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-20 00:00] #445 closed

[2022-05-20 00:00] jmgasper commented on #445
Payment task has been updated: https://www.topcoder.com/challenges/e976e72e-7394-494b-9f21-2aaca7ffaeca
*Payments Complete*
Winner: gets0ul
Challenge `e976e72e-7394-494b-9f21-2aaca7ffaeca` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-20 00:00] jmgasper commented on #444
Challenge https://www.topcoder.com/challenges/f9ab926f-5aa8-4624-a27b-cbc842fd2370 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-20 06:10] jmgasper opened #448 "[$40] Error when creating new project in dev"
This error is seen when using `jcori` to create a new project in dev, targeting a Github repo that is owned by myself.  `jcori` currently has a Github token that matches my account on Github, so there should be no reason this fails.
<img width="1369" alt="Screen Shot 2022-05-20 at 4 09 07 pm" src="https://user-images.githubusercontent.com/21790/169464018-936cf196-8aba-4ffd-90eb-b6e41651a81d.png">

[2022-05-20 06:10] jmgasper commented on #448
Challenge https://www.topcoder.com/challenges/999f2f67-d774-4a44-a686-9b249eb2726b has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-20 23:02] jmgasper commented on #448
Challenge https://www.topcoder.com/challenges/999f2f67-d774-4a44-a686-9b249eb2726b has been assigned to 52code.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-23 04:31] jmgasper commented on #448
@52cs - Any update on this one?

[2022-05-23 04:32] jmgasper commented on #447
@afrisalyp - Any interest in this one?

[2022-05-23 04:32] jmgasper commented on #444
@afrisalyp - Any interest in this one?

[2022-05-23 09:43] gets0ul commented on #447
GitLab changed how they treat OAuth access tokens that don't expire.
OAuth tokens without an expiration is no longer supported https://docs.gitlab.com/ee/integration/oauth_provider.html#expiring-access-tokens.

Now, access tokens expire in two hours https://docs.gitlab.com/ee/update/deprecations.html#oauth-tokens-without-expiration.

[2022-05-23 14:17] jmgasper commented on #444
Challenge https://www.topcoder.com/challenges/f9ab926f-5aa8-4624-a27b-cbc842fd2370 has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-23 14:18] afrisalyp commented on #444
@jmgasper

Where we can find the detail of `Topcoder messaging Kafka queue`?

[2022-05-23 22:16] jmgasper commented on #444
@afrisalyp - That would help 😆

So, we'll be adding records to the `notifications.action.create` Kafka queue on Topcoder's system, similar to what we already use now for handling the Topcoder-X events.

You can view these in lauscher - https://lauscher.topcoder-dev.com, and login with jcori.

A sample is below.

The following fields should be configurable in Topcoder-X as new values:

* `type`
* `

[2022-05-23 23:37] jmgasper commented on #447
@gets0ul - Ok, interesting.  Can we update the processor to renew them when necessary?

[2022-05-24 02:27] afrisalyp commented on #444
@jmgasper

I still faced deployment error on Mac M1.
I restored my old Ubuntu PC to run this service. 😃

Things I need to clarify:

1. It will use the same kafka server, so the endpoint and configs would be the same. We just need to send it to another `Topic`. Is it correct?
2. Currently, how long does Github/Gitlab token expire in Topcoder X?

[2022-05-24 02:29] jmgasper commented on #444
1.  Yes, that's correct
2. That's a new problem we're having with Gitlab.  I think the Github expiration is quite long.  Gitlab used to not expire for months, but they've changed that recently to two hours and we're working through that on a separate ticket

[2022-05-24 05:48] 52cs commented on #448
The env is hard to set up indeed. But I have done finally. I will work on
the issue today. A PR will be made today, no latter than tomorrow.

On Mon, May 23, 2022, 12:32 PM Justin Gasper ***@***.***>
wrote:

[2022-05-24 05:57] jmgasper commented on #448
@52cs - Ok, great, thanks!  If you want to update any documentation to help get other folks set up in the future, I'm happy to pay you for that work as well - just shoot me an email to discuss, thanks!

[2022-05-24 08:21] jmgasper commented on #447
Challenge https://www.topcoder.com/challenges/2740929e-85b2-4e20-bc4f-dab25eab5464 has been assigned to gets0ul.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-24 08:29] 52cs commented on #448
Still have problems with the env setting.

Have a look at my github/gitlab app redirectUrl setting:

Github oauth app:
Homepage URL: http://localhost:8080/
Authorization callback URL:
http://localhost:8080/api/v1/github/owneruser/callback/

Gitlab app:
http://localhost:8080/api/v1/gitlab/owneruser/callback/
http://localhost:8080/api/v1/gitlab/normaluser/callback/

The redirect URI included is not

[2022-05-24 12:39] 52cs commented on #448
@jmgasper
`jcori` has `administrator` role.
Do you have non-admin role test user?

[2022-05-24 20:43] jmgasper commented on #448
@52cs  - Sure, here are a couple:

* Ghostar / appirio123
* TCConnCopilot / Appirio123

[2022-05-24 21:06] gets0ul commented on #447
To be able to renew the access token in processor, we need to add the gitlab client id and secret in the topcoder-x-processor itself, is that fine?

[2022-05-24 21:16] jmgasper commented on #447
Yes, we'll just make that configurable

[2022-05-24 23:47] 52cs commented on #447
@gets0ul @jmgasper
An alternative way is to reuse the `renew` and `revoke` logic in `src/front/src/app/settings/settings.html` which calls the api in the `topcoder-x-ui server`.
You can reuse the logic in the `topcoder-x-ui server` instead of `topcoder-x-process`.
This way, just a wrapper is needed to write.
Use `setInterval` to check the remaining time of the `access_token` periodically:
If it is

[2022-05-25 02:57] jmgasper commented on #447
@52cs - Thanks for that - that would also work.  I would still like to have the email notification, as a backup.

[2022-05-25 05:31] 52cs commented on #448
@jmgasper
I have tested with the non-admin account. It is OK.

Because the challenge cannot be created  by the `topcoder-x-processor` successfully in my local env. I have not test the related part. Please help test it.

About my local `topcoder-x-processor` env setting.
I could confirm that the Auth0 has been configured correctly.
I can use postman with the `throw` out request data from `topcoder-

[2022-05-25 05:49] gets0ul commented on #447
@jmgasper so for this expired gitlab token situation, how do you want it to be done?
After every 2 hours, the token expired, email is sent to notify (done in #444),
and user go to topcoder-x-ui to refresh the token. Is that right?

[2022-05-25 06:05] 52cs commented on #447
@gets0ul You could make it refresh at 1 hours 50 min with refresh_token automatically.

[2022-05-25 06:12] gets0ul commented on #447
@52cs Yeah, that's why I want to confirm if we want the user to manually refresh the token by clicking button in setting or automatically.

[2022-05-25 06:26] 52cs commented on #447
@gets0ul But the logic is different.
The user need be informed, interact with frontend and be redirect to login page to refresh token.
But the backend will enumerate the User table in the database, query every user in it, one by one, and refresh with the refresh_token stored in its row, query, update, periodically.

[2022-05-25 06:59] afrisalyp commented on #444
@jmgasper

I've raised a pull request. Please review it.
It tested in my local kafka.

Please let me know once the `data` is ready.

[2022-05-25 07:01] afrisalyp commented on #444
https://github.com/topcoder-platform/topcoder-x-processor/pull/91/commits

[2022-05-25 09:45] jmgasper commented on #448
Can you capture what's being sent in the POST to the challenge endpoint?  That may help identify where the problem is, thanks!

[2022-05-25 09:49] jmgasper commented on #447
@gets0ul - Ideally, the token refresh would happen automatically - we don't want to make the copilots go to the site every 2 hours.  If the token refresh fails, for some reason, *then* we can send out the notification email, as a backup.

[2022-05-25 10:14] 52cs commented on #448
Post body copies from `throw` log:
[code]

Sent in postman with path and token, success:
[code]

But `topcode-x-processor` throw out say Error 400: params invalid. Validation of Joi not passed?

I'm not sure it is easy or not to set up `challenge-api` locally. I will try it or other attempts latter.

[2022-05-26 07:04] #444 closed

[2022-05-26 07:04] jmgasper commented on #444
Payment task has been updated: https://www.topcoder.com/challenges/f9ab926f-5aa8-4624-a27b-cbc842fd2370
*Payments Complete*
Winner: afrisalyp
Challenge `f9ab926f-5aa8-4624-a27b-cbc842fd2370` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-26 07:14] jmgasper commented on #448
@52cs - I can't seem to figure this out either.  Is there any additional debugging you can pull?  Can you see the full response from the challenge API in TCX and not Postman?

[2022-05-26 13:35] 52cs commented on #448
@jmgasper

It is not easy to see the full response error.

Request:
[code]
Response.data:
[code]
And when I change `https` to `http`, the request success.
But by using postman, both `http` and `https` can success.
Do you know why?

By using `http://api.topcoder-dev.com/v5/challenges` instead of `https://api.topcoder-dev.com/v5/challenges`,
My local TCX can create the challenge successfully now.

[2022-05-26 14:31] 52cs commented on #448
@jmgasper
It is the problem of my proxy. My proxy use `http` forward all request.
When I turn off proxy, both `http` and `https` request works success.
(But with proxy on, both `postman` and `curl` can success with `https` request, only `axios` failed...)

But `mfe-customer-work` use the same post to create challenge, it can success with my http proxy on.
The difference between them should be sett

[2022-05-27 00:00] jmgasper commented on #448
@52cs Interesting, that's very strange.  I'm not sure what the exact issue would be, but I'm glad it's resolved.  Does that help get further on the original issue?

[2022-05-27 14:02] 52cs commented on #448
@jmgasper
Because the create payment page cannot display project to select, I have not test payments.
Other part look good. Please have a review.

I can help to fix the payment page, if needed.

[2022-05-29 21:46] jmgasper commented on #448
@52cs - Thanks - will be reviewing today or tomorrow

[2022-05-30 21:05] #447 closed

[2022-05-30 21:05] jmgasper commented on #447
Payment task has been updated: https://www.topcoder.com/challenges/2740929e-85b2-4e20-bc4f-dab25eab5464
*Payments Complete*
Winner: gets0ul
Challenge `2740929e-85b2-4e20-bc4f-dab25eab5464` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-31 00:43] #448 closed

[2022-05-31 00:44] jmgasper commented on #448
Payment task has been updated: https://www.topcoder.com/challenges/999f2f67-d774-4a44-a686-9b249eb2726b
*Payments Complete*
Winner: 52code
Challenge `999f2f67-d774-4a44-a686-9b249eb2726b` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-31 01:04] #443 closed

[2022-05-31 01:04] #442 closed

[2022-05-31 01:05] #54 closed

[2022-05-31 04:08] jmgasper opened #452 "[$40] Changes to Connect ID dropdown"
A few minor tweaks are required for the project selector on the manage / edit project page:

1.  For each entry, let's just show the project name.  We don't need to show the id or status.  So, instead of `id: 20724, name: Self service - tester1234 - new-self-service-project, status: in_review`, we would just show `Self service - tester1234 - new-self-service-project`
2. We will *only* show project

[2022-05-31 04:08] jmgasper commented on #452
Challenge https://www.topcoder.com/challenges/df2171c2-0b0e-4d40-ad96-0013b8f92a1f has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-31 04:16] jmgasper commented on #452
Challenge https://www.topcoder.com/challenges/df2171c2-0b0e-4d40-ad96-0013b8f92a1f has been assigned to gets0ul.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-31 04:18] jmgasper opened #453 "[$200] Allow for tags in project setup"
When setting up a Topcoder-X project, we need to allow copilots to select the technology tags for challenges created for that project, for tracking purposes.

A Topcoder-X project will have "general" tags, like `[React, Javascript, HTML]`, or `[C#, SQL Server]`, etc...

Currently, we don't apply any technologies to challenges created by Topcoder-X, but this change will allow copilots to set the te

[2022-05-31 04:18] jmgasper commented on #453
Challenge https://www.topcoder.com/challenges/f23bd725-d7dc-4b69-902d-62fa57577138 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-31 14:18] jmgasper commented on #453
Challenge https://www.topcoder.com/challenges/f23bd725-d7dc-4b69-902d-62fa57577138 has been assigned to 52code.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-05-31 22:35] #452 closed

[2022-05-31 22:35] jmgasper commented on #452
Payment task has been updated: https://www.topcoder.com/challenges/df2171c2-0b0e-4d40-ad96-0013b8f92a1f
*Payments Complete*
Winner: gets0ul
Challenge `df2171c2-0b0e-4d40-ad96-0013b8f92a1f` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-06-02 02:31] jmgasper commented on #453
@52cs - How's this one coming?  Will it be done soon?

[2022-06-02 04:37] 52cs commented on #453
@jmgasper
Have a look at draft version.
Two questions:
1. Do we care about the order of tags which displayed in the challenge page?
    If so, the challenge tags will be updated even if from `tags ['a', 'b', 'c']` to `['c', 'b', 'a']`.
    You can change this setting by [https://github.com/topcoder-platform/topcoder-x-ui/blob/9d116739423efc56e898117bf902f57362e44139/src/front/src/app/upsertproject

[2022-06-02 04:52] jmgasper commented on #453
1.  No, the order doesn't matter, thanks.
2. I'm fine if we restrict it going forward - I'll make sure copilots know about this when it's deployed to prod, thanks.

[2022-06-02 06:05] jmgasper commented on #453
@52cs - The UI PR failed when building in CI/CD:

[code]

[2022-06-02 07:40] 52cs commented on #453
@jmgasper
1. removed order restriction
2. the form of ui will inform copilots to fill tags
3. lint has been fixed

[2022-06-02 11:45] jmgasper commented on #453
@52cs:  Latest build failure of the ui:

[code]

[2022-06-02 15:01] 52cs commented on #453
@jmgasper
ui should work now this time :)

[2022-06-02 23:26] jmgasper commented on #453
@52cs - Thanks, updates are deployed in dev.  I'll be testing this today / tomorrow.

One problem I see immediately is that the edit page isn't fully loading in dev, for an existing project

* x.topcoder-dev.com, login with `jcori` / `appirio123`
* Search projects for `2022`, select `2022 TCX Test`
* The edit page doesn't load properly - see screenshot below

<img width="2118" alt="Screen Shot 202

[2022-06-03 00:31] 52cs commented on #453
@jmgasper
fix empty tags from legacy db

[2022-06-05 03:56] jmgasper commented on #453
@52cs - Looks good, thanks!

[2022-06-05 03:56] #453 closed

[2022-06-05 03:56] jmgasper commented on #453
Payment task has been updated: https://www.topcoder.com/challenges/f23bd725-d7dc-4b69-902d-62fa57577138
*Payments Complete*
Winner: 52code
Challenge `f23bd725-d7dc-4b69-902d-62fa57577138` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-06-13 01:53] 52cs opened #459 "[$100] Send event to topcoder-x-processor when token is invalid/expired"
There is also some github/gitlab service in the `topcoder-x-ui` side which need token, such as, adding gitlab user to group service.
When token expires, we need to send notification to the copilot to refresh it.

The previous PR of https://github.com/topcoder-platform/topcoder-x-ui/issues/444 has implemented the notification process. It should be worked well when token of service in the `topcoder-

[2022-06-13 06:34] jmgasper commented on #459
Challenge https://www.topcoder.com/challenges/7308d2bb-7c3d-4d8a-a1e7-6b4e3c96c8c6 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-06-13 06:34] jmgasper commented on #459
Challenge https://www.topcoder.com/challenges/7308d2bb-7c3d-4d8a-a1e7-6b4e3c96c8c6 has been assigned to 52code.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-06-14 21:19] #459 closed

[2022-06-14 21:19] jmgasper commented on #459
Payment task has been updated: https://www.topcoder.com/challenges/7308d2bb-7c3d-4d8a-a1e7-6b4e3c96c8c6
*Payments Complete*
Winner: 52code
Challenge `7308d2bb-7c3d-4d8a-a1e7-6b4e3c96c8c6` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-07-13 06:53] jmgasper opened #462 "[$1] Brown Bag Test 1"
Test

[2022-08-03 13:33] jmgasper opened #463 "Github link generation not working"
This link was generated in production Topcoder-X but it isn't working:

https://x.topcoder.com/api/v1/github/teams/registration/060018ce-6a0b-4ed6-b8a3-63f193dc38ff-1659458370708

The message we're getting from Github:

[code]

And a video showing that we tried renewing the Github token and still receive the same problem:

https://user-images.githubusercontent.com/21790/182620576-382a1f7e-efcb-457

[2022-10-22 23:55] jmgasper opened #464 "Can't create a backing challenge without a ticket description"
As described, no backing challenge will be created, and no error will be bubbled up if a ticket is created without a description.